<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/business"> ROLES </a> &gt; <span class="current">Lista de Roles</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/role/new" *appCanAccess="['role', 'addRole']">
     Agregar
  </a>
</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="nombre" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ROLE </mat-header-cell>
            <mat-cell *matCellDef="let element">
               <span class="mobile-label">Rol:</span>
               {{element.nombre}}
             </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/role/{{element.id}}" *appCanAccess="['role', 'viewRole']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/role/{{element.id}}/edit" *appCanAccess="['role', 'editRole']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)" *appCanAccess="['role', 'deleteRole']"> <mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
