<ng-container>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="text-center bg-light">
          <th colspan="6" scope="col">Cuotas de creditos vigentes </th>
          <th scope="col">
            <button type="button" class="btn btn-success" (click)="guardarEgresosCreditos()"><span class="material-icons">
              done
              </span></button>
          </th>
        </tr>
        <tr>
          <th scope="col">Institucion</th>
          <th scope="col">Cuota</th>
          <th scope="col">M.A</th>
          <th scope="col">P.A</th>
          <th scope="col">Monto</th>
          <th scope="col">Observacion</th>
          <th scope="col"><button (click)="addRowEgressCredit()" mat-mini-fab color="primary" aria-label="Agregar Fila">
            <mat-icon>plus_one</mat-icon>
          </button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let egc of egressCreditList; index as i; first as isFirst">
          
          <td style="width: 20%"><input matInput placeholder="Nombre Financiera" [(ngModel)]="egc.nombreFinanciera" [ngModelOptions]="{standalone: true}"></td>
          <td style="width: 2%"><input matInput placeholder="Cuota Ej: 10/12" [(ngModel)]="egc.cuota" [ngModelOptions]="{standalone: true}"></td>
          <td style="width: 2%"><input matInput placeholder="M.A Ej: 15" [(ngModel)]="egc.maximoAtraso" [ngModelOptions]="{standalone: true}"></td>
          <td style="width: 2%"><input matInput placeholder="P.A Ej: 15" (change)="calcularPromedioEC()" [(ngModel)]="egc.promedioAtraso" [ngModelOptions]="{standalone: true}"></td>
          <td style="width: 10%"><input matInput placeholder="Monto" (change)="calcularTotalEC()" [(ngModel)]="egc.monto" [ngModelOptions]="{standalone: true}"></td> 
          <td style="width: 62%"><input matInput placeholder="Obs" [(ngModel)]="egc.observacion" [ngModelOptions]="{standalone: true}"></td>
          <td style="width: 2%"><button mat-raised-button color="warn" (click)="deleteRowEgressCredit(egc)"><mat-icon>delete</mat-icon></button></td>
        </tr>                             
      </tbody>
      <tfoot>
        <td colspan="3">Total</td>
        <td> Promedio: {{promedioEgress | number}}</td> 
        <td> {{totalEgressCredit | number}} </td>
      </tfoot>
    </table>
  </div>
</ng-container>
