  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/client"> Clientes </a> &gt; <span class="current">Agregar</span></h2>
  <mat-card class="form-card">
    <mat-card-content>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <app-people></app-people>
                    </div>
                    <div class="col-md-12">
                      <app-reference [minRow]="1"></app-reference>
                    </div>
                    <div class="col-md-12">
                      <app-occupation [minRow]="1"></app-occupation>
                    </div>
                    <div class="col-md-12">
                      <app-estate></app-estate>
                    </div>
                    <div class="col-md-12">
                      <app-vehicle></app-vehicle>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <app-ingress [minRow]="1"></app-ingress>
                        </div>
                        <div class="col-md-6">
                          <app-egress [minRow]="1"></app-egress>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <!-- <div formGroupName="conyuge" class="row" *ngIf="myForm.get('separacionBienes').value" >
                    <h4  class="m-0"><mat-icon class="gray-text">assignment_ind</mat-icon>Datos del Conyuge</h4>
                    <div class="col-md-12" style="background-color: #f8f8f9">
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="col-sm-12" appearance="legacy">
                             <mat-label>Sexo</mat-label>
                             <mat-select formControlName="sexo" name="conyuge.sexo"  required>
                               <mat-option  value="MASCULINO">Masculino</mat-option>
                               <mat-option value="FEMENINO">Femenino</mat-option>
                             </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Documento" formControlName="documento" name="conyuge.documento" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Ruc" formControlName="ruc" name="conyuge.ruc">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="col-sm-12" appearance="legacy">
                           <input matInput #input [matDatepicker]="pickerTo" formControlName="fechaNacimiento" name="conyuge.fechaNacimiento" placeholder="Fecha Nacimiento" required>
                           <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                           <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('nacionalidad'))" formControlName="pais" placeholder="Nacionalidad" urlFilter="nacionalidades" [columnsFilter]="['codigo', 'nombre']"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Primer Nombre" formControlName="primerNombre" name="conyuge.primerNombre" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Segundo Nombre" formControlName="segundoNombre" name="conyuge.segundoNombre">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Primer Apellido" formControlName="primerApellido" name="conyuge.primerApellido" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Segundo Apellido" formControlName="segundoApellido" name="conyuge.segundoApellido">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                           <input matInput #input  placeholder="Email" formControlName="email" name="conyuge.email" required>
                           <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        	<mat-form-field   class="col-sm-12" appearance="legacy">
                        		<input matInput #input  placeholder="Telefono Particular" formControlName="telefonoParticular" name="conyuge.telefonoParticular" required>
                        		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-md-3">
                        	<mat-form-field   class="col-sm-12" appearance="legacy">
                        		<input matInput #input  placeholder="Telefono Secundario" formControlName="telefonoSecundario" name="conyuge.telefonoSecundario">
                        		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                             <input matInput #input type="number" min="0"  placeholder="Numero Hijos" formControlName="numeroHijos" name="conyuge.numeroHijos">
                             <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                             <input matInput #input type="number" min="0"  placeholder="Numero Dependientes" formControlName="numeroDependientes" name="numeroDependientes">
                             <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        	<mat-form-field   class="col-sm-12" appearance="legacy">
                        		<input matInput #input  placeholder="Observacion" formControlName="observacion" name="observacion">
                        		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <h4  class="m-0"><mat-icon class="gray-text">directions</mat-icon>Direccion</h4>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('pais'))" placeholder="Pais" urlFilter="paises" [columnsFilter]="['nombre']"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('departamento'))" [disabled]="true" placeholder="Departamento"
                           urlFilter="departamentos" [columnsFilter]="['nombre']" [fkFilterModel]="myForm.get('pais').value"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('ciudad'))" [disabled]="true" placeholder="Ciudad"
                           urlFilter="ciudades" [columnsFilter]="['nombre']" [fkFilterModel]="myForm.get('departamento').value"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="col-sm-12" appearance="legacy">
                             <mat-label>Barrio</mat-label>
                             <mat-select formControlName="barrio"  name="conyuge.barrio" placeholder="Barrio"  required>
                                <mat-form-field appearance="legacy">
                                    <input matInput  placeholder="Buscar.....">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                                 <mat-option *ngFor="let citi of cities"  [value]="citi">{{citi.nombre}}</mat-option>
                             </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Direccion" formControlName="direccionParticular" name="conyuge.direccionParticular" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Direccion Detallada" formControlName="direccionDetallada" name="conyuge.direccionDetallada">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <mat-card-actions>
                <button mat-button [type]="submit"  mat-raised-button>Guardar</button>
              </mat-card-actions>
          </form>
    </mat-card-content>
  </mat-card>
