
<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/functionary"> FUNCIONARIOS </a> &gt; <span class="current">Visualizar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/functionary/{{myForm.value.id}}/edit">
    <i _ngcontent-ugv-c42="" class="fa fa-pencil-square-o"></i>
     Editar
  </a>
  <a mat-raised-button class="m-l-10" (click)="delete(myForm.value)" *appCanAccess="['functionary', 'deleteFunctionary']">
    <i  class="fa fa-times" aria-hidden="true"></i>
     Borrar
  </a>
</div>
<mat-card class="form-card">
  <mat-card-content>
        <form [formGroup]="myForm">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12" *ngIf="myForm.value.sucursal">
                    <div mat-stroked-button class="nav-link" class="m-t-10 float-right">
                      {{myForm.value.sucursal.nombre}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <app-view-people></app-view-people>
                  </div>
                  <div class="col-md-12">
                    <app-view-reference></app-view-reference>
                  </div>
                  <div class="col-md-12">
                    <app-view-studies></app-view-studies>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <div class="row">
                      <div class="col-md-12">
                        <h4  class="m-0 font-20"><mat-icon class="gray-text">perm_contact_calendar</mat-icon>Datos Funcionario</h4>
                      </div>
                      <div class="col-md-12">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-4">
                              <mat-list>
                                <mat-list-item>
                                  <p><span class="font-bold">Tipo Funcionario: </span> {{myForm.controls.tipoFuncionario.value?.nombre}}</p>
                                </mat-list-item>
                                <mat-list-item>
                                  <p><span class="font-bold">Nro. Legajo: </span> {{myForm.value?.nroLegajo}}</p>
                                </mat-list-item>
                                <mat-list-item>
                                  <p><span class="font-bold">Cargo: </span> {{myForm.controls.cargo.value?.nombre}}</p>
                                </mat-list-item>
                              </mat-list>
                            </div>
                            <div class="col-sm-4">
                              <mat-list>
                                <mat-list-item>
                                  <p><span class="font-bold">Fecha Ingreso: </span> {{myForm.value?.fechaIngreso | date: 'dd/MM/yyyy'}}</p>
                                </mat-list-item>
                                <mat-list-item>
                                  <p><span class="font-bold">Fecha Salida: </span> {{myForm.value?.fechaEgreso | date: 'dd/MM/yyyy'}}</p>
                                </mat-list-item>
                                <mat-list-item>
                                  <p><span class="font-bold">Motivo Salida: </span> {{myForm.controls.tipoMotivoRetiro.value?.nombre}}</p>
                                </mat-list-item>
                              </mat-list>
                            </div>
                            <div class="col-sm-4">
                              <mat-list>
                                <mat-list-item>
                                  <p><span class="font-bold">Sucursal: </span> {{myForm.controls.sucursal.value?.nombre}}</p>
                                </mat-list-item>
                              </mat-list>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
  </mat-card-content>
</mat-card>
