
<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/functionary"> FUNCIONARIOS </a> &gt; <span class="current">Editar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
</div>
<div class="sidebar">
  <div class="content">
    <ul>
      <li>
        <a class="mat-fab" style="background: #26c6da;"
          matTooltipPosition="before"
          matTooltip="Listar" routerLink="/service-web/functionary">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li>
        <a class="mat-fab" style="background: #26c6da;"
          matTooltipPosition="before"
          matTooltip="Visualizar" routerLink="/service-web/functionary/{{myForm.get('id').value}}">
          <i class="fa fa-eye"></i>
        </a>
      </li>
      <li>
        <a class="mat-fab mat-warn" color="warn"
         matTooltipPosition="before"
         matTooltip="Eliminar" (click)="delete(myForm.value)" *appCanAccess="['functionary', 'deleteFunctionary']">
         <i class="fa fa-trash-o"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<mat-card class="form-card">
<mat-card-content>
  <form (ngSubmit)="myForm.valid && submit()" [formGroup]="myForm">
      <div class="row">
        <div class="col-md-12">
          <app-people></app-people>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12  m-t-10">
              <h4  class="m-0"><mat-icon class="gray-text">perm_contact_calendar</mat-icon>Datos Funcionario</h4>
              <br>
            </div>
            <div class="col-md-3">
               <app-select-filter (value)="getValue($event, 'tipoFuncionario')" [modelValue]="myForm.get('tipoFuncionario').value"
                placeholder="Tipo Funcionario" urlFilter="tipos-funcionarios" [columnsFilter]="['nombre']"></app-select-filter>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="legacy">
                 <input matInput #input type="text" [value]="myForm.get('nroLegajo').value" placeholder="Numero Legajo" formControlName="nroLegajoVis" required>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field  appearance="legacy">
               <input matInput #input [matDatepicker]="picker" formControlName="fechaIngreso" name="fechaIngreso" placeholder="Fecha Ingreso" required>
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
               <mat-error *ngIf="(myForm.get('fechaIngreso').errors)">
                 <span *ngIf="myForm.get('fechaIngreso').errors.required">
                  Campo requerido
                 </span>
               </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
               <app-select-filter (value)="getValue($event, 'cargo')" [modelValue]="myForm.get('cargo').value"
                placeholder="Cargo" urlFilter="tipos-cargos" [columnsFilter]="['nombre','codigo']"></app-select-filter>
            </div>
            <div class="col-md-4">
               <app-select-filter (value)="getValue($event, 'sucursal')" [modelValue]="myForm.get('sucursal').value"
                placeholder="Sucursal" urlFilter="sucursales" [columnsFilter]="['nombre']"></app-select-filter>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                 <mat-label>Departamento</mat-label>
                 <mat-select [compareWith]="compareObjects" formControlName="departamentos" name="departamentos" multiple required>
                   <mat-option *ngFor="let dep of departments" [value]="dep">{{dep.nombreArea}}</mat-option>
                 </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <mat-label>Profesional</mat-label>
                <mat-select formControlName="esProfesional" name="esProfesional" required>
                  <mat-option [value]="true">SI</mat-option>
                  <mat-option [value]="false">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <ng-container *ngIf="myForm.get('esProfesional').value">
              <div class="col-md-3">
                <mat-form-field appearance="legacy">
                  <input matInput placeholder="Nº Registro" formControlName="nroRegistro"  name="nroRegistro">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="legacy">
                  <mat-label>Especialidades</mat-label>
                  <mat-select [compareWith]="compareObjects" formControlName="especialidades" name="especialidades" multiple required>
                    <mat-option *ngFor="let dep of specialties" [value]="dep">{{dep.nombre}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>
            <div class="col-md-12">
              <app-reference [fkFilterModel]="myForm.value?.persona?.id" [minRow]="1"></app-reference>
            </div>
            <div class="col-md-12">
              <app-studies [fkFilterModel]="myForm.value?.persona?.id" [minRow]="1"></app-studies>
            </div>
            <div class="col-md-12 m-t-10 m-b-10">
              <section>
                 <mat-checkbox formControlName="retirado" name="retirado"><h4  class="m-0">Finalizar Contrato</h4></mat-checkbox>
              </section>
            </div>
            <ng-container *ngIf="myForm.get('retirado').value" class="m-t-10">
              <div class="col-md-3">
                   <app-select-filter (value)="getValue($event, 'tipoMotivoRetiro')" [modelValue]="myForm.get('tipoMotivoRetiro').value"
                    placeholder="Motivo Retiro" urlFilter="tipos-motivos-retiro" [columnsFilter]="['nombre']"></app-select-filter>
              </div>
              <div class="col-md-3">
                <mat-form-field  appearance="legacy">
                 <input matInput #input [matDatepicker]="pickerEgreso" formControlName="fechaEgreso" name="fechaEgreso" placeholder="Fecha Egreso" required>
                 <mat-datepicker-toggle matSuffix [for]="pickerEgreso"></mat-datepicker-toggle>
                 <mat-datepicker #pickerEgreso></mat-datepicker>
                 <mat-error *ngIf="(myForm.get('fechaEgreso').errors)">
                   <span *ngIf="myForm.get('fechaEgreso').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <textarea matInput formControlName="observacionRetiro" name="observacionRetiro" placeholder="Observacion Retiro"></textarea>
                </mat-form-field>
              </div>
            </ng-container>
            <div class="col-md-12  m-t-10">
              <h4  class="m-0"><mat-icon class="gray-text">perm_data_setting</mat-icon>Datos Sistema</h4>
              <br>
            </div>
            <div class="col-md-3">
              <mat-form-field  appearance="legacy">
                <input matInput #input  [value]="myForm.get('alias').value" formControlName="aliasVis" placeholder="Alias"   required>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field  appearance="legacy">
                <input matInput #input [type]="hide ? 'password' : 'text'" formControlName="claveAcceso" placeholder="Contraseña" name="claveAcceso" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="(myForm.get('claveAcceso').errors)">
                  <span *ngIf="myForm.get('claveAcceso').errors.required">
                   Campo requerido
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="legacy">
                 <input matInput #input type="number" min="0"  placeholder="Expiración Sesion(Minutos)" formControlName="expirationTimeTokens" name="expirationTimeTokens" required disabled>
                 <mat-error *ngIf="(myForm.get('expirationTimeTokens').errors)">
                   <span *ngIf="myForm.get('expirationTimeTokens').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
                 <app-select-filter (value)="getValue($event, 'rol')" [modelValue]="myForm.get('rol').value"
                  placeholder="Rol" urlFilter="roles" [columnsFilter]="['nombre']"></app-select-filter>
            </div>
          </div>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button [type]="submit"  mat-raised-button>Guardar</button>
      </mat-card-actions>
  </form>
</mat-card-content>
</mat-card>
