<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/business"> Empresas </a> &gt; <span class="current">Lista de Empresas</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/business/new" *appCanAccess="['enterprise', 'addEnterprise']">
     Agregar
  </a>
  <!-- <div>
      <button class="right-side-toggle waves-effect waves-light btn-success-bost btn btn-circle btn-sm pull-right m-l-10" routerLink="/service-web/business/new" *appCanAccess="['enterprise', 'addEnterprise']">
        <i class="ti-plus text-white" style ="font-size: 18px;position: absolute;left: 16px;;"></i>
      </button>
  </div> -->
</div>
<div>
  <!-- <div class="loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div> -->
  <mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="nombre" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="nombre">
              {{element.nombre}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ruc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ruc">
              {{element.ruc}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef> DIRECCION </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" data-label="direccion">
              {{element.direccion}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef> TELEFONO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="telefono">
              {{element.telefono}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="email">
                {{element.email}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/business/{{element.id}}" *appCanAccess="['enterprise', 'viewEnterprise']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/business/{{element.id}}/edit" *appCanAccess="['enterprise', 'editEnterprise']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)"> <mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="false"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
