<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/business"> Empresas </a> &gt; <span class="current">{{data.nombreFantasia}}</span></h2>
<mat-card class="card">
	<mat-horizontal-stepper #stepper>
  <mat-step >
		<ng-template matStepLabel>Datos de la Empresa</ng-template>
		<form   (ngSubmit)="formControl.form.valid && submit(ngForm)" #formControl="ngForm">
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							 <div class="col-md-4">
								 <div class="dropify-wrapper">
									 <div class="dropify-previewr">
											<div _ngcontent-c29="" class="pro-img">
												<span class="dropify-render">
													<img _ngcontent-c29="" alt="user" src="assets/images/users/4.jpg" width="60%">
												</span>												
											</div>
										</div>
									</div>
							 </div>
							 <div class="col-md-8">
								 <div class="row">
									 <mat-form-field   class="col-sm-12" appearance="legacy">
										<input matInput #input  placeholder="Nombre Fantasia" [(ngModel)]="data.nombreFantasia" name="nombreFantasia" disabled>
										<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
									</mat-form-field>
									<mat-form-field   class="col-sm-12" appearance="legacy">
										<input matInput #input  placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" disabled>
										<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
									</mat-form-field>
									<mat-form-field   class="col-sm-12" appearance="legacy">
										<input matInput #input  placeholder="Ruc" [(ngModel)]="data.ruc" name="ruc" disabled>
										<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
									</mat-form-field>
								</div>
							 </div>
						</div>
						<div class="row">
								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Descripcion" [(ngModel)]="data.descripcion" name="descripcion" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>
								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Direccion" [(ngModel)]="data.direccion" name="direccion" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>
								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Telefono" [(ngModel)]="data.telefono" name="telefono" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>

								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Celular" [(ngModel)]="data.telefonoMovil" name="telefonoMovil" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>

								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Email" [(ngModel)]="data.email" name="email" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>

								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Fax" [(ngModel)]="data.fax" name="fax" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>

								<mat-form-field   class="col-sm-12" appearance="legacy">
									<input matInput #input  placeholder="Observacion" [(ngModel)]="data.observacion" name="observacion" disabled>
									<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>

						</div>
					</div>
					<div class="col-md-5">
						<agm-map class="gmap" [latitude]="latitude" [zoom]="zoom" [longitude]="longitude" [mapTypeControl]="true">
							<agm-marker  [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker(m)" [markerDraggable]="false"
							(dragEnd)="markerDragEnd($event)"></agm-marker>
						</agm-map>
					</div>
				</div>
				<div>
	        <button mat-button matStepperNext>Next</button>
	      </div>
		</form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form   (ngSubmit)="formControl.form.valid && submit(ngForm)" #formControl="ngForm">
      <ng-template matStepLabel>Sucursales</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
