<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/business"> Empresas </a> &gt; <span class="current">{{data.nombreFantasia}}</span></h2>
<mat-card class="card">
	<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step >
		<ng-template matStepLabel>Datos de la Empresa</ng-template>
		<form   (ngSubmit)="formControl.form.valid && submit(ngForm)" #formControl="ngForm">
	      <div class="row">
	        <div class="col-md-12">
	          <div class="row">
	             <div class="col-md-3">
								 <div class="dropify-wrapper">
									<div class="dropify-previewr">
										 <div _ngcontent-c29="" class="pro-img">
											 <span class="dropify-render">
												 <img _ngcontent-c29="" alt="user" src="assets/images/users/4.jpg" width="60%">
											 </span>
										 </div>
									 </div>
								 </div>
	             </div>
	             <div class="col-md-9">
	               <agm-map class="gmap" [latitude]="latitude" [zoom]="zoom" [longitude]="longitude" [mapTypeControl]="true">
	                 <agm-marker  [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker(m)" [markerDraggable]="true"
	                 (dragEnd)="markerDragEnd($event)"></agm-marker>
	               </agm-map>
	             </div>
	          </div>
	          <div class="row">
	            <div class="col-md-4">
	              <mat-form-field   class="col-sm-12" appearance="legacy">
	                <input matInput #input  placeholder="Ruc" [(ngModel)]="data.ruc" name="ruc" disabled>
	                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	              </mat-form-field>
	            </div>
	            <div class="col-md-4">
	              <mat-form-field   class="col-sm-12" appearance="legacy">
	               <input matInput #input  placeholder="Nombre Fantasia" [(ngModel)]="data.nombreFantasia" name="nombreFantasia" disabled>
	               <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	             </mat-form-field>
	            </div>
	            <div class="col-md-4">
	             <mat-form-field   class="col-sm-12" appearance="legacy">
	               <input matInput #input  placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" disabled>
	               <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	             </mat-form-field>
	            </div>
	            <div class="col-md-6">
	            	<mat-form-field   class="col-sm-12" appearance="legacy">
	            		<input matInput #input  placeholder="Descripcion" [(ngModel)]="data.descripcion" name="descripcion" disabled>
	            		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	            	</mat-form-field>
	            </div>
	            <div class="col-md-6">
	            	<mat-form-field   class="col-sm-12" appearance="legacy">
	            		<input matInput #input  placeholder="Direccion" [(ngModel)]="data.direccion" name="direccion" disabled>
	            		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	            	</mat-form-field>
	            </div>
	            <div class="col-md-4">
	              <mat-form-field   class="col-sm-12" appearance="legacy">
	                <input matInput #input  placeholder="Telefono" [(ngModel)]="data.telefono" name="telefono" disabled>
	                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	              </mat-form-field>
	            </div>
	            <div class="col-md-4">
	            	<mat-form-field   class="col-sm-12" appearance="legacy">
	            		<input matInput #input  placeholder="Celular" [(ngModel)]="data.telefonoMovil" name="telefonoMovil" disabled>
	            		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	            	</mat-form-field>
	            </div>
	            <div class="col-md-4">
	            	<mat-form-field   class="col-sm-12" appearance="legacy">
	            		<input matInput #input  placeholder="Email" [(ngModel)]="data.email" name="email" disabled>
	            		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	            	</mat-form-field>
	            </div>
	            <div class="col-md-12">
	            	<mat-form-field   class="col-sm-12" appearance="legacy">
	            		<input matInput #input  placeholder="Fax" [(ngModel)]="data.fax" name="fax" disabled>
	            		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	            	</mat-form-field>
	            </div>
	            <div class="col-md-12">
	            	<mat-form-field   class="col-sm-12" appearance="legacy">
	            		<input matInput #input  placeholder="Observacion" [(ngModel)]="data.observacion" name="observacion" disabled>
	            		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
	            	</mat-form-field>
	            </div>
	          </div>
	        </div>
	      </div>
				<div>
					<button  color="warn" mat-raised-button="" matsteppernext="" class="mat-raised-button mat-warn" type="submit" matStepperNext>
						<span class="mat-button-wrapper">Next</span>
						<div class="mat-button-ripple mat-ripple" matripple="">
						</div>
						<div class="mat-button-focus-overlay">
						</div>
					</button>
	      </div>
	  </form>
  </mat-step>
  <mat-step>
		<ng-template matStepLabel>Sucursales</ng-template>
		<div class="row">
			<div class="col-md-12">
				<a mat-stroked-button class="nav-link" class="m-t-10 float-right" (click)="addSubsidiary()">
					Agregar
				</a>
			</div>
		</div>
		<mat-grid-list cols="4" rowHeight="110px">
		  <mat-grid-tile
		      *ngFor="let subsidiary of subsidiarys"
		      [colspan]="2"
		      [rowspan]="5">
					<mat-card>
						 <mat-card-content>
							 <mat-card-title  class="mat-card-title">
								 <h4 _ngcontent-c42="" class="m-0">{{subsidiary.nombre}}</h4>
							 </mat-card-title>
							 <mat-card-subtitle class="mat-card-subtitle">{{subsidiary.codigoSucursal}}</mat-card-subtitle>
								<a  class="mat-dialog-content"  (click)="editSubsidiary(subsidiary.id)">
										<div class="row">
											<div class="col-md-12">
												<div class="row">
													 <div class="col-md-12">
														 <agm-map class="gmap" [latitude]="latitude" [zoom]="zoom" [longitude]="longitude" [mapTypeControl]="true">
															 <agm-marker  [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker(m)" [markerDraggable]="false"
															 (dragEnd)="markerDragEnd($event)"></agm-marker>
														 </agm-map>
													 </div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Descripcion" [(ngModel)]="subsidiary.descripcion" name="descripcion" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
													<div class="col-md-6">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Direccion" [(ngModel)]="subsidiary.direccion" name="direccion" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
													<div class="col-md-6">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Telefono" [(ngModel)]="subsidiary.telefono" name="telefono" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
													<div class="col-md-6">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Celular" [(ngModel)]="subsidiary.telefonoMovil" name="telefonoMovil" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
													<div class="col-md-6">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Email" [(ngModel)]="subsidiary.email" name="email" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
													<div class="col-md-6">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Fax" [(ngModel)]="subsidiary.fax" name="fax" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
													<div class="col-md-12">
														<mat-form-field   class="col-sm-12" appearance="legacy">
											    		<input matInput #input  placeholder="Observacion" [(ngModel)]="subsidiary.observacion" name="observacion" disabled>
											    		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
											    	</mat-form-field>
													</div>
												</div>
											</div>
										</div>
								</a>
							</mat-card-content>
					 </mat-card>
		  </mat-grid-tile>
		</mat-grid-list>
		<div>
			<button color="accent"  class="mat-raised-button mat-accent" type="button" matStepperPrevious>
				<span class="mat-button-wrapper">Back</span>
				<div class="mat-button-ripple mat-ripple" matripple="">
				</div><div class="mat-button-focus-overlay">
				</div>
			</button>
			<button  color="warn" mat-raised-button="" matsteppernext="" class="mat-raised-button mat-warn" type="submit" matStepperNext>
				<span class="mat-button-wrapper">Next</span>
				<div class="mat-button-ripple mat-ripple" matripple="">
				</div>
				<div class="mat-button-focus-overlay">
				</div>
			</button>
		</div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
