<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/business"> Empresas </a> &gt; <span class="current">{{data.nombreFantasia}}</span></h2>
<mat-card class="card">
	<mat-horizontal-stepper [linear]="false" #stepper>
		<mat-step>
			<ng-template matStepLabel>Datos de la Empresa</ng-template>
			<mat-card style="width: 100%;">
				<mat-card-content>
					<mat-card-title  class="mat-card-title">
						<h4  class="m-0">{{data.nombre}}</h4>
					</mat-card-title>
					<mat-card-subtitle class="mat-card-subtitle">{{data.nombreFantasia}}</mat-card-subtitle>
						<form   (ngSubmit)="formControl.form.valid && submit(ngForm)" #formControl="ngForm">
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-3">
											<div class="dropify-wrapper">
												<div class="dropify-previewr">
													<div _ngcontent-c29="" class="pro-img">
														<span class="dropify-render">
															<img _ngcontent-c29="" alt="user" src="assets/images/users/4.jpg" width="60%">
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-9">
											<agm-map class="gmap" [latitude]="latitude" [zoom]="zoom" [longitude]="longitude" [mapTypeControl]="true">
												<agm-marker  [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker(m)" [markerDraggable]="false"
												(dragEnd)="markerDragEnd($event)"></agm-marker>
											</agm-map>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<mat-list>
												<mat-list-item>
													<p><mat-icon class="gray-text">account_balance</mat-icon>{{data.ruc}}</p>
												</mat-list-item>
												<mat-list-item>
													<p><mat-icon class="gray-text">store</mat-icon>{{data.descripcion}}</p>
												</mat-list-item>
												<mat-list-item>
													<p><mat-icon class="gray-text">directions</mat-icon>{{data.direccion}}</p>
												</mat-list-item>
												<mat-list-item>
													<p><mat-icon class="gray-text">phone</mat-icon>{{data.telefono}}</p>
												</mat-list-item>
											</mat-list>
										</div>
										<div class="col-md-6">
											<mat-list>
												<mat-list-item>
													<p><mat-icon class="gray-text">phone_android</mat-icon>{{data.telefonoMovil}}</p>
												</mat-list-item>
												<mat-list-item>
													<p><mat-icon class="gray-text">alternate_email</mat-icon>{{data.email}}</p>
												</mat-list-item>
												<mat-list-item>
													<p><mat-icon class="gray-text">perm_phone_msg</mat-icon>{{data.fax}}</p>
												</mat-list-item>
												<mat-list-item>
													<p><mat-icon class="gray-text">speaker_notes</mat-icon>{{data.observacion}}</p>
												</mat-list-item>
											</mat-list>
										</div>
									</div>
								</div>
							</div>
						</form>
					</mat-card-content>
				</mat-card>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Sucursales</ng-template>
			<div class="row">
				<div class="col-md-12">
					<a mat-button class="nav-link" color="secondary" class="m-t-10 float-none" (click)="addSubsidiary()">
						Agregar Sucursal
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" *ngFor="let subsidiary of subsidiarys">
					<mat-card style="width: 100%;">
						<mat-card-content>
							<div class="row">
								<div class="col-md-9">
									<mat-card-title  class="mat-card-title">
										<h4 _ngcontent-c42="" class="m-0">{{subsidiary.nombre}}</h4>
									</mat-card-title>
									<mat-card-subtitle class="mat-card-subtitle">{{subsidiary.codigoSucursal}}</mat-card-subtitle>
								</div>
								<div class="col-md-3">
									<a mat-icon-button class="m-t-10 float-right"  *appCanAccess="['enterprise', 'editEnterprise']"  (click)="editSubsidiary(subsidiary.id)">
										 <mat-icon>edit</mat-icon>
									</a>
									<a mat-icon-button class="m-t-10 float-right" mattooltip="Eliminar" mattooltipclass="example-tooltip-red" (click)="deleteSubsidiary(subsidiary)">
										<mat-icon>delete</mat-icon>
									</a>
								</div>
							</div>
							<a  class="mat-dialog-content">
								<div class="row">
									<div class="col-md-12">
										<agm-map class="gmap" [latitude]="subsidiary.latitud == null ? latitude : subsidiary.latitud" [zoom]="zoom" [longitude]="subsidiary.longitud == null ? longitude : subsidiary.longitud" [mapTypeControl]="true">
											<agm-marker  [latitude]="subsidiary.latitud == null ? latitude : subsidiary.latitud" [longitude]="subsidiary.longitud == null ? longitude : subsidiary.longitud" (markerClick)="clickedMarker(m)" [markerDraggable]="false"
											(dragEnd)="markerDragEnd($event)"></agm-marker>
										</agm-map>
										<div class="row">
											<div class="col-md-6" *ngIf="subsidiary.descripcion">
												<p><mat-icon class="gray-text">store</mat-icon>{{subsidiary.descripcion}}</p>
											</div>
											<div class="col-md-6" *ngIf="subsidiary.direccion">
												<p><mat-icon class="gray-text">directions</mat-icon>{{subsidiary.direccion}}</p>
											</div>
											<div class="col-md-6" *ngIf="subsidiary.telefono">
												<p><mat-icon class="gray-text">phone</mat-icon>{{subsidiary.telefono}}</p>
											</div>
											<div class="col-md-6" *ngIf="subsidiary.telefonoMovil">
												<p><mat-icon class="gray-text">phone_android</mat-icon>{{subsidiary.telefonoMovil}}</p>
											</div>
											<div class="col-md-6" *ngIf="subsidiary.email">
												<p><mat-icon class="gray-text">alternate_email</mat-icon>{{subsidiary.email}}</p>
											</div>
											<div class="col-md-6" *ngIf="subsidiary.fax">
												<p><mat-icon class="gray-text">perm_phone_msg</mat-icon>{{subsidiary.fax}}</p>
											</div>
											<div class="col-md-6" *ngIf="subsidiary.observacion">
												<p><mat-icon class="gray-text">speaker_notes</mat-icon>{{subsidiary.observacion}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<mat-list>
													<mat-divider></mat-divider>
  													<h3 mat-subheader>Departamentos</h3>
													<mat-list-item *ngFor="let departments of subsidiary.departamentos">
														<p><span class="label label-primary">{{departments.alias}}</span> {{departments.nombreArea}}</p>
													</mat-list-item>
												</mat-list>
											</div>
										</div>
										
									</div>
								</div>
							</a>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
