<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/client"> Socios </a> &gt; <span class="current">Lista de Socios</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <section class="pull-right">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button  type="button" class="btn btn-secondary" routerLink="/service-web/client/new" *appCanAccess="['client', 'addClient']"><span class="font-bold">Agregar</span></button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button  type="button" class="btn btn-danger" routerLink="/service-web/member-solicitude/emails" *appCanAccess="['client', 'addClient']"><span class="font-bold">Invitar</span></button>
      </div>
    </div>
  </section>
</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
      <mat-form-field appearance="fill" class="search-form">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput #filter placeholder="Buscar" type="search">
        <!-- <mat-icon matSuffix class="cursor-pointer" role="img" aria-hidden="true" (click)="toggleAdvanceFilter()">filter_list</mat-icon> -->
      </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="persona.documento" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="persona.tipoPersona">
           <mat-header-cell *matHeaderCellDef mat-sort-header> TIPO PERSONA </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="tipo persona">
             {{element.persona.tipoPersona}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="persona.documento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="documento">
              {{element.persona.documento}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="persona.ruc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ruc">
              {{element.persona.ruc}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="persona.primerNombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="nombre">
              {{(element.persona.primerNombre == null ? '' : element.persona.primerNombre) +' ' +(element.persona.segundoNombre == null ? '' : element.persona.segundoNombre)
            +', ' +(element.persona.primerApellido == null ? '' : element.persona.primerApellido) + ' ' +(element.persona.segundoApellido == null ? '' : element.persona.segundoApellido)}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="persona.email">
              <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="email">
                {{element.persona.email}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sucursal.nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> SUCURSAL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="sucursal">
                {{element.sucursal.nombre}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/client/{{element.id}}" *appCanAccess="['client', 'viewClient']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/client/{{element.id}}/edit" *appCanAccess="['client', 'editClient']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)" *appCanAccess="['client', 'deleteClient']"> <mat-icon color="warn">delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
