<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/my-review"> MIS ANALISIS </a> &gt; <span class="current">Analizar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
</div>
<mat-card class="form-card">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <mat-card-content *ngIf="myForm.get('propuestaSolicitud').value != null">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-row comment-row ng-star-inserted">
              <div class="comment-text w-100">
                <div class="comment-footer">
                  <span class="text-muted pull-right"><span class="font-bold">Fecha Inicio: </span>{{myForm.get('fechaInicioAnalisis')?.value | date:'MM/dd/yyyy'}}</span>
                  <span class="label label-info"><span class="font-bold">Nº ANALISIS: </span> {{myForm.get('id')?.value}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-t-10 m-b-20">
            <h4 class="m-0 font-20"><mat-icon class="gray-text">assessment</mat-icon>Propuesta</h4>
          </div>
          <div [class]="col-md-12">
                <div class="row">
                  <div class="col-sm-12">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Asesor: </span> {{
                          (myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.primerNombre == null ? '' : myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.primerNombre)
                          + ' ' +
                          (myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.segundoNombre == null ? '' : myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.segundoNombre)
                          + ' ' +
                          (myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.primerApellido == null ? '' : myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.primerApellido)
                          + ' ' +
                          (myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.segundoApellido == null ? '' : myForm.get('propuestaSolicitud')?.value?.funcionario?.persona.segundoApellido)
                          }}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p [matTooltip]="myForm.get('propuestaSolicitud')?.value.id"><span class="font-bold">Nº Solicitud: </span> {{myForm.get('propuestaSolicitud')?.value.id}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p [matTooltip]="myForm.get('propuestaSolicitud')?.value.fechaPresentacion | date:'MM/dd/yyyy'"><span class="font-bold">Fecha Presentacion: </span> {{myForm.get('propuestaSolicitud')?.value.fechaPresentacion | date:'MM/dd/yyyy'}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Monto: </span> {{myForm.get('propuestaSolicitud')?.value.montoSolicitado | number}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Tipo Garantia: </span> {{myForm.get('propuestaSolicitud')?.value?.tipoGarantia.nombre}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Destino: </span> {{myForm.get('propuestaSolicitud')?.value?.tipoDestino.nombre}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-9">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Aclaracion Destino: </span> {{myForm.get('propuestaSolicitud')?.value.detalleDestino}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <!-- <div class="col-md-12 m-t-10">
                    <h5  class="m-b-10 font-20">Parámetros de Cálculo de Cuota.
                    </h5>
                  </div> -->
                  <div class="col-md-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Plazo: </span> {{myForm.get('propuestaSolicitud')?.value.plazo}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Cuota: </span> {{myForm.get('propuestaSolicitud')?.value.importeCuota | number}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Tasa(%): </span> {{myForm.get('propuestaSolicitud')?.value.tasaInteres}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Gastos Administrativos(%): </span> {{myForm.get('propuestaSolicitud')?.value.gastosAdministrativos}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Tipo Calculo: </span> {{myForm.get('propuestaSolicitud')?.value?.tipoCalculoImporte.nombre}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-sm-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Forma Pago: </span> {{myForm.get('propuestaSolicitud')?.value?.tipoPago.nombre}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-3">
                    <mat-list>
                      <mat-list-item>
                        <p><span class="font-bold">Periodo Gracia: </span> {{myForm.get('propuestaSolicitud')?.value.periodoGracia}}</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <mat-list>
                      <mat-list-item>
                        <mat-form-field>
                          <textarea matInput placeholder="Observación" [value]="myForm.get('propuestaSolicitud')?.value?.observacionesDepartamento"></textarea>
                        </mat-form-field>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
          </div>
          <div class="col-md-12  m-t-10" *ngIf="myForm.get('propuestaSolicitud')?.value.id && myForm.get('propuestaSolicitud')?.value.entidad">
            <app-view-upload [entidad]="myForm.get('propuestaSolicitud')?.value.entidad" [idEntidad]="myForm.get('propuestaSolicitud')?.value.id"></app-view-upload>
          </div>
          <div class="col-md-12 m-t-10">
            <h4  class="m-b-10 font-20"><mat-icon class="gray-text">group</mat-icon>Solicitantes
            </h4>
          </div>
          <div class="col-md-12">
            <div formArrayName="detalles">
                <div [formGroupName]="i" *ngFor="let detalle of myForm.get('detalles').controls; let i = index">
                  <fieldset class="m-t-20">
                    <legend>{{detalle.controls['tipoRelacion']?.value }}</legend>
                    <div class="row">
                      <div class="col-md-10">
                        <div class="p-l-20 p-t-10">
                          <div class="font-medium">{{
                            (detalle.get('persona')?.value.primerNombre == null ? '' : detalle.get('persona')?.value.primerNombre)
                            + ' ' +
                            (detalle.get('persona')?.value.segundoNombre == null ? '' : detalle.get('persona')?.value.segundoNombre)
                            + ' ' +
                            (detalle.get('persona')?.value.primerApellido == null ? '' : detalle.get('persona')?.value.primerApellido)
                            + ' ' +
                            (detalle.get('persona')?.value.segundoApellido == null ? '' : detalle.get('persona')?.value.segundoApellido)
                            }} </div>
                          <span class="font-16" *ngIf="detalle.controls['profesion']?.value">{{detalle.controls['profesion']?.value?.nombre}}</span>
                          <br *ngIf="detalle.controls['profesion']?.value">
                          <span class="font-16" *ngIf="detalle.controls['persona']?.value.email">{{detalle.controls['persona']?.value.email }}</span>
                          <br>
                          <span class="font-16" *ngIf="detalle.controls['persona']?.value.telefonoParticular">Telf. {{
                            (detalle.controls['persona']?.value.telefonoParticular == null ? '' : detalle.controls['persona']?.value.telefonoParticular)
                            + ' ' +
                            (detalle.controls['persona']?.value.telefonoSecundario == null ? '' : detalle.controls['persona']?.value.telefonoSecundario)
                            }}</span>
                            <br>
                            <span class="font-16 font-bold" *ngIf="detalle.controls['tipoRelacion']?.value">{{detalle.controls['tipoRelacion']?.value }}</span>
                            <button type="button" class="btn btn-light btn-sm pull-right" (click)="viewPeople(myForm.get('propuestaSolicitud')?.value.id,detalle.controls['persona']?.value.id, detalle.controls['tipoRelacion']?.value)">Más Informacion <i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                      </div>
                      <div class="col-md-12 m-t-10">
                        <div class="row">
                          <div class="col-md-6">
                            <fieldset >
                              <legend>Detalle Monetario(Solicitud)</legend>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field appearance="legacy">
                                    <input matInput #input type="text" placeholder="Solicitud Cuota" formControlName="montoDeudaSolicitudCuotas" name="montoDeudaSolicitudCuotas" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaSolicitudCuotas').errors)">
                                      <span *ngIf="detalle.get('montoDeudaSolicitudCuotas').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="legacy">
                                    <input matInput #input type="text" placeholder="Solicitud Total" formControlName="montoDeudaSolicitud" name="montoDeudaSolicitud" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaSolicitud').errors)">
                                      <span *ngIf="detalle.get('montoDeudaSolicitud').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="legacy">
                                    <input matInput #input type="text" placeholder="Desc. Cuota" formControlName="montoDeudaDescuentoCuotas" name="montoDeudaDescuentoCuotas" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaDescuentoCuotas').errors)">
                                      <span *ngIf="detalle.get('montoDeudaDescuentoCuotas').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="legacy">
                                    <input matInput #input type="text" placeholder="Desc. Total" formControlName="montoDeudaDescuento" name="montoDeudaDescuento" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaDescuento').errors)">
                                      <span *ngIf="detalle.get('montoDeudaDescuento').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Deuda Total: </span> {{detalle.get('montoDeudaSolicitudCuotaTotal').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Deuda Total : </span> {{detalle.get('montoDeudaSolicitudTotal').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Ingresos" formControlName="ingresoTotal" name="ingresoTotal" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('ingresoTotal').errors)">
                                      <span *ngIf="detalle.get('ingresoTotal').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Ingresos 40%" formControlName="porcentajeCapacidad" name="porcentajeCapacidad" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('porcentajeCapacidad').errors)">
                                      <span *ngIf="detalle.get('porcentajeCapacidad').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Otros" formControlName="ingresosOtros" name="ingresosOtros" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('ingresosOtros').errors)">
                                      <span *ngIf="detalle.get('ingresosOtros').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Otros 100%" formControlName="porcentajeCapacidadOtros" name="porcentajeCapacidadOtros" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('porcentajeCapacidadOtros').errors)">
                                      <span *ngIf="detalle.get('porcentajeCapacidadOtros').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Total: </span> {{detalle.get('montoTotalIngresos').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Total : </span> {{detalle.get('montoTotalIngresosPorcentaje').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Diferencia : </span> {{detalle.get('saldoTotalSolicitud').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                          <div class="col-md-6">
                            <fieldset >
                              <legend>Detalle Monetario</legend>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Saldo Cuota" formControlName="montoDeudaCuotas" name="montoDeudaCuotas" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaCuotas').errors)">
                                      <span *ngIf="detalle.get('montoDeudaCuotas').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Saldo Total" formControlName="montoDeuda" name="montoDeuda" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeuda').errors)">
                                      <span *ngIf="detalle.get('montoDeuda').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Tarjeta Cuota" formControlName="montoDeudaTarjetaMinimo" name="montoDeudaTarjetaMinimo" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaTarjetaMinimo').errors)">
                                      <span *ngIf="detalle.get('montoDeudaTarjetaMinimo').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Tarjeta Total" formControlName="montoDeudaTarjeta" name="montoDeudaTarjeta" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaTarjeta').errors)">
                                      <span *ngIf="detalle.get('montoDeudaTarjeta').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Saldo Cony. Cuota" formControlName="montoDeudaCuotasConyuge" name="montoDeudaCuotasConyuge" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaCuotasConyuge').errors)">
                                      <span *ngIf="detalle.get('montoDeudaCuotasConyuge').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Saldo Cony. Total" formControlName="montoDeudaConyuge" name="montoDeudaConyuge" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaConyuge').errors)">
                                      <span *ngIf="detalle.get('montoDeudaConyuge').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field    appearance="legacy">
                                    <input matInput #input type="text" placeholder="Tarjeta Cony. Cuota" formControlName="montoDeudaTarjetaMinimoConyuge" name="montoDeudaTarjetaMinimoConyuge" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaTarjetaMinimoConyuge').errors)">
                                      <span *ngIf="detalle.get('montoDeudaTarjetaMinimoConyuge').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Tarjeta Cony. Total" formControlName="montoDeudaTarjetaConyuge" name="montoDeudaTarjetaConyuge" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('montoDeudaTarjetaConyuge').errors)">
                                      <span *ngIf="detalle.get('montoDeudaTarjetaConyuge').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Total Cuota: </span> {{detalle.get('montoDeudaTotalCuota').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Total : </span> {{detalle.get('montoDeudaTotal').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                          <div class="col-md-12 m-t-10">
                            <fieldset>
                              <legend>Referencia</legend>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field>
                                    <textarea matInput placeholder="Referencia" formControlName="observacionReferencia" name="observacionReferencia"></textarea>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Credito Vigente" formControlName="creditoVigente" name="creditoVigente" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('creditoVigente').errors)">
                                      <span *ngIf="detalle.get('creditoVigente').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Garantia Credito" formControlName="garantiasVigente" name="garantiasVigente" required>
                                    <mat-error *ngIf="(detalle.get('garantiasVigente').errors)">
                                      <span *ngIf="detalle.get('garantiasVigente').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field  appearance="legacy">
                                     <mat-label>Calificacion Ult. Creditos</mat-label>
                                     <mat-select formControlName="calificacionCredCanc" name="calificacionCredCanc">
                                       <mat-option  value="MALO">MALO</mat-option>
                                       <mat-option  value="BUENO">BUENO</mat-option>
                                       <mat-option  value="MUY BUENO">MUY BUENO</mat-option>
                                       <mat-option  value="EXCELENTE">EXCELENTE</mat-option>
                                     </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field  appearance="legacy">
                                        <input matInput #input type="text" placeholder="Faja Informconf" formControlName="fajaInformconf" name="fajaInformconf" required>
                                        <mat-error *ngIf="(detalle.get('fajaInformconf').errors)">
                                          <span *ngIf="detalle.get('fajaInformconf').errors.required">
                                           Campo requerido
                                          </span>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-list>
                                        <mat-list-item>
                                          <button type="button" class="btn btn-light btn-sm pull-right">Reporte <i class="fa fa-search" aria-hidden="true"></i></button>
                                        </mat-list-item>
                                      </mat-list>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <mat-form-field>
                                    <textarea matInput placeholder="Detalle Informconf" formControlName="informconf" name="informconf"></textarea>
                                    <mat-error *ngIf="(detalle.get('informconf').errors)">
                                      <span *ngIf="detalle.get('informconf').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Capacidad de Pago" formControlName="capacidadPago" name="capacidadPago" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('capacidadPago').errors)">
                                      <span *ngIf="detalle.get('capacidadPago').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="number" placeholder="Antiguedad Laboral" formControlName="antiguedadLaboral" name="antiguedadLaboral" required>
                                    <mat-error *ngIf="(detalle.get('antiguedadLaboral').errors)">
                                      <span *ngIf="detalle.get('antiguedadLaboral').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="number" placeholder="Edad" formControlName="edad" name="edad" required>
                                    <mat-error *ngIf="(detalle.get('edad').errors)">
                                      <span *ngIf="detalle.get('edad').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="number" placeholder="Nº Hijos" formControlName="cantidadHijos" name="cantidadHijos" required>
                                    <mat-error *ngIf="(detalle.get('cantidadHijos').errors)">
                                      <span *ngIf="detalle.get('cantidadHijos').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Estado Civil" formControlName="estadoCivil" name="estadoCivil" required>
                                    <mat-error *ngIf="(detalle.get('estadoCivil').errors)">
                                      <span *ngIf="detalle.get('estadoCivil').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                  <mat-form-field>
                                    <textarea matInput placeholder="Datos Relevantes" formControlName="datosRelevantes" name="datosRelevantes"></textarea>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Deuda Referencia Cuota" formControlName="deudaCuotaReferencia" name="deudaCuotaReferencia" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('deudaCuotaReferencia').errors)">
                                      <span *ngIf="detalle.get('deudaCuotaReferencia').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Deuda Referencia Total" formControlName="deudaTotalReferencia" name="deudaTotalReferencia" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('deudaTotalReferencia').errors)">
                                      <span *ngIf="detalle.get('deudaTotalReferencia').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Ctral. Riesgo Cuota" formControlName="deudaCuotaCtralRgo" name="deudaCuotaCtralRgo" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('deudaCuotaCtralRgo').errors)">
                                      <span *ngIf="detalle.get('deudaCuotaCtralRgo').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field  appearance="legacy">
                                    <input matInput #input type="text" placeholder="Ctral. Riesgo Total" formControlName="deudaTotalCtralRgo" name="deudaTotalCtralRgo" required currencyMask>
                                    <mat-error *ngIf="(detalle.get('deudaTotalCtralRgo').errors)">
                                      <span *ngIf="detalle.get('deudaTotalCtralRgo').errors.required">
                                       Campo requerido
                                      </span>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Total Dueda Ext.: </span> {{detalle.get('totalDeudaCuotaExterior').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                                <div class="col-md-6">
                                  <mat-list>
                                    <mat-list-item>
                                      <p><span class="font-bold">Total Dueda Ext.: </span> {{detalle.get('totalDeudaExterior').value | number}}</p>
                                    </mat-list-item>
                                  </mat-list>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
            </div>
          </div>
          <div class="col-md-12 m-t-20">
            <fieldset>
              <legend>Recomendación del Analista de Creditos</legend>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <textarea matInput placeholder="Recomendación" formControlName="observacionRecomendacion" name="observacionRecomendacion" required></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field>
                    <textarea matInput placeholder="Observación Desembolso" formControlName="observacion" name="observacion"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <section class="example-section">
                    <label class="example-margin">Resultado:</label>
                    <mat-radio-group formControlName="estado" name="estado">
                      <mat-radio-button [checked]="myForm.get('estado')?.value.id == 4" class="p-l-10"  [value]="{id:4}">Rechazar</mat-radio-button>
                      <mat-radio-button [checked]="myForm.get('estado')?.value.id == 5" class="p-l-10"  [value]="{id:5}">Retransferir</mat-radio-button>
                      <mat-radio-button [checked]="myForm.get('estado')?.value.id == 3" class="p-l-10"  [value]="{id:3}">Pre-Aprobar</mat-radio-button>
                      <mat-radio-button *ngIf="!myForm.get('requiereVerificador').value" [checked]="myForm.get('estado')?.value.id == 6" class="p-l-10"  [value]="{id:6}">Aprobar</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="(myForm.get('estado').errors)">
                      <span *ngIf="myForm.get('estado').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </section>
                </div>
                <div class="col-md-12 m-t-10" *ngIf="myForm.get('estado')?.value.id == 6">
                  <fieldset>
                    <legend>Resolución Aprobación</legend>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field  appearance="legacy">
                          <input matInput #input type="text" placeholder="Monto Aprobado" formControlName="montoAprobado" name="montoAprobado" required currencyMask>
                          <mat-error *ngIf="(myForm.get('montoAprobado').errors)">
                            <span *ngIf="myForm.get('montoAprobado').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field>
                          <textarea matInput placeholder="Observación Aprobación" formControlName="obsApro" name="obsApro" required></textarea>
                          <mat-error *ngIf="(myForm.get('obsApro').errors)">
                            <span *ngIf="myForm.get('obsApro').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-12 m-t-10" *ngIf="myForm.get('estado')?.value.id == 5">
                  <fieldset>
                    <legend>Observación Retransferencia</legend>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field>
                          <textarea matInput placeholder="Observación" formControlName="observacionRetransferencia" name="observacionRetransferencia" required></textarea>
                          <mat-error *ngIf="(myForm.get('observacionRetransferencia').errors)">
                            <span *ngIf="myForm.get('observacionRetransferencia').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <mat-card-actions>
          <button mat-button [type]="onSubmit" mat-raised-button>Guardar</button>
        </mat-card-actions>
      </mat-card-content>
    </form>
</mat-card>
