<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{currentUser.username}} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Configuraciones </button>
        <button mat-menu-item routerLink="/service-web/profile/{{currentUser.id}}">
            <mat-icon>account_box</mat-icon> Mi Perfil </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Salir </button>
    </mat-menu>

</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <ng-container *appCanAccess="[menuitem.entity, menuitem.role]">
          <a class="" appAccordionToggle [routerLink]="['/service-web/', menuitem.state]" *ngIf="menuitem.type === 'link'">
              <mat-icon>{{ menuitem.icon }}</mat-icon>
              <span>{{ menuitem.name }}</span>
              <span fxFlex></span>
              <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
        </ng-container>
        <div class="saperator text-muted ng-star-inserted" *ngIf="menuitem.type === 'title'">
          <span>{{ menuitem.name }}</span>
        </div>
        <a  appAccordionToggle class="ng-star-inserted" href="javascript:;" style="flex-direction: row; box-sizing: border-box; display: flex;" *ngIf="menuitem.type === 'box'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span><!---->
            <mat-icon class="dd-icon" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list class="sub-item mat-nav-list mat-list-base ng-star-inserted"  role="navigation" *ngIf="menuitem.type === 'box'">
          <mat-list-item class="mat-list-item ng-star-inserted" routerlinkactive="selected" *ngFor="let sub of menuitem.subMenu">
            <ng-container *appCanAccess="[sub.entity, sub.role]">
              <a class="relative ng-star-inserted" routerlinkactive="selected" [routerLink]="['/service-web/', sub.state]">{{ sub.name }}</a>
            </ng-container>
          </mat-list-item>
        </mat-nav-list>
    </mat-list-item>

</mat-nav-list>
