<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/compromise"> Compromisos </a> &gt; <span class="current">Lista de Compromisos</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <button  type="button" class="btn btn-outline-secondary waves-effect px-3 btn-sm m-r-5" color="primary" (click)="print()" >Imprimir</button>

</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
      <mat-form-field appearance="fill" class="search-form">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput #filter placeholder="Buscar" type="search">
        <mat-icon matSuffix class="cursor-pointer" role="img" aria-hidden="true" (click)="toggleAdvanceFilter()">filter_list</mat-icon>
      </mat-form-field>

      <mat-expansion-panel [expanded]="advanceFilterOpenState" class="advance-search-form" [ngClass]="{'opened': advanceFilterOpenState}">
        <form [formGroup]="filterForm" class="p-t-20">
          <div  class="row">
            <div class="col-md-6">
              <mat-form-field  appearance="legacy">
                <input matInput #input [matDatepicker]="pickerInicio" formControlName="fechaInicio"  name="fechaInicio" placeholder="Fecha Inicio">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field  appearance="legacy">
                <input matInput #input [matDatepicker]="pickerFin" formControlName="fechaFin"  name="fechaFin" placeholder="Fecha Fin">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
              </mat-form-field>
            </div>
            <ng-container formGroupName="persona">
              <div class="col-md-3">
                <mat-form-field appearance="legacy">
                  <input matInput placeholder="Documento" formControlName="documento"  name="documento">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="legacy">
                  <input matInput placeholder="Ruc" formControlName="ruc"  name="ruc">
                </mat-form-field>
              </div>
            </ng-container>            
            <div class="col-md-12 p-t-20 advance-filter-buttons">
              <button mat-button mat-raised-button #filterButton>Filtrar</button>
              <button mat-button mat-flat-button (click)="closeFilterAdvance()">Cerrar</button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="fechaPago" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="persona.primerNombre">
           <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nombre">
             {{(element['cliente.persona.primerNombre'] == null ? '' : element['cliente.persona.primerNombre']) +' ' +(element['cliente.persona.segundoNombre'] == null ? '' : element['cliente.persona.segundoNombre'])
           +', ' +(element['cliente.persona.primerApellido'] == null ? '' : element['cliente.persona.primerApellido']) + ' ' +(element['cliente.persona.segundoApellido'] == null ? '' : element['cliente.persona.segundoApellido'])}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="nroCredito">
           <mat-header-cell *matHeaderCellDef mat-sort-header> NRO. CREDITO </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nro. credito">
             {{element.nroCredito}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="cuotas">
            <mat-header-cell *matHeaderCellDef mat-sort-header> CUOTAS </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="cuotas">
              {{element.cuotas}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MONTO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="monto">
              {{element.monto}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaPago">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PAGO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="fechaPago">
              {{element.fechaPago | date:'dd/MM/yyyy'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/compromise/{{element.id}}" *appCanAccess="['compromise', 'viewCompromise']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)" *appCanAccess="['compromise', 'deleteCompromise']"> <mat-icon color="warn">delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
