<ng-container *ngIf="peopleForm.get(formArrayName)['controls'].length > 0">
  <div class="row m-t-20">
    <div class="col-md-12 m-b-10">
        <h4  class="m-0 font-20"><mat-icon class="gray-text">store</mat-icon>Inmuebles
        </h4>
    </div>
    <div class="timeline-badge danger" *ngIf="peopleForm.get(formArrayName)['controls'].length == 0">
      <i  class="fa fa-info-circle"></i>
    </div>
    <div class="timeline-panel" *ngIf="peopleForm.get(formArrayName)['controls'].length == 0">
      <div class="timeline-heading">
        <h4 class="timeline-title">No posee registros cargados</h4>
      </div>
    </div>
    <ng-container formGroupName="persona">
      <div [formArrayName]="formArrayName"  *ngFor="let bienesInmuebles of peopleForm.get(formArrayName)['controls']; let i = index" class="col-md-12">
        <blockquote>
          <div [formGroupName]="i">
            <div class="row m-t-20">
              <div class="col-sm-12">
                <p><span class="font-bold">Direccion: </span> {{bienesInmuebles.get('direccion')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.controls.pais.value.nombre">
                <p><span class="font-bold">Pais: </span> {{bienesInmuebles.controls.pais?.value?.nombre}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.controls.departamento.value.nombre">
                <p><span class="font-bold">Departamento: </span> {{bienesInmuebles.controls.departamento.value?.nombre}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.controls.ciudad.value?.nombre">
                <p><span class="font-bold">Ciudad: </span> {{bienesInmuebles.controls.ciudad.value?.nombre}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('edificado')?.value">
                <p><span class="font-bold">Edificado: </span> {{(bienesInmuebles.get('edificado')?.value == true ? 'S' : 'N')}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('escriturado')?.value">
                <p><span class="font-bold">Escriturado: </span> {{(bienesInmuebles.get('escriturado')?.value == true ? 'S' : 'N')}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('numeroFinca')?.value">
                <p><span class="font-bold">Nº de Finca: </span> {{bienesInmuebles.get('numeroFinca')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('numeroMatricula')?.value">
                <p><span class="font-bold">Nº de Matricula: </span> {{bienesInmuebles.get('numeroMatricula')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('cuentaCatastral')?.value">
                <p><span class="font-bold">Cuenta Catastral: </span> {{bienesInmuebles.get('cuentaCatastral')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('hipotecado')?.value">
                <p><span class="font-bold">Hipotecado: </span> {{(bienesInmuebles.get('hipotecado')?.value == true ? 'S' : 'N')}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('lugarHipoteca')?.value">
                <p><span class="font-bold">Lugar Hipoteca: </span> {{bienesInmuebles.get('lugarHipoteca')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('fechaHipoteca')?.value">
                <p><span class="font-bold">Fecha Hipoteca: </span> {{bienesInmuebles.get('fechaHipoteca')?.value | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('valorActual').value">
                <p><span class="font-bold">Valor Actual: </span> {{bienesInmuebles.get('valorActual')?.value | number }}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('saldo').value">
                <p><span class="font-bold">Saldo a Pagar: </span> {{bienesInmuebles.get('saldo')?.value | number }}</p>
              </div>
              <div class="col-sm-4" *ngIf="bienesInmuebles.get('cuotaMensual').value">
                <p><span class="font-bold">Cuota Mensual: </span> {{bienesInmuebles.get('cuotaMensual')?.value | number }}</p>
              </div>
            </div>
          </div>
        </blockquote>
      </div>
    </ng-container>
  </div>
</ng-container>
