<ng-container>
  <div class="row" *ngIf="estateForm.get(formArrayName)['controls'].length > 0">
    <div class="col-md-12">
        <h4  class="m-0"><mat-icon class="gray-text">store</mat-icon>Inmuebles
        </h4>
    </div>
    <div class="timeline-badge danger" *ngIf="estateForm.get(formArrayName)['controls'].length == 0">
      <i  class="fa fa-info-circle"></i>
    </div>
    <div class="timeline-panel" *ngIf="estateForm.get(formArrayName)['controls'].length == 0">
      <div class="timeline-heading">
        <h4 class="timeline-title">No posee registros cargados</h4>
      </div>
    </div>
    <div [formArrayName]="formArrayName"  *ngFor="let bienesInmuebles of estateForm.get(formArrayName)['controls']; let i = index" class="col-md-12">
      <blockquote>
        <div [formGroupName]="i">
          <div class="row">
             <div class="col-sm-4">
               <div>
                 <div class="font-medium">Direccion </div>
                 <span class="font-16">{{bienesInmuebles.get('direccion').value }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div>
                 <div class="font-medium">Pais </div>
                 <span class="font-16">{{bienesInmuebles.controls.pais.value.nombre }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div>
                 <div class="font-medium">Departamento </div>
                 <span class="font-16">{{bienesInmuebles.controls.departamento.value.nombre }}</span>
               </div>
             </div>
             <div class="col-md-2">
               <div>
                 <div class="font-medium">Ciudad </div>
                 <span class="font-16">{{bienesInmuebles.controls.ciudad.value.nombre }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Edificado </div>
                 <span class="font-16">{{(bienesInmuebles.get('edificado').value == true ? 'S' : 'N')}}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Escriturado </div>
                 <span class="font-16">{{(bienesInmuebles.get('escriturado').value == true ? 'S' : 'N')}}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Nº de Finca </div>
                 <span class="font-16">{{bienesInmuebles.get('numeroFinca').value }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Nº de Matricula </div>
                 <span class="font-16">{{bienesInmuebles.get('numeroMatricula').value }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Cuenta Catastral </div>
                 <span class="font-16">{{bienesInmuebles.get('cuentaCatastral').value }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Hipotecado </div>
                 <span class="font-16">{{(bienesInmuebles.get('hipotecado').value == true ? 'S' : 'N')}}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Lugar Hipoteca </div>
                 <span class="font-16">{{bienesInmuebles.get('lugarHipoteca').value }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Fecha Hipoteca </div>
                 <span class="font-16">{{bienesInmuebles.get('fechaHipoteca').value | date: 'dd/MM/yyyy' }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Valor Actual </div>
                 <span class="font-16">{{bienesInmuebles.get('valorActual').value | number }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Saldo a Pagar </div>
                 <span class="font-16">{{bienesInmuebles.get('saldo').value | number }}</span>
               </div>
             </div>
             <div class="col-md-3">
               <div class="p-t-10">
                 <div class="font-medium">Cuota Mensual </div>
                 <span class="font-16">{{bienesInmuebles.get('cuotaMensual').value | number }}</span>
               </div>
             </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</ng-container>
