<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/client"> Solicitud Creditos </a> &gt; <span class="current">Agregar</span></h2>
<mat-card class="form-card">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- <mat-tab-group>
      <mat-tab> -->
        <!-- <ng-template mat-tab-label>
          <h4  class="m-0"><mat-icon class="gray-text">event_note</mat-icon>Propuesta Credito</h4>
        </ng-template> -->
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <h4  class="m-b-10 font-20"><mat-icon class="gray-text">event_note</mat-icon>Propuesta Credito</h4>
            </div>
            <br>
            <div class="col-md-12">
              <div class="row">
                    <!-- <div class="col-md-12">
                      <h4  class="m-0"><mat-icon class="gray-text">account_circle</mat-icon>Cliente</h4>
                    </div> -->
                  <!-- <blockquote> -->
                    <ng-container formGroupName="cliente">
                        <div class="col-sm-3">
                          <mat-form-field    appearance="legacy">
                            <input matInput #input  placeholder="Documento" formControlName="documento"  name="documento" required>
                            <mat-icon matSuffix (click)="myForm.get('cliente').get('documento').valid && peopleCi(myForm.get('cliente').get('documento').value, i)">search</mat-icon>
                            <mat-error *ngIf="(myForm.get('cliente').get('documento').errors)">
                              <span *ngIf="myForm.get('cliente').get('documento').errors.required">
                               Campo requerido
                              </span>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                          <mat-form-field    appearance="legacy">
                            <input matInput #input  placeholder="Ruc" formControlName="ruc"  name="ruc" required>
                            <mat-icon matSuffix (click)="myForm.get('cliente').get('ruc').valid && peopleCi(myForm.get('cliente').get('ruc').value, i)">search</mat-icon>
                            <mat-error *ngIf="(myForm.get('cliente').get('ruc').errors)">
                              <span *ngIf="myForm.get('cliente').get('ruc').errors.required">
                               Campo requerido
                              </span>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-list>
                            <mat-list-item>
                              <p><span class="font-bold">Nombre: </span> {{myForm.get('cliente').get('nombre').value}}</p>
                            </mat-list-item>
                          </mat-list>
                        </div>
                        <div class="col-md-2">
                          <section class="example-section">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                              <div class="btn-group mr-2" role="group" aria-label="First group" *ngIf="myForm.get('cliente').get('id').value">
                                <button type="button" class="btn btn-light" (click)="delete(myForm.get('cliente').get('id').value)"><i class="fa fa-eye"></i></button>
                              </div>
                              <div class="btn-group mr-2" role="group" aria-label="Second group" *ngIf="myForm.get('cliente').get('id').value">
                                <button type="button" class="btn btn-light" (click)="editRelationship(myForm.get('cliente').get('id').value)"><i class="fa fa-edit"></i></button>
                              </div>
                            </div>
                               <!-- <a mat-icon-button color="warn" (click)="delete(referencias.value)"> <mat-icon>delete_forever</mat-icon></a> -->
                          </section>
                        </div>
                    </ng-container>
                  <!-- </blockquote> -->
                <div class="col-md-4">
                  <app-select-filter appearance="legacy" (value)="getValue($event, 'modalidad')" [modelValue]="myForm.get('modalidad').value"
                   placeholder="Modalidad" urlFilter="modalidades" [columnsFilter]="['nombre']"></app-select-filter>
                </div>
                <div class="col-md-4">
                  <app-select-filter appearance="legacy" (value)="getValue($event, 'tipoCalculoImporte')" [modelValue]="myForm.get('tipoCalculoImporte').value"
                   placeholder="Tipo Calculo" urlFilter="tipos-calculos" [columnsFilter]="['nombre']"></app-select-filter>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Monto</mat-label>
                    <input matInput #input type="text" placeholder="Monto" formControlName="montoSolicitado"  name="montoSolicitado"  currencyMask>
                    <mat-hint align="end">{{myForm.get('montoSolicitado').value | number}}</mat-hint>
                    <mat-error *ngIf="(myForm.get('montoSolicitado').errors)">
                      <span *ngIf="myForm.get('montoSolicitado').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <app-select-filter appearance="legacy" (value)="getValue($event, 'tipoDestino')" [modelValue]="myForm.get('tipoDestino').value"
                   placeholder="Destino" urlFilter="tipos-destinos" [columnsFilter]="['nombre']"></app-select-filter>
                </div>
                <div class="col-md-8">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Aclaracion Destino</mat-label>
                    <input matInput #input  placeholder="Aclaracion Destino" formControlName="detalleDestino"  name="detalleDestino">
                    <mat-error *ngIf="(myForm.get('detalleDestino').errors)">
                      <span *ngIf="myForm.get('detalleDestino').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div [class]="(myForm.get('tipoDesembolso').value == null || myForm.get('tipoDesembolso').value.id != 2) ?  'col-md-4' : 'col-md-3'">
                  <app-select-filter appearance="legacy" (value)="getValue($event, 'tipoGarantia')" [modelValue]="myForm.get('tipoGarantia').value"
                   placeholder="Tipo Garantia" urlFilter="tipos-garantias" [columnsFilter]="['nombre']"></app-select-filter>
                </div>
                <div [class]="(myForm.get('tipoDesembolso').value == null || myForm.get('tipoDesembolso').value.id != 2) ?  'col-md-4' : 'col-md-3'">
                  <app-select-filter appearance="legacy" (value)="getValue($event, 'tipoPago')" [modelValue]="myForm.get('tipoPago').value"
                   placeholder="Forma Pago" urlFilter="tipos-pagos" [columnsFilter]="['nombre']"></app-select-filter>
                </div>
                <div [class]="(myForm.get('tipoDesembolso').value == null || myForm.get('tipoDesembolso').value.id != 2) ?  'col-md-4' : 'col-md-3'">
                  <app-select-filter appearance="legacy" (value)="getValue($event, 'tipoDesembolso')" [modelValue]="myForm.get('tipoDesembolso').value"
                   placeholder="Forma Desembolso" urlFilter="tipos-desembolsos" [columnsFilter]="['nombre']"></app-select-filter>
                </div>
                <div class="col-md-3" *ngIf="(myForm.get('tipoDesembolso').value != null && myForm.get('tipoDesembolso').value.id == 2)">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Beneficiario Cheque</mat-label>
                    <input matInput #input  placeholder="Beneficiario Cheque" formControlName="beneficiarioCheque" name="beneficiarioCheque">
                    <mat-error *ngIf="(myForm.get('beneficiarioCheque').errors)">
                      <span *ngIf="myForm.get('beneficiarioCheque').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                     <mat-label>Periodo Capital</mat-label>
                     <mat-select formControlName="periodoCapital" name="periodoCapital" required>
                       <mat-option  value="1">1 - DIARIO</mat-option>
                       <mat-option  value="15">15 - QUINCENAL</mat-option>
                       <mat-option  value="30">30 - MENSUAL</mat-option>
                       <mat-option  value="60">60 - BIMESTRAL</mat-option>
                       <mat-option  value="90">90 - TRIMESTRAL</mat-option>
                       <mat-option  value="180">180 - SEMESTRAL</mat-option>
                       <mat-option  value="360">360 - ANUAL</mat-option>
                     </mat-select>
                     <mat-error *ngIf="(myForm.get('vencimientoInteres').errors)">
                       <span *ngIf="myForm.get('vencimientoInteres').errors.required">
                        Campo requerido
                       </span>
                     </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Plazo</mat-label>
                    <input matInput #input type="number" min="0" formControlName="plazo" placeholder="Plazo"  name="plazo" required>
                    <mat-error *ngIf="(myForm.get('plazo').errors)">
                      <span *ngIf="myForm.get('plazo').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Cant. Amortiz.</mat-label>
                    <input matInput #input type="number" min="0" placeholder="Cant. Amortiz."  name="ruc">
                    <!-- <mat-icon matSuffix (click)="peopleForm.controls['persona'].get('ruc').valid && peopleRuc()">search</mat-icon>
                    <mat-error *ngIf="(peopleForm.controls['persona'].get('ruc').errors)">
                      <span *ngIf="peopleForm.controls['persona'].get('ruc').errors.required">
                       Campo requerido
                      </span>
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                     <mat-label>Vto. Interes</mat-label>
                     <mat-select formControlName="vencimientoInteres" name="vencimientoInteres" required>
                       <!-- <mat-option  value="1">DIARIO</mat-option>
                       <mat-option  value="15">QUINCENAL</mat-option> -->
                       <mat-option  value="30">MENSUAL</mat-option>
                       <mat-option  value="0">Vto. Capital</mat-option>
                       <mat-option  value="-1">Meses de Gracia</mat-option>
                     </mat-select>
                     <mat-error *ngIf="(myForm.get('vencimientoInteres').errors)">
                       <span *ngIf="myForm.get('vencimientoInteres').errors.required">
                        Campo requerido
                       </span>
                     </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Periodo Gracia</mat-label>
                    <input matInput #input type="number"  placeholder="Periodo Gracia" formControlName="periodoGracia"  name="periodoGracia" required>
                    <mat-error *ngIf="(myForm.get('periodoGracia').errors)">
                      <span *ngIf="myForm.get('periodoGracia').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Periodo Interés</mat-label>
                    <input matInput #input type="number"  placeholder="Periodo Interés" formControlName="periodoInteres"  name="periodoInteres" required>
                    <mat-hint align="end">{{myForm.get('periodoInteres').value + ' Dias'}}</mat-hint>
                    <mat-error *ngIf="(myForm.get('periodoInteres').errors)">
                      <span *ngIf="myForm.get('periodoInteres').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  appearance="legacy">
                    <mat-label>Tasa Interés Anual(%)</mat-label>
                    <input matInput #input type="number" min="0" placeholder="Tasa Interés Anual(%)" formControlName="tasaInteres" name="tasaInteres" required>
                    <mat-error *ngIf="(myForm.get('tasaInteres').errors)">
                      <span *ngIf="myForm.get('tasaInteres').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field    appearance="legacy">
                    <mat-label>Gastos Administrativos(%)</mat-label>
                    <input matInput #input type="number" min="0" placeholder="Gastos Administrativos(%)" formControlName="gastosAdministrativos" name="gastosAdministrativos" required>
                    <mat-error *ngIf="(myForm.get('gastosAdministrativos').errors)">
                      <span *ngIf="myForm.get('gastosAdministrativos').errors.required">
                       Campo requerido
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field    appearance="legacy">
                    <mat-label>Observacion</mat-label>
                    <input matInput #input  placeholder="Observacion"  name="ruc">
                    <!-- <mat-icon matSuffix (click)="peopleForm.controls['persona'].get('ruc').valid && peopleRuc()">search</mat-icon>
                    <mat-error *ngIf="(peopleForm.controls['persona'].get('ruc').errors)">
                      <span *ngIf="peopleForm.controls['persona'].get('ruc').errors.required">
                       Campo requerido
                      </span>
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <!-- <div class="col-md-12 m-t-10"> -->
                    <div class="row">
                      <div class="col-md-12 p-10">
                        <h4 class="m-0 font-20"><mat-icon class="gray-text">assessment</mat-icon>Descuentos</h4>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="legacy">
                          <mat-label>Tipo Calculo</mat-label>
                          <mat-select formControlName="tipoDescuento" name="tipoDescuento" required>
                            <mat-option  value="I-D">IMPORTE DISPONER</mat-option>
                            <mat-option  value="I-S">IMPORTE SOLICITAR</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="legacy">
                          <mat-label>Monto Entregar</mat-label>
                          <input matInput #input type="text" placeholder="Monto Entregar" formControlName="importeEntregar" name="importeEntregar" currencyMask>
                          <mat-hint align="end">Monto Entregar</mat-hint>
                          <mat-error *ngIf="(myForm.get('importeEntregar').errors)">
                            <span *ngIf="myForm.get('importeEntregar').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="legacy">
                          <mat-label>Cuota</mat-label>
                          <input matInput #input type="text" placeholder="Cuota" formControlName="importeCuota" name="importeCuota" currencyMask>
                          <mat-hint align="end">Cuota</mat-hint>
                          <mat-error *ngIf="(myForm.get('importeCuota').errors)">
                            <span *ngIf="myForm.get('importeCuota').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">

                      </div>
                      <div class="col-md-3">
                        <mat-form-field  appearance="legacy">
                          <mat-label>Impuestos</mat-label>
                          <input matInput #input type="text" min="0" placeholder="Impuestos" formControlName="impuestos"  name="impuestos" currencyMask>
                          <mat-error *ngIf="(myForm.get('impuestos').errors)">
                            <span *ngIf="myForm.get('impuestos').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="legacy">
                          <mat-label>Comision</mat-label>
                          <input matInput #input type="text" min="0"  placeholder="Comision" formControlName="comision"  name="comision" currencyMask>
                          <mat-error *ngIf="(myForm.get('comision').errors)">
                            <span *ngIf="myForm.get('comision').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="legacy">
                          <mat-label>Gastos Varios</mat-label>
                          <input matInput #input type="text" min="0"  placeholder="Gastos Varios" formControlName="gastosVarios"  name="gastosVarios" currencyMask>
                          <mat-error *ngIf="(myForm.get('gastosVarios').errors)">
                            <span *ngIf="myForm.get('gastosVarios').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="legacy">
                          <mat-label>Seguros</mat-label>
                          <input matInput #input type="text"  placeholder="Seguros" formControlName="seguros"  name="seguros" currencyMask>
                          <mat-error *ngIf="(myForm.get('seguros').errors)">
                            <span *ngIf="myForm.get('seguros').errors.required">
                             Campo requerido
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
              <!-- <div class="col-md-12 m-t-20"> -->

              <!-- </div> -->
            </div>
            <div class="col-md-12" *ngIf="myForm.get('codeudor')">
              <div class="row">
                <div class="col-md-12">
                  <h4  class="m-0"><mat-icon class="gray-text">account_circle</mat-icon>Codeudor</h4>
                </div>
                <div class="col-md-12">
                  <!-- <blockquote> -->
                    <ng-container formGroupName="codeudor">
                      <div class="row">
                        <div class="col-sm-4">
                          <mat-form-field    appearance="legacy">
                            <input matInput #input  placeholder="Documento" formControlName="documento"  name="documento" required>
                            <mat-icon matSuffix (click)="myForm.get('codeudor').get('documento').valid && peopleCi(myForm.get('codeudor').get('documento').value, i)">search</mat-icon>
                            <mat-error *ngIf="(myForm.get('codeudor').get('documento').errors)">
                              <span *ngIf="myForm.get('codeudor').get('documento').errors.required">
                               Campo requerido
                              </span>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field    appearance="legacy">
                            <input matInput #input placeholder="Nombre" formControlName="nombre" name="nombre" required>
                            <mat-error *ngIf="(myForm.get('codeudor').get('nombre').errors)">
                              <span *ngIf="myForm.get('codeudor').get('nombre').errors.required">
                               Campo requerido
                              </span>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </ng-container>
                  <!-- </blockquote> -->
                </div>
              </div>
            </div>
            <div class="col-md-12  m-t-10">
              <app-upload></app-upload>
            </div>
          </div>
          <mat-card-actions>
            <button mat-button [type]="onSubmit"  mat-raised-button>Guardar</button>
          </mat-card-actions>
        </mat-card-content>
      <!-- </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <h4  class="m-0"><mat-icon class="gray-text">supervisor_account</mat-icon>Cliente</h4>
        </ng-template>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <app-people [relationShip]="true"></app-people>
            </div>
            <div class="col-md-12">
              <app-reference  [minRow]="1"></app-reference>
            </div>
            <div class="col-md-12 m-t-30">
              <app-occupation [minRow]="1"></app-occupation>
            </div>
            <div class="col-md-12 m-t-30">
              <app-estate [minRow]="isTieneHipoteca"></app-estate>
            </div>
            <div class="col-md-12 m-t-30">
              <app-vehicle></app-vehicle>
            </div>
            <div class="col-md-12 m-t-30">
              <div class="row">
                <div class="col-md-6">
                  <app-ingress [fkFilterModel]="myForm.value?.persona?.id" [minRow]="1"></app-ingress>
                </div>
                <div class="col-md-6">
                  <app-egress [fkFilterModel]="myForm.value?.persona?.id" [minRow]="1"></app-egress>
                </div>
              </div>
            </div>
          </div>
          <mat-card-actions>
            <button mat-button [type]="onSubmit"  mat-raised-button>Guardar</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-tab>
<!--
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">attachment</mat-icon>
          Documentos
        </ng-template>
        <h1>
          Image Viewer
        </h1>
        <app-image-viewer [images]="['iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==', 'https://picsum.photos/900/500/?random']"
        [idContainer]="'idOnHTML'"
        [loadOnInit]="true"></app-image-viewer>
      </mat-tab> -->
    <!-- </mat-tab-group> -->
  </form>
  <!-- <mat-card-content>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <div class="row">

                  <div class="col-md-12 m-t-30">
                    <app-people></app-people>
                  </div>
                  <div class="col-md-12 m-t-30">
                    <app-reference [fkFilterModel]="myForm.value.persona.id" [minRow]="1"></app-reference>
                  </div>
                  <div class="col-md-12 m-t-30">
                    <app-occupation [fkFilterModel]="myForm.value.persona.id" [minRow]="1"></app-occupation>
                  </div>
                  <div class="col-md-12 m-t-30">
                    <app-estate [fkFilterModel]="myForm.value.persona.id" [minRow]="isTieneHipoteca"></app-estate>
                  </div>
                  <div class="col-md-12 m-t-30">
                    <app-vehicle [fkFilterModel]="myForm.value.persona.id"></app-vehicle>
                  </div>
                  <div class="col-md-12 m-t-30">
                    <div class="row">
                      <div class="col-md-6">
                        <app-ingress [fkFilterModel]="myForm.value.persona.id" [minRow]="1"></app-ingress>
                      </div>
                      <div class="col-md-6">
                        <app-egress [fkFilterModel]="myForm.value.persona.id" [minRow]="1"></app-egress>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <mat-card-actions>
              <button mat-button [type]="onSubmit"  mat-raised-button>Guardar</button>
            </mat-card-actions>
        </form>
  </mat-card-content> -->
</mat-card>
