<mat-card class="card">
<div class="header">
  <div class="row">
    <div class="col-md-9 col-lg-10">
      <h2>Sucursales</h2>
    </div>
    <div class="col-md-3 col-lg-2">
      <button routerLink="/service-web/subsidiary/new" mat-raised-button color="accent" *appCanAccess="['subsidiary', 'addSubsidiary']">Agregar</button>
    </div>
  </div>
</div>
<mat-card-content>
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Buscar">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="scroll table table-bordered table-striped table-hover js-basic-example dataTable" matSort (matSortChange)="sortData($event)" matSortActive="nombre" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="codigoSucursal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoSucursal}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> DIRECCION </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
      <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
    </ng-container>


    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMAIL </th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <!-- <div class="lock-size" layout="row" layout-align="center center">
              <eco-fab-speed-dial  [direction]="direction" >
                  <eco-fab-speed-dial-trigger>
                      <button mat-fab (click)="doAction('trigger')" class="spin360"><mat-icon>menu</mat-icon></button>
                  </eco-fab-speed-dial-trigger>

                  <eco-fab-speed-dial-actions>
                      <button mat-mini-fab (click)="doAction('action2')" routerLink="/service-web/enterprise/{{element.id}}/edit" *appCanAccess="['enterprise', 'editEnterprise']"><mat-icon>edit</mat-icon></button>
                      <button mat-mini-fab (click)="doAction('action3')" routerLink="/service-web/enterprise/{{element.id}}" *appCanAccess="['enterprise', 'viewEnterprise']"><mat-icon>search</mat-icon></button>
                  </eco-fab-speed-dial-actions>
              </eco-fab-speed-dial>
          </div> -->
          <mat-menu #appMenu="matMenu">
              <a mat-menu-item  class="nav-link" routerLink="/service-web/subsidiary/{{element.id}}/edit" *appCanAccess="['subsidiary', 'editSubsidiary']">
                <i class="fa fa-edit"></i>&nbsp;Editar</a>
              <a mat-menu-item class="nav-link" href="/product-types/{{element.id}}">
                <i class="fa fa-trash-o"></i>&nbsp;Remover</a>
            </mat-menu>
            <mat-button-toggle-group class="btn-group-vertical">
              <mat-button-toggle class="btn-default" routerLink="/service-web/subsidiary/{{element.id}}" *appCanAccess="['subsidiary', 'viewSubsidiary']">
                 Mostrar
              </mat-button-toggle>

              <mat-button-toggle [matMenuTriggerFor]="appMenu">
                <mat-icon>arrow_drop_down</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="getList($event)">
  </mat-paginator>
</mat-card-content>
</mat-card>
