<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/review"> ANALISIS SOLICITUDES </a> &gt; <span class="current">Lista de Analisis</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="id" matSortDirection="desc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="id">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Nº ANALISIS</mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nº analisis">
             {{element.id}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="propuestaSolicitud.tipoSolicitud.nombre">
           <mat-header-cell *matHeaderCellDef mat-sort-header> TIPO SOLICITUD</mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="tipo solicitud">
             {{element.propuestaSolicitud.tipoSolicitud?.nombre}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="propuestaSolicitud.id">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Nº SOLICITUD</mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nº solicitud">
             {{element.propuestaSolicitud.id}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="propuestaSolicitud.fechaPresentacion">
           <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PRESENTACION </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="fecha presentacion">
             {{element.propuestaSolicitud.fechaPresentacion | date:'dd/MM/yyyy'}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="fechaInicioAnalisis">
           <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA INICIO ANALISIS </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="fecha inicio analisis">
             {{element.fechaInicioAnalisis | date:'dd/MM/yyyy'}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="fechaFinAnalisis">
           <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA FIN ANALISIS </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="fecha fin analisis">
             {{element.fechaFinAnalisis | date:'dd/MM/yyyy'}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="funcionarioAnalisis.alias">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FUNCIONARIO ANALISIS </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="alias">
              {{ (element.funcionarioAnalisis?.nroLegajo == null ? '' : element.funcionarioAnalisis?.nroLegajo + ' - ')  + (element.funcionarioAnalisis?.alias == null ? '' : element.funcionarioAnalisis?.alias)}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="propuestaSolicitud.montoSolicitado">
              <mat-header-cell *matHeaderCellDef> MONTO SOLICITADO </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="monto solicitado">
                {{element.propuestaSolicitud.montoSolicitado | number}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sucursal">
              <mat-header-cell *matHeaderCellDef> SUCURSAL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="sucursal">
                {{element.sucursal}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado.nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> ESTADO </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="estado">
                <div *ngIf="element.estado.id == 4">
                  <span class="label label-danger">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 5">
                  <span class="label label-warning">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 1 || element.estado.id == 2">
                  <span class="label label-info">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 3 || element.estado.id == 6">
                  <span class="label label-success">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 7">
                  <span class="label label-danger">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.estado.id != 1 || element.estado.id != 2">
                    <a mat-icon-button routerLink="/service-web/review/{{element.id}}" *appCanAccess="['review', 'viewReview']"><mat-icon>visibility</mat-icon></a>
                  </ng-container>
                  <ng-container *ngIf="element.estado.id == 1">
                    <a mat-icon-button routerLink="/service-web/my-review/{{element.id}}/review" *appCanAccess="['my-review', 'editMyReview']"><mat-icon>assessment</mat-icon></a>
                  </ng-container>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
