<div class="container">
  <h3 mat-dialog-title>Esta seguro que desea desactivar el usuario?</h3>
  <div mat-dialog-content>
    <h4>Nombre: <span>{{data.nombre}}</span></h4>
    <mat-divider></mat-divider>
    <h4>Apellido: <span>{{data.apellido}}</span></h4>
    <mat-divider></mat-divider>
    <h4>Usuario: <span>{{data.usuario}}</span></h4>
    <mat-divider></mat-divider>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
