
<ng-container *ngIf="peopleForm.get(formArrayName)['controls'].length > 0">
  <div class="row m-t-20">
    <div class="col-md-12 m-b-10">
        <h4  class="m-0 font-20"><mat-icon class="gray-text">library_books</mat-icon>Estudios
        </h4>
    </div>
    <ng-container formGroupName="persona">
      <div [formArrayName]="formArrayName"  *ngFor="let estudios of peopleForm.get(formArrayName)['controls']; let i = index" class="col-md-12">
        <blockquote>
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">TIPO ESTUDIO</span> {{estudios.controls.tipoEstudio.value?.nombre}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">ENTIDAD ESTUDIO</span> {{estudios.get('nombre')?.value}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">SEMESTRE</span> {{estudios.get('semestre')?.value}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">FECHA INICIO</span> {{estudios.get('fechaInicio')?.value  | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">FECHA FIN</span> {{estudios.get('fechaFin')?.value  | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">CONCLUIDO</span> {{(estudios.get('concluido')?.value == true ? 'S' : 'N')}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">TITULO</span> {{estudios.get('titulo')?.value}}</p>
              </div>
              <div class="col-sm-4">
                <p mat-line><span class="font-bold">NRO. REGISTRO</span> {{estudios.get('numeroRegistro')?.value}}</p>
              </div>
            </div>
          </div>
        </blockquote>
      </div>
    </ng-container>
  </div>
</ng-container>
