.ui.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
}
.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
    width: 300px;
    height: auto;
    font-size: 1rem;
}
.ui.image img, .ui.image svg {
    display: block;
    max-width: 100%;
    height: auto;
}
.centered {
    position: relative;
    top: 20%;
    width: 50%;
    left: 25%;
}
.items-centered {
    text-align: center;
}
.auth-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/service-web-wallpaper.jpg');
    background-size: cover;
}
fieldset {
    border: none;
}