.auth-page:before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #C1A47C;
}

fieldset {
    border: none;
}

.brand-logo{
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  color: #000;
  padding-left: 10px;
  margin: 1em auto;
  max-width: 100%;
  height: auto;
}

.login-register .mat-card{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.login-register button.mat-primary:not([disabled]){
  background-color: #000000 !important;
}
