<!-- <div class="auth-page centered" *appShowAuthed="false">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12 items-centered">
        <h2 class="ui blue image imageLogin medium">
            <img src="assets/images/logo.png" class="image" align="right">
        </h2>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"/>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid"  type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div> -->

<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text color--dark-gray">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="mdl-card__title-text text-color--smooth-gray"><img src="assets/images/logo.png" class="image" align="right"></span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="blank-layout-card-name text-color--white">Sign in</span>
        <span class="blank-layout-card-secondary-text text-color--smoke">Enter fields to sign in to DARKBOARD</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
          <input class="mdl-textfield__input" type="text" id="e-mail">
          <label class="mdl-textfield__label" for="e-mail">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
          <input class="mdl-textfield__input" type="text" id="password">
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <a routerLink="/pages/forgot-password" class="blank-layout-card-link">Forgot password?</a>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <div class="mdl-layout-spacer"></div>
        <a routerLink="/app/dashboard">
          <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" [disabled]="!authForm.valid">
            {{ title }}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
