<ng-container>
  <div class="row m-t-20">
    <div class="col-md-12 m-b-10">
        <h4  class="m-0 font-20"><mat-icon class="gray-text">account_balance</mat-icon>Datos Laborales
        </h4>
    </div>
    <ng-container formGroupName="persona">
      <div [formArrayName]="formArrayName" class="col-md-12">
          <ng-container *ngIf="peopleForm.get(formArrayName)['controls'].length == 0">
            <div class="timeline-badge danger m-t-10">
              <i  class="fa fa-info-circle"></i>
            </div>
            <div class="timeline-panel m-t-10">
              <div class="timeline-heading">
                <h4 class="timeline-title">No posee registros cargados</h4>
              </div>
            </div>
          </ng-container>
          <div [formGroupName]="i" *ngFor="let ocupaciones of peopleForm.get(formArrayName)['controls']; let i = index">
            <blockquote>
              <div class="row m-t-10">
                 <div class="col-sm-4">
                   <p mat-line><span class="font-bold">EMPRESA</span> {{ocupaciones.get('empresa')?.value}}</p>
                   <p mat-line><span class="font-bold">CARGO</span> {{ocupaciones.get('cargo')?.value}}</p>
                   <p mat-line><span class="font-bold">OCUPACION</span> {{ocupaciones.controls.tipoOcupacion.value?.nombre}}</p>
                 </div>
                 <div class="col-sm-4">
                   <p mat-line><span class="font-bold">TIPO TRABAJO</span> {{ocupaciones.get('tipoTrabajo')?.value}}</p>
                   <p mat-line><span class="font-bold">INGRESO MENSUAL</span> {{ocupaciones.get('ingresosMensuales')?.value | number}}</p>
                   <p mat-line><span class="font-bold">FECHA INGRESO</span> {{ocupaciones.get('fechaIngreso')?.value | date: 'dd/MM/yyyy'}}</p>
                 </div>
                 <div class="col-sm-4">
                   <p mat-line><span class="font-bold">FECHA SALIDA</span> {{ocupaciones.get('fechaSalida')?.value | date: 'dd/MM/yyyy'}}</p>
                   <p mat-line><span class="font-bold">TELEFONO</span> {{ocupaciones.get('telefonoPrincipal')?.value}}</p>
                   <p mat-line><span class="font-bold">TELEFONO SECUNDARIO</span> {{ocupaciones.get('telefonoSecundario')?.value | date: 'dd/MM/yyyy'}}</p>
                 </div>
                 <div class="col-sm-4">
                   <p mat-line><span class="font-bold">INTERNO</span> {{ocupaciones.get('interno')?.value}}</p>
                 </div>
                 <div class="col-sm-8">
                   <p mat-line><span class="font-bold">DIRECCION</span> {{ocupaciones.get('direccion')?.value}}</p>
                 </div>
              </div>
            </blockquote>
          </div>
      </div>
    </ng-container>
  </div>
</ng-container>
