<ng-container>
  <div class="row">
    <div class="col-md-12">
        <h4  class="m-0"><mat-icon class="gray-text">local_taxi</mat-icon>Vehiculos
          <a mat-mini-fab (click)="addButton()" class="nav-link float-right" color="primary"><mat-icon>plus_one</mat-icon></a>
        </h4>
    </div>
    <div class="timeline-badge danger" *ngIf="vehicleForm.get(formArrayName)['controls'].length == 0">
      <i  class="fa fa-info-circle"></i>
    </div>
    <div class="timeline-panel" *ngIf="vehicleForm.get(formArrayName)['controls'].length == 0">
      <div class="timeline-heading">
        <h4 class="timeline-title">No posee registros cargados</h4>
      </div>
    </div>
    <div [formArrayName]="formArrayName"  *ngFor="let bienesVehiculo of vehicleForm.get(formArrayName)['controls']; let i = index" class="col-md-12">
      <blockquote>
        <div [formGroupName]="i">
          <div class="row">
             <div class="col-sm-3">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Marca"  formControlName="marca" name="marca" required>
                 <mat-error *ngIf="(bienesVehiculo.get('marca').errors)">
                   <span *ngIf="bienesVehiculo.get('marca').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="col-sm-3">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Modelo"  formControlName="modeloAnio" name="modeloAnio" required>
                 <mat-error *ngIf="(bienesVehiculo.get('modeloAnio').errors)">
                   <span *ngIf="bienesVehiculo.get('modeloAnio').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="col-md-3">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Valor Actual" formControlName="valorActual"  name="valorActual" required currencyMask>
                 <mat-error *ngIf="(bienesVehiculo.get('valorActual').errors)">
                   <span *ngIf="bienesVehiculo.get('valorActual').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="col-md-3">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Saldo a Pagar" formControlName="saldo"  name="saldo" currencyMask>
               </mat-form-field>
             </div>
             <div class="col-md-3">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Cuota Mensual" formControlName="cuotaMensual"  name="cuotaMensual" currencyMask>
               </mat-form-field>
             </div>
             <div class="col-md-1">
               <section class="example-section">
                 <button type="button" class="btn btn-danger" (click)="delete(bienesVehiculo.value)"><i class="fa fa-trash"></i></button>
                    <!-- <a mat-icon-button  color="warn" (click)="delete(bienesVehiculo.value)"> <mat-icon>delete_forever</mat-icon></a> -->
               </section>
             </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</ng-container>
