
<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/role"> Roles </a> &gt; <span class="current">Visualizar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/role/{{model.id}}/edit">
    <i _ngcontent-ugv-c42="" class="fa fa-pencil-square-o"></i>
     Editar
  </a>
  <a mat-raised-button class="m-l-10" (click)="delete(model)" *appCanAccess="['role', 'deleteRole']">
    <i  class="fa fa-times" aria-hidden="true"></i>
     Borrar Cliente
  </a>
</div>
<mat-card class="form-card">
  <mat-card-content *ngIf="model.id">
    <form>
      <div class="col-md-12">
        <h4  class="m-0"><mat-icon class="gray-text">perm_data_setting</mat-icon>Rol</h4>
        <br>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><mat-icon class="gray-text">lock_outline</mat-icon>{{model.nombre}}</p>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <h4  class="m-0"><mat-icon class="gray-text">assignment</mat-icon>Permisos</h4>
        <br>
      </div>
      <div class="row">
        <div *ngFor="let authority of authorities">
          <div *ngIf="authority.authority.length > 0">
              <mat-card>
                <mat-card-header class="bg-inverse text-white">
                  <mat-card-title>
                    <h6 class="m-0">{{ authority.grupo }}</h6>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-list>
                  <mat-list-item  *ngFor="let role of authority.authority">
                    <p><mat-icon class="gray-text">check</mat-icon>{{role.descripcion}}</p>
                  </mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
