<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/credits"> CREDITOS </a> &gt; <span class="current">Lista de Creditos</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/credits/new" *appCanAccess="['credits', 'addCredits']">
     Agregar
  </a>
</div>
<div>
  <mat-card>
    <!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4  class="m-0"><mat-icon class="gray-text" role="img" aria-hidden="true">search</mat-icon>Filtro Detallado</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="filterForm" (ngSubmit)="filterSubmit()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field  appearance="legacy">
               <input matInput #input [matDatepicker]="pickerInicio" formControlName="fechaInicio"  name="fechaInicio" placeholder="Fecha Inicio" required>
               <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
               <mat-datepicker #pickerInicio></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field  appearance="legacy">
               <input matInput #input [matDatepicker]="pickerFin" formControlName="fechaFin"  name="fechaFin" placeholder="Fecha Fin" required>
               <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
               <mat-datepicker #pickerFin></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Nro. Solicitud" formControlName="nroSolicitud"  name="nroSolicitud">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Estado">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <app-select-filter appearance="legacy" (value)="getValue($event, 'sucursal')" [modelValue]="filterForm.get('sucursal').value"
               placeholder="Sucursal" urlFilter="sucursales" [columnsFilter]="['nombre']"></app-select-filter>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Documento" formControlName="documento"  name="documento">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Ruc" formControlName="ruc"  name="ruc">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <button mat-button #filterButton (click)="true" mat-raised-button value="button">Filtrar</button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion> -->
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->

        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="id" matSortDirection="desc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="id">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Nº CREDITO</mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nº solicitud">
             {{element.id}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="propuestaSolicitud.id">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Nº PROPUESTA</mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nº propuesta">
             {{element.propuestaSolicitud.id}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="montoCapital">
             <mat-header-cell *matHeaderCellDef> MONTO CAPITAL </mat-header-cell>
             <mat-cell *matCellDef="let element" data-label="monto capital">
               {{element.montoCapital | number}}
             </mat-cell>
         </ng-container>

         <ng-container matColumnDef="saldoCapital">
             <mat-header-cell *matHeaderCellDef> SALDO CAPITAL </mat-header-cell>
             <mat-cell *matCellDef="let element" data-label="saldo capital">
               {{element.saldoCapital | number}}
             </mat-cell>
         </ng-container>

         <ng-container matColumnDef="montoInteres">
             <mat-header-cell *matHeaderCellDef> MONTO INTERES </mat-header-cell>
             <mat-cell *matCellDef="let element" data-label="monto interes">
               {{element.montoInteres | number}}
             </mat-cell>
         </ng-container>

         <ng-container matColumnDef="saldoInteres">
             <mat-header-cell *matHeaderCellDef> SALDO INTERES </mat-header-cell>
             <mat-cell *matCellDef="let element" data-label="saldo interes">
               {{element.saldoInteres | number}}
             </mat-cell>
         </ng-container>

         <ng-container matColumnDef="plazoOperacion">
           <mat-header-cell *matHeaderCellDef mat-sort-header> PLAZO </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="plazo">
             {{element.plazoOperacion}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="fechaGeneracion">
           <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA GENERACION </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="fecha generacion">
             {{element.fechaGeneracion | date:'dd/MM/yyyy'}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="fechaDesembolso">
           <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DESEMBOLSO </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="fecha desembolso">
             {{element.fechaDesembolso | date:'dd/MM/yyyy'}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="sucursal">
              <mat-header-cell *matHeaderCellDef mat-sort-header> SUCURSAL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="sucursal">
                {{element.sucursal}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado.nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="estado">
                <div *ngIf="element.estado.id == 4">
                  <span class="label label-danger">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 5">
                  <span class="label label-warning">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 1 || element.estado.id == 2">
                  <span class="label label-info">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 3 || element.estado.id == 6">
                  <span class="label label-success">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/credits/{{element.id}}" *appCanAccess="['credits', 'viewCredits']"><mat-icon>visibility</mat-icon></button>
                  <div *ngIf="element.estado.id == 1 || element.estado.id == 5">
                    <button  mat-icon-button routerLink="/service-web/credits/{{element.id}}/edit" *appCanAccess="['credits', 'editCredits']"> <mat-icon>local_printshop</mat-icon></button>
                  </div>
                  <div *ngIf="element.estado.id == 1 || element.estado.id == 5">
                    <button  mat-icon-button routerLink="/service-web/credits/{{element.id}}/edit" *appCanAccess="['credits', 'editCredits']"> <mat-icon>today</mat-icon></button>
                  </div>
                  <!-- <div *ngIf="element.estado.id == 1">
                    <button  mat-icon-button (click)="delete(element)" *appCanAccess="['credits', 'deleteCredits']"> <mat-icon>delete</mat-icon></button>
                  </div> -->
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
