<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/role"> Roles </a> &gt; <span class="current">Editar</span></h2>
<mat-card class="form-card">
<mat-card-content *ngIf="authorities.length > 0">
  <form  (ngSubmit)="formControl.form.valid && submit(ngForm)" #formControl="ngForm" >
    <div class="col-md-12">
      <h4  class="m-0"><mat-icon class="gray-text">perm_data_setting</mat-icon>Rol</h4>
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
      	<mat-form-field   class="col-sm-12" appearance="legacy">
      		<input matInput #input  placeholder="Nombre Rol" [(ngModel)]="model.nombre" name="nombre" required>
      		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      	</mat-form-field>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <h4  class="m-0"><mat-icon class="gray-text">assignment</mat-icon>Permisos</h4>
      <br>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let authority of authorities">
        <mat-card>
          <mat-card-header class="bg-inverse text-white">
            <mat-card-title>
              <h6 class="m-0">{{ authority.grupo }}</h6>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
            <mat-list-item  *ngFor="let role of authority.authority">
              <mat-checkbox [(ngModel)]="role.checked" color="primary" name="{{role.nombre}}">{{role.descripcion}}</mat-checkbox>
            </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-card-actions>
      <button mat-button [type]="submit"  mat-raised-button >Guardar</button>
    </mat-card-actions>
  </form>
</mat-card-content>
</mat-card>
