<!-- <form>
<mat-form-field  appearance="legacy">
  <mat-select  placeholder="{{placeholder}}" required>
     <mat-form-field appearance="legacy">
         <input  matInput #filterInputModel placeholder="Buscar.....">
         <mat-icon matSuffix>search</mat-icon>
     </mat-form-field>
      <mat-option *ngFor="let model of models"  [value]="model">{{model.nombre}}</mat-option>
  </mat-select>
</mat-form-field>
</form> -->
<form>
  <mat-form-field  [appearance]="inputType">
    <input type="text"  matInput #filterInputModel placeholder="{{placeholder}}" aria-label="Number"  [formControl]="modelControl"  [matAutocomplete]="auto">
    <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='setValue($event.option.value)' [displayWith]="displayFn.bind(this)">
      <mat-option *ngFor="let option of models" [value]="option">
        {{option.nombre}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="modelControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</form>
