<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/subsidiary"> Sucursales </a> &gt; <span class="current">Visualizar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/subsidiary/{{model.id}}/edit">
    <i _ngcontent-ugv-c42="" class="fa fa-pencil-square-o"></i>
     Editar
  </a>
  <a mat-raised-button class="m-l-10" (click)="delete(model)" *appCanAccess="['subsidiary', 'deleteSubsidiary']">
    <i  class="fa fa-times" aria-hidden="true"></i>
     Borrar Cliente
  </a>
</div>
<mat-card style="width: 100%;">
  <mat-card-content>
    <div class="row">
      <div class="col-md-9">
        <mat-card-title  class="mat-card-title">
          <h4 _ngcontent-c42="" class="m-0">{{model.nombre}}</h4>
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">{{model.codigoSucursal}}</mat-card-subtitle>
      </div>
    </div>
    <a>
      <div class="row">
        <div class="col-md-12">
          <app-map [latitude]="model.latitud == null ? latitude : model.latitud" [longitude]="model.longitud == null ? longitude : model.longitud"></app-map>
          <div class="row">
            <div class="col-md-6" *ngIf="model.pais">
              <p><mat-icon class="gray-text">public</mat-icon>{{model.pais.nombre +' - '+model.departamento.nombre}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.direccion">
              <p><mat-icon class="gray-text">directions</mat-icon>{{model.direccion}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.ciudad">
              <p><mat-icon class="gray-text">person_pin_circle</mat-icon>{{model.ciudad.nombre}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.telefono">
              <p><mat-icon class="gray-text">phone</mat-icon>{{model.telefono}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.email">
              <p><mat-icon class="gray-text">alternate_email</mat-icon>{{model.email}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.barrio">
              <p><mat-icon class="gray-text">location_on</mat-icon>{{model.barrio.nombre}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.descripcion">
              <p><mat-icon class="gray-text">store</mat-icon>{{model.descripcion}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.telefonoMovil">
              <p><mat-icon class="gray-text">phone_android</mat-icon>{{model.telefonoMovil}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.fax">
              <p><mat-icon class="gray-text">perm_phone_msg</mat-icon>{{model.fax}}</p>
            </div>
            <div class="col-md-6" *ngIf="model.observacion">
              <p><mat-icon class="gray-text">speaker_notes</mat-icon>{{model.observacion}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-list>
                <mat-divider></mat-divider>
                  <h3 mat-subheader>Departamentos</h3>
                <mat-list-item *ngFor="let departments of model.departamentos">
                  <p><span class="label label-primary">{{departments.alias}}</span> {{departments.nombreArea}}</p>
                </mat-list-item>
              </mat-list>
            </div>
          </div>

        </div>
      </div>
    </a>
  </mat-card-content>
</mat-card>
