<!-- <mat-toolbar color="primary">
  <div fxHide.gt-xs >
      <button mat-icon-button (click)="onToggleSidenav()" *appShowAuthed="true">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a *ngIf="appShowAuthed == true" routerLink="/home">Home</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>

      <ul fxLayout fxLayoutGap="15px" class="navigation-items" *appShowAuthed="false">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/service-web/login"
            routerLinkActive="active">
            Login
          </a>
        </li>
      </ul>

      <ul fxLayout fxLayoutGap="15px" *appShowAuthed="true"
        class="nav navbar-nav pull-xs-right">

        <li class="nav-item" *appCanAccess="['enterprise', 'addOpportunity']">
          <a class="nav-link"
            routerLink="/service-web/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['enterprise', 'listEnterprise']">
          <a class="nav-link"
            routerLink="/service-web/enterprise">
            <i class="fa fa-institution"></i>&nbsp;Empresas
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['message', 'sendMessage']">
          <a class="nav-link"
            routerLink="/service-web/enterprise"
            routerLinkActive="active">
            <i class="ion-home"></i>&nbsp;Mensajes
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['subsidiary', 'listSubsidiary']">
          <a class="nav-link"
            routerLink="/service-web/subsidiary">
            <i class="fa fa-industry"></i>&nbsp;Sucursales
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['enterprise', 'addOpportunity']">
          <a class="nav-link"
            routerLink="/service-web/usuarios">
            Usuarios
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/editor">
            <i class="fa fa-twitter"></i>&nbsp;New Article
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             [matMenuTriggerFor]="menu">
            <i class="fa fa-cogs"></i>&nbsp;Settings
          </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/service-web/payments-types">
              <mat-icon class="fa fa-asterisk"></mat-icon>
              <span>Tipos Pagos</span>
            </button>
            <button mat-menu-item routerLink="/service-web/reference-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Referencias</span>
            </button>
            <button mat-menu-item routerLink="/service-web/calculation-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Calculos</span>
            </button>
            <button mat-menu-item routerLink="/service-web/destinations-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Destinos</span>
            </button>
            <button mat-menu-item routerLink="/service-web/outlays-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Desembolsos</span>
            </button>
            <button mat-menu-item routerLink="/service-web/ingress-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Ingresos</span>
            </button>
            <button mat-menu-item routerLink="/service-web/egress-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Egresos</span>
            </button>
            <button mat-menu-item routerLink="/service-web/relations-types">
               <mat-icon class="fa fa-asterisk"></mat-icon>
               <span>Tipos Vinculos</span>
            </button>
          </mat-menu>
        </li>

      </ul>

  </div>
</mat-toolbar> -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item> <mat-icon>settings</mat-icon> Configuraciones </button>
    <button mat-menu-item> <mat-icon>account_box</mat-icon> Mi Perfil </button>
    <button mat-menu-item> <mat-icon>exit_to_app</mat-icon> Salir </button>
</mat-menu>
