<mat-toolbar color="primary">
  <div fxHide.gt-xs >
      <button mat-icon-button (click)="onToggleSidenav()" *appShowAuthed="true">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a *ngIf="appShowAuthed == true" routerLink="/home">Home</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <!-- Show this for logged out users -->
      <ul fxLayout fxLayoutGap="15px" class="navigation-items" *appShowAuthed="false">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/service-web/login"
            routerLinkActive="active">
            Login
          </a>
        </li>
      </ul>
      <!-- Show this for logged in users -->
      <ul fxLayout fxLayoutGap="15px" *appShowAuthed="true"
        class="nav navbar-nav pull-xs-right">

        <li class="nav-item" *appCanAccess="['enterprise', 'addOpportunity']">
          <a class="nav-link"
            routerLink="/service-web/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['enterprise', 'listEnterprise']">
          <a class="nav-link"
            routerLink="/service-web/enterprise">
            <i class="ion-home"></i>&nbsp;Empresas
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['message', 'sendMessage']">
          <a class="nav-link"
            routerLink="/service-web/enterprise"
            routerLinkActive="active">
            <i class="ion-home"></i>&nbsp;Mensajes
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['subsidiary', 'listSubsidiary']">
          <a class="nav-link"
            routerLink="/service-web/subsidiary">
            Sucursales
          </a>
        </li>

        <li class="nav-item" *appCanAccess="['enterprise', 'addOpportunity']">
          <a class="nav-link"
            routerLink="/service-web/usuarios">
            Usuarios
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/editor">
            <i class="ion-compose"></i>&nbsp;New Article
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             [matMenuTriggerFor]="menu">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
          <mat-menu #menu="matMenu">
           <button mat-menu-item routerLink="/service-web/reference-types">
             <mat-icon>dialpad</mat-icon>
             <span>Tipos Referencias</span>
           </button>
           <button mat-menu-item routerLink="/service-web/calculation-types">
             <mat-icon>dialpad</mat-icon>
             <span>Tipos Calculos</span>
           </button>
           <button mat-menu-item routerLink="/service-web/destinations-types">
             <mat-icon>dialpad</mat-icon>
             <span>Tipos Destinos</span>
           </button>
           <button mat-menu-item routerLink="/service-web/usuarios">
             <mat-icon>notifications_off</mat-icon>
             <span>Tipos Vinculos</span>
           </button>
          </mat-menu>
        </li>


      <!-- <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/profile', currentUser.username]"
            routerLinkActive="active">
            <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
            {{ currentUser.username }}
          </a>
        </li> -->

      </ul>

  </div>
</mat-toolbar>
