<ng-container>
  <div class="row">
    <div class="col-md-12">
        <h4  class="m-0"><mat-icon class="gray-text">monetization_on</mat-icon>Ingresos
          <a mat-mini-fab (click)="addButton()" class="nav-link float-right" color="primary"><mat-icon>plus_one</mat-icon></a>
        </h4>
    </div>
    <div formArrayName="ingresos"  class="col-md-12">
      <div [formGroupName]="i" *ngFor="let ingresos of ingressForm.get('ingresos').controls; let i = index" >
          <div class="row">
             <div class="col-sm-5">
               <mat-form-field   class="col-sm-12" appearance="legacy">
                 <input matInput #input  placeholder="Monto"  formControlName="monto"  name="monto" required>
                 <mat-error *ngIf="(ingresos.get('monto').errors)">
                   <span *ngIf="ingresos.get('monto').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="col-md-5">
                 <app-select-filter (value)="getValue($event,ingresos.controls['tipoReferencia'])" placeholder="Tipo Ingreso" urlFilter="tipos-referencias" [columnsFilter]="['nombre','codigo']"></app-select-filter>
             </div>
             <div class="col-md-2">
               <section class="example-section">
                    <a mat-icon-button color="warn" (click)="delete(ingresos.value)"> <mat-icon>delete_forever</mat-icon></a>
               </section>
             </div>
          </div>
      </div>
    </div>
  </div>
</ng-container>
