<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/modality">Modalidades </a> &gt; <span class="current">Agregar</span></h2>
<mat-card class="form-card">
<mat-card-content>
  <form  [formGroup]="modalityForm" (ngSubmit)="modalityForm.valid && onSubmit()">
    <div class="row">
      <div class="col-md-12">
         <h4  class="m-0"><mat-icon class="gray-text">description</mat-icon>Modalidad</h4>
         <br>
      </div>
      <div class="col-md-4">
        <mat-form-field  appearance="legacy">
      		<input matInput #input  placeholder="Modalidad" formControlName="nombre" name="nombre" required>
          <mat-error *ngIf="(modalityForm.get('nombre').errors)">
            <span *ngIf="modalityForm.get('nombre').errors.required">
             Campo requerido
            </span>
          </mat-error>
      	</mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field  appearance="legacy">
         <input matInput #input  placeholder="Descripcion" formControlName="descripcion" name="descripcion">
         <mat-error *ngIf="(modalityForm.get('descripcion').errors)">
           <span *ngIf="modalityForm.get('descripcion').errors.required">
            Campo requerido
           </span>
         </mat-error>
       </mat-form-field>
      </div>
      <div class="col-md-3">
        <app-select-filter  (value)="getValue($event, 'tipoCalculos')" [modelValue]="modalityForm.get('tipoCalculos').value"
         placeholder="Tipo Calculo" urlFilter="tipos-calculos" [columnsFilter]="['nombre']"></app-select-filter>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="legacy">
         <input matInput #input type="number" placeholder="% Interes" formControlName="interes" name="interes" min='0' step='0.01' floatLabelType= 'Auto' required>
          <mat-error *ngIf="(modalityForm.get('interes').errors)">
            <span *ngIf="modalityForm.get('interes').errors.required">
             Campo requerido
            </span>
          </mat-error>
       </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="legacy">
         <input matInput #input type="number" placeholder="Monto Minimo" formControlName="montoMinimo" name="montoMinimo" min='0' floatLabelType= 'Auto' required>
          <mat-error *ngIf="(modalityForm.get('montoMinimo').errors)">
            <span *ngIf="modalityForm.get('montoMinimo').errors.required">
             Campo requerido
            </span>
          </mat-error>
       </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="legacy">
         <input matInput #input type="number" placeholder="Monto Maximo" formControlName="montoMaximo" name="montoMaximo" min='0' floatLabelType= 'Auto' required>
          <mat-error *ngIf="(modalityForm.get('montoMaximo').errors)">
            <span *ngIf="modalityForm.get('montoMaximo').errors.required">
             Campo requerido
            </span>
          </mat-error>
       </mat-form-field>
     </div>
     <div class="col-md-3">
       <mat-form-field  appearance="legacy">
          <mat-label>Periodo Capital</mat-label>
          <mat-select formControlName="periodoCapital" name="periodoCapital" required>
            <mat-option  value="1">1 - DIARIO</mat-option>
            <mat-option  value="7">7 - SEMANAL</mat-option>
            <mat-option  value="15">15 - QUINCENAL</mat-option>
            <mat-option  value="30">30 - MENSUAL</mat-option>
            <mat-option  value="60">60 - BIMESTRAL</mat-option>
            <mat-option  value="90">90 - TRIMESTRAL</mat-option>
            <mat-option  value="180">180 - SEMESTRAL</mat-option>
            <mat-option  value="360">360 - ANUAL</mat-option>
          </mat-select>
          <mat-error *ngIf="(modalityForm.get('periodoCapital').errors)">
            <span *ngIf="modalityForm.get('periodoCapital').errors.required">
             Campo requerido
            </span>
          </mat-error>
       </mat-form-field>
     </div>
     <div class="col-md-3">
       <mat-form-field  appearance="legacy">
          <mat-label>Vto. Interes</mat-label>
          <mat-select formControlName="vencimientoInteres" name="vencimientoInteres" required>
            <!-- <mat-option  value="1">DIARIO</mat-option>
            <mat-option  value="15">QUINCENAL</mat-option> -->
            <mat-option  value="30">MENSUAL</mat-option>
            <mat-option  value="0">Vto. Capital</mat-option>
          </mat-select>
          <mat-error *ngIf="(modalityForm.get('vencimientoInteres').errors)">
            <span *ngIf="modalityForm.get('vencimientoInteres').errors.required">
             Campo requerido
            </span>
          </mat-error>
       </mat-form-field>
     </div>
     <div class="col-md-3">
       <mat-form-field  appearance="legacy">
         <mat-label>Periodo Gracia</mat-label>
         <input matInput #input type="number"  placeholder="Periodo Gracia" formControlName="periodoGracia"  name="periodoGracia" required>
         <mat-error *ngIf="(modalityForm.get('periodoGracia').errors)">
           <span *ngIf="modalityForm.get('periodoGracia').errors.required">
            Campo requerido
           </span>
         </mat-error>
       </mat-form-field>
     </div>
    </div>
    <mat-card-actions>
      <button mat-button [type]="onSubmit"  mat-raised-button >Guardar</button>
    </mat-card-actions>
  </form>
</mat-card-content>
</mat-card>
