
<ng-container *ngIf="peopleForm.get(formArrayName)['controls'].length > 0">
  <div class="row m-t-20">
    <div class="col-md-12 m-b-10">
        <h4  class="m-0 font-20"><mat-icon class="gray-text">local_taxi</mat-icon>Vehiculos
        </h4>
    </div>
    <div class="timeline-badge danger" *ngIf="peopleForm.get(formArrayName)['controls'].length == 0">
      <i  class="fa fa-info-circle"></i>
    </div>
    <div class="timeline-panel" *ngIf="peopleForm.get(formArrayName)['controls'].length == 0">
      <div class="timeline-heading">
        <h4 class="timeline-title">No posee registros cargados</h4>
      </div>
    </div>
    <ng-container formGroupName="persona">
      <div [formArrayName]="formArrayName"  *ngFor="let vehiculos of peopleForm.get(formArrayName)['controls']; let i = index" class="col-md-12">
        <blockquote>
          <div [formGroupName]="i">
            <div class="row m-t-10">
              <div class="col-sm-4" *ngIf="vehiculos.get('marca')?.value">
                <p mat-line><span class="font-bold">MARCA</span> {{vehiculos.get('marca')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="vehiculos.get('modeloAnio')?.value">
                <p mat-line><span class="font-bold">MODELO/AÑO</span> {{vehiculos.get('modeloAnio')?.value}}</p>
              </div>
              <div class="col-sm-4" *ngIf="vehiculos.get('valorActual')?.value">
                <p mat-line><span class="font-bold">VALOR ACTUAL</span> {{vehiculos.get('valorActual')?.value  | number}}</p>
              </div>
              <div class="col-sm-4" *ngIf="vehiculos.get('cuotaMensual')?.value">
                <p mat-line><span class="font-bold">CUOTA MENSUAL</span> {{vehiculos.get('cuotaMensual')?.value  | number}}</p>
              </div>
              <div class="col-sm-4" *ngIf="vehiculos.get('saldo')?.value">
                <p mat-line><span class="font-bold">SALDO</span> {{vehiculos.get('saldo')?.value  | number}}</p>
              </div>
            </div>
          </div>
        </blockquote>
      </div>
    </ng-container>
  </div>
</ng-container>
