<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/functionary"> FUNCIONARIOS </a> &gt; <span class="current">Lista de FUNCIONARIOS</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/functionary/new" *appCanAccess="['functionary', 'addFunctionary']">
     Agregar
  </a>
  <!-- <div>
      <button class="right-side-toggle waves-effect waves-light btn-success-bost btn btn-circle btn-sm pull-right m-l-10" routerLink="/service-web/users/new" *appCanAccess="['users', 'addUsers']">
        <i class="ti-plus text-white" style ="font-size: 18px;position: absolute;left: 16px;;"></i>
      </button>
  </div> -->
</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="alias" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="alias">
           <mat-header-cell *matHeaderCellDef mat-sort-header> ALIAS </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="alias">
              {{element.alias}}
            </mat-cell>
         </ng-container>

         <ng-container matColumnDef="persona.tipoPersona">
           <mat-header-cell *matHeaderCellDef mat-sort-header> TIPO PERSONA </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="tipo persona">
             {{element.persona.tipoPersona}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="persona.documento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="documento">
              {{element.persona.documento}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="persona.ruc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ruc">
              {{element.persona.ruc}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="persona.primerNombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="nombre">
              {{(element.persona.primerNombre == null ? '' : element.persona.primerNombre) +' ' +(element.persona.segundoNombre == null ? '' : element.persona.segundoNombre)
            +', ' +(element.persona.primerApellido == null ? '' : element.persona.primerApellido) + ' ' +(element.persona.segundoApellido == null ? '' : element.persona.segundoApellido)}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="email">
                {{element.persona.email}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sucursal.nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> SUCURSAL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="sucursal">
                {{element.sucursal.nombre}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/functionary/{{element.id}}" *appCanAccess="['functionary', 'viewFunctionary']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/functionary/{{element.id}}/edit" *appCanAccess="['functionary', 'editFunctionary']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)" *appCanAccess="['functionary', 'deleteFunctionary']"> <mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
