<div class="row  m-t-10">
  <div class="col-md-12">
    <h4  class="m-0"><mat-icon class="gray-text">archive</mat-icon>Archivos adjuntos
      <span class="hidden-file">
        <input type="file" #fileInput ng2FileSelect multiple [uploader]="uploader">
      </span>
      <a mat-mini-fab matTooltip="Adjuntar Documentos." (click)="fileInput.click()" class="nav-link float-right m-l-10" color="primary"><mat-icon>file_upload</mat-icon></a>

      <a mat-mini-fab matTooltip="Documentos del cliente." (click)="cargarDocumentosPersona()" class="nav-link float-right" color="grey"><mat-icon>drive_file_move_rtl</mat-icon></a>
    </h4>
  </div>
  <!-- <div class="col-md-12" *ngIf="uploadForm.get(formArrayName)['controls'].length > 1">
    <button type="button" class="btn btn-info" (click)="viewUrlImageAll()">Visualizar Todos</button>
  </div> -->
  <div class="col-md-12 m-t-10">
    <section>
      <div  class="row">
        <div class="col-md-12 scroll">
          <div class="timeline-badge danger" *ngIf="uploadForm.get(formArrayName)['controls'].length == 0">
            <i  class="fa fa-info-circle"></i>
          </div>
          <div class="timeline-panel" *ngIf="uploadForm.get(formArrayName)['controls'].length == 0">
            <div class="timeline-heading">
              <h4 class="timeline-title">No posee registros cargados</h4>
            </div>
            <div class="timeline-body">
              <p>Documentos pertenecientes a la propuesta (Imagen/Pdf).</p>
            </div>
          </div>

          <table  class="table product-overview" *ngIf="uploadForm.get(formArrayName)['controls'].length > 0">
            <tbody>
              <ng-container [formArrayName]="formArrayName">
                <tr [formGroupName]="i" (ngSubmit)="uploadSubmit(i)" *ngFor="let item of uploadForm.get(formArrayName)['controls']; let i = index">
                  <td style="text-align:center" align="center">
                    <mat-checkbox *ngIf="item.controls.idEntidad.value != idEntidad" (change)="onCheckboxChange($event, i)" [checked]="item.controls.idEntidad.value == idEntidad" color="primary" ></mat-checkbox>
                  </td>
                  <td style="text-align:center" align="center">
                    {{ item?.get('id').value }}
                  </td>
                  <td style="text-align:center">
                    <a (click)="item.controls.id.value == null ? viewImageFile(item.get('file')?.value) : viewImageUrl(item.get('id')?.value)">
                      <img *ngIf="item.controls.id.value != null" class="img-circle" width="40" [src]="item.get('url')?.value">
                    </a>
                  </td>
                  <td style="text-align:center">
                    <a (click)="item.controls.id.value == null ? viewImageFile(item.get('file')?.value) : viewImageUrl(item.get('id')?.value)">{{ item.get('nombreDocumento')?.value }}</a>
                  </td>
                  <td style="text-align:center" align="center">
                    {{ item.get('size')?.value/1024/1024 | number:'.2' }} MB
                  </td>
                  <td style="text-align:center">
                    <app-select-filter (value)="getValue($event,item.controls['tipoDocumento'])"
                    [modelValue]="item.controls.tipoDocumento.value"
                    placeholder="Tipo Documento" urlFilter="tipos-documentos" [columnsFilter]="['nombre','codigo']"></app-select-filter>
                  </td>
                  <td>
                    <a mat-icon-button *ngIf="item.controls.id.value == null" (click)="item.controls.tipoDocumento.value == null ? '' : uploadSubmit(i)"
                    [disabled]="item.controls.tipoDocumento.value == null"> <mat-icon>check</mat-icon></a>
                    <a mat-icon-button *ngIf="item.controls.id.value != null && item.controls.idEntidad.value == idEntidad" (click)="item.controls.tipoDocumento.value == null ? '' : editSubmit(i)"
                    [disabled]="item.controls.tipoDocumento.value == null"> <mat-icon>edit</mat-icon></a>
                    <a mat-icon-button  (click)="item.controls.id.value == null ? viewImageFile(item.get('file')?.value) : viewImageUrl(item.get('id')?.value)"> <mat-icon>visibility</mat-icon></a>
                    <a mat-icon-button *ngIf="item.controls.idEntidad.value == idEntidad" color="warn" (click)="delete(item.value)"> <mat-icon>delete_forever</mat-icon></a>
                  </td>

                </tr>
              </ng-container>
            </tbody>
          </table>
          <!-- <div *ngIf="uploader?.queue?.length > 0">
              <div>
                  Progreso:
                  <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
          </div> -->
        </div>
      </div>
    </section>
  </div>
</div>
