<div class="row">
  <div class="col-md-12">
    <h4  class="m-0"><mat-icon class="gray-text">attachment</mat-icon>Documentos
      <span class="hidden-file">
        <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
      </span>
      <a mat-mini-fab (click)="fileInput.click()" class="nav-link float-right" color="primary"><mat-icon>file_upload</mat-icon></a>
    </h4>
  </div>
  <div class="col-md-12 m-t-10">
    <section>
      <div  class="row">
        <div class="col-md-12">
          <div class="timeline-badge danger" *ngIf="uploader?.queue?.length == 0">
            <i  class="fa fa-info-circle"></i>
          </div>
          <div class="timeline-panel" *ngIf="uploader?.queue?.length == 0">
            <div class="timeline-heading">
              <h4 class="timeline-title">No posee registros cargados</h4>
            </div>
            <div class="timeline-body">
              <p>Documentos pertenecientes a la propuesta (Imagen/Pdf).</p>
            </div>
          </div>
          <table  class="table" *ngIf="uploader?.queue?.length > 0">
            <!-- <thead>
              <tr>
                <th></th>
                <th>Nombre</th>
                <th>Tamaño</th>
                <th></th>
              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td>
                  <a (click)="viewImage(item?._file)"><img src="" thumbnail [image]="item?._file"/></a>
                </td>
                <td>
                  <a (click)="viewImage(item?._file)">{{ item?.file?.name }}</a>
                </td>
                <td>
                  {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                </td>
                <td>
                  <a mat-icon-button color="warn" (click)="item.remove()"> <mat-icon>delete_forever</mat-icon></a>
                  <a mat-icon-button  (click)="viewImage(item?._file)"> <mat-icon>visibility</mat-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="uploader?.queue?.length > 0">
              <div>
                  Progreso:
                  <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
