<div>
  <mat-card>
    <mat-card-content>
    <mat-card-title>

      <div class="row">
        <div class="col-md-6">
          Tipos Garantias
        </div>
        <div class="col-md-6">
          <a mat-stroked-button class="nav-link" class="m-t-10 float-right" routerLink="/service-web/guarantee-types/new" *appCanAccess="['guarantee-types', 'addGuaranteeTypes']">
            Agregar
          </a>
        </div>
      </div>
    </mat-card-title>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="nombre" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="codigo">
           <mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="codigo"> {{element.codigo}} </mat-cell>
         </ng-container>

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> GARANTIA </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="garantia"> {{element.nombre}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="codeudor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> CODEUDOR </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="codeudor"> {{(element.codeudor == true ? 'S' : 'N')}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hipoteca">
            <mat-header-cell *matHeaderCellDef mat-sort-header> HIPOTECA </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="hipoteca"> {{(element.hipoteca == true ? 'S' : 'N')}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/guarantee-types/{{element.id}}" *appCanAccess="['guarantee-types', 'viewGuaranteeTypes']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/guarantee-types/{{element.id}}/edit" *appCanAccess="['guarantee-types', 'editGuaranteeTypes']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)" *appCanAccess="['guarantee-types', 'deleteGuaranteeTypes']"> <mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
