<div class="row">
	<div class="col-md-12">
		<h3 align="center">Propuesta de Credito</h3>
	</div>

</div>
<mat-card class="form-card">
	<form id="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
		<mat-card-content>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<app-select-filter appearance="legacy" (value)="getValue($event, 'modalidad')" [modelValue]="myForm.get('modalidad').value"
                     placeholder="Modalidad" urlFilter="modalidades" [columnsFilter]="['nombre']"></app-select-filter>
					
					<mat-form-field  appearance="legacy">
						<mat-label>Plazo</mat-label>
						<input matInput #input  placeholder="Plazo" formControlName="plazo"  name="plazo">
					</mat-form-field>
					<br>
					<mat-form-field  appearance="legacy">
						<mat-label>Monto a Solicitar</mat-label>
						<input matInput #input  placeholder="Monto a Solicitar" formControlName="montoSol"  name="montoSol">
					</mat-form-field>		
					<mat-form-field  appearance="legacy">
						<input matInput #input [matDatepicker]="picker" formControlName="fechaVencimiento" id = "fechaVencimiento" name="fechaVencimiento" placeholder="Fecha primer Vencimiento" readonly>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>		
				</div>
				<div class="col-md-3">
					<mat-form-field  appearance="legacy">
						<mat-label>Tasa Interes Anual</mat-label>
						<input matInput #input  placeholder="Tasa Interes Anual" formControlName="tasaAnual" name="tasaAnual" [value]="myForm.get('modalidad')?.value?.interes">
					</mat-form-field>
					<br>
					<mat-form-field  appearance="legacy">
						<mat-label>Gastos Administrativos</mat-label>
						<input matInput #input  placeholder="Gastos Administrativos" formControlName="gastosAdmin" name="gastosAdmin" [value]="myForm.get('modalidad')?.value?.gastosAdministrativos">
					</mat-form-field>
					<br>
					<mat-form-field  appearance="legacy">
						<mat-label>Seguro Vida</mat-label>
						<input matInput #input  placeholder="Seguro Vida" formControlName="seguroVida" name="seguroVida" [value]="myForm.get('modalidad')?.value?.seguroVida">
					</mat-form-field>
				</div>
				<div class="col-md-3"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<mat-form-field  appearance="legacy">
						<mat-label>Monto a Desembolsar</mat-label>
						<input matInput #input placeholder="Monto a Desembolsar" [value]="thousands_separators(myForm.get('montoSol')?.value)" readonly>
					</mat-form-field>
					<mat-form-field  appearance="legacy">
						<mat-label>Gastos Administrativos</mat-label>
						<input matInput #input  placeholder="Gastos Administrativos" [value]="myForm.get('montoGastoAdmin')?.value" readonly>
					</mat-form-field>
					<mat-form-field  appearance="legacy">
						<mat-label>Seguro de vida</mat-label>
						<input matInput #input  placeholder="Seguro de vida" [value]="myForm.get('montoSeguroVida')?.value" readonly>
					</mat-form-field>
					<mat-form-field  appearance="legacy">
						<mat-label>Capital Total</mat-label>
						<input matInput #input  placeholder="Capital Total" [value]="myForm.get('montoTotal')?.value" readonly>
					</mat-form-field>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-outline-secondary waves-effect px-3 btn-sm m-r-5" color="primary" (click)="calcularCuota()" >Calcular</button>
					<br> <br> <br>
					<button [disabled]="cuotas.length <= 0" type="button" class="btn btn-outline-secondary waves-effect px-3 btn-sm m-r-5" color="primary" (click)="printLiquidacion()" >Imprimir</button>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
								
			</div>
			<div class="row">
				<div class="col-12">
				  <div *ngIf="cuotas.length > 0" class="table-responsive">
					<table id="lista-tabla" class="table">
						<thead>
							<tr>
								<th>Nro Cuota</th>
								<th>Fecha Vencimiento</th>
								<th>Dias</th>
								<th>Monto Cuota</th>
								<th>Interés</th>
								<th>Amortizacion</th>
								<th>Saldo</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let c of cuotas">
								<td>{{c.numeroCuota}}</td>
								<td>{{c.fechaVencimiento}}</td>
								<td>{{c.dias}}</td>
								<td>{{c.montoCuota | number}}</td>
								<td>{{c.interes | number}}</td>
								<td>{{c.amortizacion | number}}</td>
								<td>{{c.saldoCapital | number}}</td>
							</tr>
						</tbody>
					</table>
				  </div>
			  </div>
			</div>
		</mat-card-content>
	</form>
</mat-card>
