<div class="row">
	<div class="col-md-12">
		<h3 align="center">Archivo de cuotas para el WS de pagos</h3>
	</div>
</div> 

<div class="row">
	<div class="col-md-4">
	  <p mat-line><span class="font-bold">Tasa de Interes Anual: </span>{{myForm.get('tasaInteres')?.value}} %</p>
	  <p mat-line><span class="font-bold">Gastos Administrativos Anual: </span>{{myForm.get('gastosAdministrativos')?.value}} %</p>
	  <p mat-line><span class="font-bold">Seguro de vida Anual: </span>{{myForm.get('seguroVida')?.value}} %</p>
	  <p mat-line><span class="font-bold">Plazo: </span> {{myForm.get('plazoOperacion')?.value}}</p>
	</div>
	<div class="col-md-4">
	  <p mat-line><span class="font-bold">Tasa de interes por periodo: </span>{{interesPeriodo}} %</p>
	  <p mat-line><span class="font-bold">Gtos Adm. por periodo: </span>{{gastAdminPeriodo}} %</p>
	  <p mat-line><span class="font-bold">Seg Vida. por periodo: </span>{{segVidaPeriodo}} %</p>
	  <p mat-line><span class="font-bold">Modalidad: </span> {{myForm.get('modalidad')?.value?.nombre}}</p>
	</div>
	<!--
	<div class="col-md-4">
	  <p mat-line><span class="font-bold">Destino: </span>{{myForm.get('tipoDestino')?.value.nombre}}</p>
	  <p mat-line><span class="font-bold">Tipo Garantia: </span>{{(myForm.get('propuestaSolicitud')?.value?.tipoGarantia?.nombre == null ? '' : myForm.get('propuestaSolicitud')?.value?.tipoPago?.nombre)}}</p>
	  <p mat-line><span class="font-bold">Forma de pago: </span> {{(myForm.get('propuestaSolicitud')?.value?.tipoPago?.nombre == null ? '' : myForm.get('propuestaSolicitud')?.value?.tipoPago?.nombre)}}</p>
	  <p mat-line><span class="font-bold">Tipo Desembolso: </span> {{myForm.get('tipoDesembolso')?.value.nombre}}</p>
	</div>
  </div>
  -->
  <div class="row">
	<div class="col-md-9">
	  <p><span class="font-bold">Neto a desembolsar: </span> {{myForm.get('montoCapital')?.value  | number}}</p>
	  <p><span class="font-bold">Gastos Administrativos: </span> {{gastAdmin | number}}</p>
	  <p><span class="font-bold">Seguro de vida: </span> {{segVida | number}}</p>
	  <p><span class="font-bold">Capital Total: </span> {{capitalTotal | number}}</p>
	</div>
	

</div>