<ng-container>
  <div class="row" formGroupName="persona">
    <div class="col-md-12">
      <h4  class="m-0"><mat-icon class="gray-text">account_circle</mat-icon>Datos Personales</h4>
      <br>
    </div>
    <div class="col-md-2 center">
      <div  class="card-avatar">
        <app-dropify-image [disabled]="true" [pathImage]="peopleForm.controls['persona'].get('imagePath').value"></app-dropify-image>
      </div>
    </div>
    <div class="col-md-10">
      <div class="p-l-20 p-t-10">
        <div class="font-medium">{{
          (peopleForm.controls['persona'].get('primerNombre').value == null ? '' : peopleForm.controls['persona'].get('primerNombre').value)
          + ' ' +
          (peopleForm.controls['persona'].get('segundoNombre').value == null ? '' : peopleForm.controls['persona'].get('segundoNombre').value)
          + ' ' +
          (peopleForm.controls['persona'].get('primerApellido').value == null ? '' : peopleForm.controls['persona'].get('primerApellido').value)
          + ' ' +
          (peopleForm.controls['persona'].get('segundoApellido').value == null ? '' : peopleForm.controls['persona'].get('segundoApellido').value)
          }} </div>
        <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].profesion.value">{{peopleForm.controls['persona']['controls'].profesion.value.nombre}}</span>
        <br *ngIf="peopleForm.controls['persona']['controls'].profesion.value">
        <span class="font-16" *ngIf="peopleForm.controls['persona'].get('email').value">{{peopleForm.controls['persona'].get('email').value }}</span>
        <br>
        <span class="font-16" *ngIf="peopleForm.controls['persona'].get('telefonoParticular').value">Telf. {{
          (peopleForm.controls['persona'].get('telefonoParticular').value == null ? '' : peopleForm.controls['persona'].get('telefonoParticular').value)
          + ' ' +
          (peopleForm.controls['persona'].get('telefonoSecundario').value == null ? '' : peopleForm.controls['persona'].get('telefonoSecundario').value)
          }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngIf="peopleForm.controls['persona'].get('tipoPersona').value">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Tipo Persona </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('tipoPersona').value}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Documento </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('documento').value}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Ruc </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('ruc').value}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Fecha Nacimiento </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('fechaNacimiento').value | date: 'dd/MM/yyyy'}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Sexo </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('sexo').value}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Estado Civil </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('estadoCivil').value}}</span>
        </div>
      </div>
      <div class="col-md-4" *ngIf="peopleForm.controls['persona'].get('separacionBienes').value == true">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Separacion Bienes </div>
          <span class="font-16">S</span>
        </div>
      </div>
      <div class="col-md-4" *ngIf="peopleForm.controls['persona'].get('separacionBienes').value != true">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Separacion Bienes </div>
          <span class="font-16">N</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Nacionalidad </div>
          <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].nacionalidad.value">{{peopleForm.controls['persona']['controls'].nacionalidad.value.nombre}}</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Numero Hijos </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('numeroHijos').value }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Numero Dependientes </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('numeroDependientes').value }}</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="p-l-20 p-t-10">
          <div class="font-medium">Observacion </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('observacion').value }}</span>
        </div>
      </div>
      <br>
      <div class="col-md-12 m-t-20">
        <h4  class="m-0"><mat-icon class="gray-text">directions</mat-icon>Direccion</h4>
        <br>
      </div>
      <div class="col-md-12">
        <app-map [markerDraggable]="false" [latitude]="peopleForm.controls['persona'].get('latitud').value" [longitude]="peopleForm.controls['persona'].get('longitud').value"></app-map>
      </div>
      <div class="col-md-3">
        <div class="p-l-20">
          <div class="font-medium">Pais </div>
          <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].pais.value">{{peopleForm.controls['persona']['controls'].pais.value.nombre }}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-l-20">
          <div class="font-medium">Departamento </div>
          <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].departamento.value">{{peopleForm.controls['persona']['controls'].departamento.value.nombre }}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-l-20">
          <div class="font-medium">Ciudad </div>
          <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].ciudad.value">{{peopleForm.controls['persona']['controls'].ciudad.value.nombre }}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-l-20">
          <div class="font-medium">Barrio </div>
          <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].barrio.value">{{peopleForm.controls['persona']['controls'].barrio.value.nombre }}</span>
        </div>
      </div>
      <div class="col-md-6  p-t-10">
        <div class="p-l-20">
          <div class="font-medium">Direccion </div>
          <span class="font-16">{{peopleForm.controls['persona'].get('direccionParticular').value }}</span>
        </div>
      </div>
      <div class="col-md-6  p-t-10">
        <div class="p-l-20">
          <div class="font-medium">Direccion Detallada</div>
          <span class="font-16">{{peopleForm.controls['persona'].get('direccionDetallada').value }}</span>
        </div>
      </div>
      <div class="col-md-12">
        <app-spouse></app-spouse>
      </div>
      <br>
    </div>
  </div>
</ng-container>
