<form  [formGroup]="filterForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field  appearance="legacy">
       <input matInput #input [matDatepicker]="pickerInicio" formControlName="fechaDesde"  name="fechaDesde" placeholder="Fecha Inicio" required>
       <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
       <mat-datepicker #pickerInicio></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field  appearance="legacy">
       <input matInput #input [matDatepicker]="pickerFin" formControlName="fechaHasta"  name="fechaHasta" placeholder="Fecha Fin" required>
       <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
       <mat-datepicker #pickerFin></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="legacy">
        <input matInput type="number" placeholder="Nro. Credito" formControlName="nroCredito"  name="nroCredito">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="legacy">
        <input matInput type="number" placeholder="Nro. Solicitud" formControlName="nroSolicitud"  name="nroSolicitud">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Estado">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <app-select-filter appearance="legacy" (value)="getValue($event, 'sucursal')" [modelValue]="filterForm.get('sucursal').value"
       placeholder="Sucursal" urlFilter="sucursales" [columnsFilter]="['nombre']"></app-select-filter>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Documento" formControlName="documento"  name="documento">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Ruc" formControlName="ruc"  name="ruc">
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <button mat-button #filterButton (click)="true" mat-raised-button value="button">Filtrar</button>
    </div>
  </div>
</form>
