.mat-button{
  min-width: 100%;
  color: #fff;
  background-color: #74c7a4;
  border-top-left-radius: 4.8px;
  font-family: roboto-light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 400;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: none;
}
header {
  background:#092959;
  padding: 24px 0;
  padding-right: 0px;
  padding-left: 0px;
}
header img.logo {
    height: 40px;
}
header .menu li .serviweb {
    height: 40px;
    padding: 10px 0;
}
.mat-card {
    margin: 0px;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.form-border{
    border-bottom: 1px solid rgba(120,130,140,.13);
    display: flex;
    color: #455a64;
    align-items: center;
    text-decoration: none;
}
.gray-text {
  color: #777;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.example-h2{
  margin: 10px;
}

.example-section{
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin{
  margin: 0 10px;
}
