<div class="auth-page">
  <div>
    <header class="px-0 px-md-5">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6 col-md-2 text-center text-md-left">
            <a href="https://www.coomecipar.coop.py">
              <img src="https://www.coomecipar.coop.py//storage/logo-light.png" alt="" class="logo">
            </a>
          </div>
          <div class="col-6 col-md-10 text-right">
            <div class="d-none d-md-block">
              <ul class="list-inline menu text-uppercase mb-0">
                <li class="list-inline-item">
                  <a href="https://serviweb.coomecipar.coop.py/" target="_blank">
                    <img src="https://www.coomecipar.coop.py//storage/serviweb-light.png" alt="" class="serviweb">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <mat-card class="form-card">
      <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <app-people [relationShip]="true"></app-people>
                      </div>
                      <div class="col-md-12">
                        <app-reference [fkFilterModel]="myForm.value.persona.id" [minRow]="1"></app-reference>
                      </div>
                      <div class="col-md-12">
                        <app-occupation [fkFilterModel]="myForm.value.persona.id" [minRow]="1"></app-occupation>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <mat-card-actions>
                  <button mat-button [type]="onSubmit"  mat-raised-button>Guardar</button>
                </mat-card-actions>
            </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
