
  <div class="card">
    <div class="header">
      <h2>USUARIO</h2>
    </div>
    <div class="body">
      <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Documento" [(ngModel)]="user.documento" name="documento" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Usuario" [(ngModel)]="user.usuario" name="usuario" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Nombre" [(ngModel)]="user.nombre" name="nombre" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Apellido" [(ngModel)]="user.apellido" name="apellido" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <mat-select placeholder="Sexo" [(ngModel)]="user.sexo" name="food" required>
              <mat-option *ngFor="let food of sexos" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input  placeholder="Especialidad" [(ngModel)]="user.especialidad" name="especialidad" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <mat-select placeholder="Departamento" [(ngModel)]="user.departamento" name="departamento" required>
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                {{departamento.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <!--Contains mat-hint for characters count and has maxLengt set-->
        <!-- <div class="form">
        <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="State" [(ngModel)]="data.state" name="state" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div> -->

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" [(ngModel)]="user.email" name="email">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Telefono" [(ngModel)]="user.telefono" name="telefono">
      </mat-form-field>
    </div>

  </form>
  <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!formControl.valid">Submit</button>
</div>
</div>



<!-- <div class="container">
<h3 mat-dialog-title>Usuario: {{data.nombre}}</h3>

<
<div mat-dialog-actions>
<button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" class="btn bg-teal waves-effect" (click)="stopEdit()">Guardar</button>
<button mat-button (click)="onNoClick()" class="btn bg-amber waves-effect" tabindex="-1">Cancel</button>
</div>
</div> -->
