<ng-container>
  <div class="row" formGroupName="historialMedico">
    <div class="col-md-12 m-t-20 m-b-10">
      <h4  class="m-0 font-20"><mat-icon class="gray-text">assignment</mat-icon>Historial Medico</h4>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">ESTATURA </span> {{modelForm.controls['historialMedico'].get('estatura')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">PESO</span> {{modelForm.controls['historialMedico'].get('peso')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">TIPO SANGRE</span> {{modelForm.controls['historialMedico'].get('tipoSangre')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">RH</span> {{modelForm.controls['historialMedico'].get('rhAgente')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">REALIZA ALGUN TRATAMIENTO?</span> {{modelForm.controls['historialMedico'].get('tratamientoMedico')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">HACE CUÁNTO?</span> {{modelForm.controls['historialMedico'].get('tiempoTratamiento')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">MEDICO TRATANTE</span> {{(modelForm.controls['historialMedico'].get('medicoTratante')?.value)}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">TELEF. PARTICULAR</span> {{modelForm.controls['historialMedico'].get('telefMedicoTratante')?.value}}</p>
    </div>
    <div class="col-sm-12">
      <p mat-line><span class="font-bold">MOTIVO</span> {{modelForm.controls['historialMedico'].get('motivoTratamiento')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">UTILIZA ALGÚN MEDICAMENTO?</span> {{modelForm.controls['historialMedico'].get('medicacion')?.value}}</p>
    </div>
    <div class="col-sm-6">
      <p mat-line><span class="font-bold">MOTIVO</span> {{modelForm.controls['historialMedico'].get('motivoMedicacion')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">HA BAJADO O SUBIDO MAS DE 5KG</span> {{(modelForm.controls['historialMedico'].get('variacionPeso')?.value == true ? 'S' : 'N')}}</p>
    </div>
    <div class="col-sm-12">
      <p mat-line><span class="font-bold">ES O FUE UD. O SUS PARIENTES MÁS CERCANOS PORTADOR DE ALGUNA DE ESTAS AFECCIONES? </span></p>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="hipertensionArterial" name="hipertensionArterial">Hipertensión Arterial</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="alergias" name="alergias">Alergias</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="fiebreReumatica" name="fiebreReumatica">Fiebre Reumatática</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="anemias" name="anemias">Anemias</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="problemasCardiacos" name="problemasCardiacos">Problemas Cardiacos</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="diabetes" name="diabetes">Diabetes</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="ulceras" name="ulceras">Úlceras</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="afeccionesPsiquicas" name="afeccionesPsiquicas">Afecciones Psiquicas</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="afeccionesRenales" name="afeccionesRenales">Afecciones Renales</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="problemasCoagulacion" name="problemasCoagulacion">Problemas Coagulación</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="ets" name="ets">E. Sexuales</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="sinusitis" name="sinusitis">Sinusitis</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="lesionesHepaticas" name="lesionesHepaticas">Lesiones Hepáticas</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="hemofilia" name="hemofilia">Hemofilia</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="epilepsia" name="epilepsia">Epilepsia</mat-checkbox>
      </section>
    </div>
    <div class="col-md-3">
      <section class="example-section">
           <mat-checkbox disabled="true" class="example-margin" formControlName="transtornosRespiratorios" name="transtornosRespiratorios">Trastornos Respiratorios</mat-checkbox>
      </section>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">SE HA SOMEDITO A ALGUNA OPERACIÓN? </span> {{modelForm.controls['historialMedico'].get('operacion')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">QUE OPERACIÓN? </span> {{modelForm.controls['historialMedico'].get('motivoOperacion')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">HA UTILIZADO ANESTESIA? </span> {{modelForm.controls['historialMedico'].get('anestesia')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">TUVO ALGUN INCONVENIENTE? </span> {{modelForm.controls['historialMedico'].get('inconvenienteAnestesia')?.value}}</p>
    </div>
    <div class="col-sm-6">
      <p mat-line><span class="font-bold">QUE INCONVENIENTE? </span> {{modelForm.controls['historialMedico'].get('motivoInconveniente')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">ESTA EMBARAZADA? </span> {{modelForm.controls['historialMedico'].get('embarazo')?.value}}</p>
    </div>
    <div class="col-sm-3">
      <p mat-line><span class="font-bold">CUANTAS SEMANAS? </span> {{modelForm.controls['historialMedico'].get('semanasEmbarazo')?.value}}</p>
    </div>
  </div>
</ng-container>
