<ng-container>
  <div class="row" formGroupName="persona">
    <div class="col-md-12">
      <h4  class="m-0 font-20"><mat-icon class="gray-text">account_circle</mat-icon>Datos Personales</h4>
      <br>
    </div>
    <div class="col-md-2 center">
      <div  class="card-avatar">
        <app-dropify-image [disabled]="true" [pathImage]="peopleForm.controls['persona'].get('imagePath').value"></app-dropify-image>
      </div>
    </div>
    <div class="col-md-10">
      <div class="p-l-20 p-t-10">
        <div class="font-medium">{{
          (peopleForm.controls['persona'].get('primerNombre')?.value == null ? '' : peopleForm.controls['persona'].get('primerNombre')?.value)
          + ' ' +
          (peopleForm.controls['persona'].get('segundoNombre')?.value == null ? '' : peopleForm.controls['persona'].get('segundoNombre')?.value)
          + ' ' +
          (peopleForm.controls['persona'].get('primerApellido')?.value == null ? '' : peopleForm.controls['persona'].get('primerApellido')?.value)
          + ' ' +
          (peopleForm.controls['persona'].get('segundoApellido')?.value == null ? '' : peopleForm.controls['persona'].get('segundoApellido')?.value)
          }} </div>
        <span class="font-16" *ngIf="peopleForm.controls['persona']['controls'].profesion.value">{{peopleForm.controls['persona']['controls'].profesion.value?.nombre}}</span>
        <br *ngIf="peopleForm.controls['persona']['controls'].profesion.value">
        <span class="font-16" *ngIf="peopleForm.controls['persona'].get('email').value">{{peopleForm.controls['persona'].get('email')?.value }}</span>
        <br>
        <span class="font-16" *ngIf="peopleForm.controls['persona'].get('telefonoParticular').value">Telf. {{
          (peopleForm.controls['persona'].get('telefonoParticular')?.value == null ? '' : peopleForm.controls['persona'].get('telefonoParticular')?.value)
          + ' ' +
          (peopleForm.controls['persona'].get('telefonoSecundario')?.value == null ? '' : peopleForm.controls['persona'].get('telefonoSecundario')?.value)
          }}</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row m-t-20">
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">TIPO PERSONA </span> {{peopleForm.controls['persona'].get('tipoPersona')?.value}}</p>

          <p mat-line><span class="font-bold">DOCUMENTO</span> {{peopleForm.controls['persona'].get('documento')?.value}}</p>

          <p mat-line><span class="font-bold">RUC</span> {{peopleForm.controls['persona'].get('ruc')?.value}}</p>

          <p mat-line><span class="font-bold">FECHA NACIMIENTO</span> {{peopleForm.controls['persona'].get('fechaNacimiento')?.value | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">SEXO</span> {{peopleForm.controls['persona'].get('sexo')?.value}}</p>

          <p mat-line><span class="font-bold">ESTADO CIVIL</span> {{peopleForm.controls['persona'].get('estadoCivil')?.value}}</p>

          <p mat-line><span class="font-bold">SEPARACION BIENES</span> {{(peopleForm.controls['persona'].get('separacionBienes')?.value == true ? 'S' : 'N')}}</p>

          <p mat-line><span class="font-bold">NACIONALIDAD</span> {{peopleForm.controls['persona']['controls'].nacionalidad?.value?.nombre}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">NUMERO HIJOS</span> {{peopleForm.controls['persona'].get('numeroHijos')?.value}}</p>

          <p mat-line><span class="font-bold">NUMERO DEPENDIENTES</span> {{peopleForm.controls['persona'].get('numeroDependientes')?.value}}</p>

          <p mat-line style="white-space: normal;"><span class="font-bold">OBSERVACION</span> {{peopleForm.controls['persona'].get('observacion')?.value}}</p>
        </div>
        <br>
        <div class="col-md-12 m-t-20">
          <h4  class="m-0 font-20"><mat-icon class="gray-text">directions</mat-icon>Direccion</h4>
          <br>
        </div>
        <div class="col-md-12">
          <app-map [markerDraggable]="false" [latitude]="peopleForm.controls['persona'].get('latitud')?.value" [longitude]="peopleForm.controls['persona'].get('longitud')?.value"></app-map>
        </div>
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">PAIS</span> {{peopleForm.controls['persona']['controls'].pais.value?.nombre}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">DEPARTAMENTO</span> {{peopleForm.controls['persona']['controls'].departamento.value?.nombre}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">CIUDAD</span> {{peopleForm.controls['persona']['controls'].ciudad.value?.nombre}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line><span class="font-bold">BARRIO</span> {{peopleForm.controls['persona']['controls'].barrio.value?.nombre}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line style="white-space: normal;"><span class="font-bold">DIRECCION</span> {{peopleForm.controls['persona'].get('direccionParticular')?.value}}</p>
        </div>
        <div class="col-sm-4">
          <p mat-line style="white-space: normal;"><span class="font-bold">DIRECCION DETALLADA</span> {{peopleForm.controls['persona'].get('direccionDetallada')?.value}}</p>
        </div>
        <!-- <div class="col-md-12">
          <app-view-people-relationship *ngIf="isRelationShip" [fkFilterModel]="peopleForm.controls['persona'].get('id').value"></app-view-people-relationship>
        </div> -->
        <br>
      </div>
    </div>
  </div>
</ng-container>
