<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/business"> SUCURSALES </a> &gt; <span class="current">Lista de Sucursales</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/subsidiary/new" *appCanAccess="['subsidiary', 'addSubsidiary']">
     Agregar
  </a>
</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
        <mat-form-field appearance="fill">
          <input matInput #filter placeholder="Buscar....." class="form-control-success">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- </p> -->
      <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
      </div> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="nombre" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="codigoSucursal">
           <mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="codigo">
              {{element.codigoSucursal}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="nombre">
               {{element.nombre}}
             </mat-cell>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef> DIRECCION </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" data-label="direccion">
               {{element.direccion}}
             </mat-cell>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef> TELEFONO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="telefono">
              {{element.telefono}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="email">
                {{element.email}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/subsidiary/{{element.id}}" *appCanAccess="['subsidiary', 'viewSubsidiary']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/subsidiary/{{element.id}}/edit" *appCanAccess="['subsidiary', 'editSubsidiary']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)"> <mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
