<ng-container>
  <div class="row">
    <div class="col-md-12">
        <h4  class="m-0"><mat-icon class="gray-text">store_mall_directory</mat-icon>Departamentos
          <a mat-mini-fab (click)="addButton()" class="nav-link float-right" color="primary"><mat-icon>plus_one</mat-icon></a>
        </h4>
    </div>
    <div formArrayName="departamentos"  *ngFor="let departamentos of departmentForm.get('departamentos').controls; let i = index" class="col-md-12">
      <blockquote>
        <div [formGroupName]="i">
          <div class="row">
             <div class="col-sm-3">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Alias"  formControlName="alias" name="alias" required>
                 <mat-error *ngIf="(departamentos.get('alias').errors)">
                   <span *ngIf="departamentos.get('alias').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="col-sm-4">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Nombre"  formControlName="nombreArea" name="nombreArea" required>
                 <mat-error *ngIf="(departamentos.get('nombreArea').errors)">
                   <span *ngIf="departamentos.get('nombreArea').errors.required">
                    Campo requerido
                   </span>
                 </mat-error>
               </mat-form-field>
             </div>
             <div class="col-md-4">
               <mat-form-field    appearance="legacy">
                 <input matInput #input  placeholder="Descripcion"  name="descripcionArea">

               </mat-form-field>
             </div>
             <div class="col-md-1">
               <section class="example-section">
                    <a mat-icon-button color="warn" (click)="delete(departamentos.value)"> <mat-icon>delete_forever</mat-icon></a>
               </section>
             </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</ng-container>
