<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/credits-solicitude"> SOLICITUDES CREDITOS </a> &gt; <span class="current">Lista de Solicitudes</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <button  type="button" class="btn btn-secondary" routerLink="/service-web/credits-solicitude/new" *appCanAccess="['credits-solicitude', 'addCredits']"><span class="font-bold">Agregar</span></button>
</div>

<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
        <mat-form-field appearance="fill" class="search-form">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput #filter placeholder="Buscar" type="search">
          <mat-icon matSuffix class="cursor-pointer" role="img" aria-hidden="true" (click)="toggleAdvanceFilter()">filter_list</mat-icon>
        </mat-form-field>

        <mat-expansion-panel [expanded]="advanceFilterOpenState" class="advance-search-form" [ngClass]="{'opened': advanceFilterOpenState}">
          <form [formGroup]="filterForm" class="p-t-20">
            <div  class="row">
              <div class="col-md-6">
                <mat-form-field  appearance="legacy">
                 <input matInput #input [matDatepicker]="pickerInicio" formControlName="fechaInicio"  name="fechaInicio" placeholder="Fecha Inicio">
                 <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                 <mat-datepicker #pickerInicio></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field  appearance="legacy">
                 <input matInput #input [matDatepicker]="pickerFin" formControlName="fechaFin"  name="fechaFin" placeholder="Fecha Fin">
                 <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                 <mat-datepicker #pickerFin></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="legacy">
                  <input matInput type="number" placeholder="Nro. Solicitud" formControlName="id"  name="id">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <app-select-filter appearance="legacy" (value)="getValue($event, 'estado')" [modelValue]="filterForm.get('estado')?.value"
                 placeholder="Estado" urlFilter="estados" [columnsFilter]="['nombre']" [required]="false"></app-select-filter>
              </div>
              <div class="col-md-4">
                <app-select-filter appearance="legacy" (value)="getValue($event, 'sucursal')" [modelValue]="filterForm.get('sucursal')?.value"
                 placeholder="Sucursal" urlFilter="sucursales" [columnsFilter]="['nombre']" [required]="false"></app-select-filter>
              </div>
              <div class="col-md-4">
                <app-select-filter appearance="legacy" (value)="getValue($event, 'funcionario')"
                 [modelValue]="filterForm.get('funcionario')?.value"
                 sortActive="alias"
                 placeholder="Funcionario Alta" urlFilter="funcionarios" [columnsFilter]="['alias']" [required]="false"></app-select-filter>
              </div>
              <ng-container formGroupName="cliente">
                <ng-container formGroupName="persona">
                  <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                      <input matInput placeholder="Documento Cliente" formControlName="documento"  name="documento">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                      <input matInput placeholder="Ruc Cliente" formControlName="ruc"  name="ruc">
                    </mat-form-field>
                  </div>
                </ng-container>
              </ng-container>
              <div class="col-md-12 p-t-20 advance-filter-buttons">
                <button mat-button mat-raised-button #filterButton>Filtrar</button>
                <button mat-button mat-flat-button (click)="closeFilterAdvance()">Cerrar</button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>

        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="id" matSortDirection="desc" matSortDisableClear [class.isMobile]="isMobile">

         <ng-container matColumnDef="id">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Nº SOLICITUD</mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="nº solicitud">
             {{element.id}}
           </mat-cell>
         </ng-container>

         <ng-container matColumnDef="fechaPresentacion">
           <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PRESENTACION </mat-header-cell>
           <mat-cell *matCellDef="let element" data-label="fecha presentacion">
             {{element.fechaPresentacion | date:'dd/MM/yyyy'}}
           </mat-cell>
         </ng-container>

          <ng-container matColumnDef="cliente.persona.documento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="documento">
              {{element.cliente.persona.documento}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cliente.persona.ruc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ruc">
              {{element.cliente.persona.ruc}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cliente.persona.primerNombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="nombre">
              {{(element.cliente.persona.primerNombre == null ? '' : element.cliente.persona.primerNombre) +' ' +(element.cliente.persona.segundoNombre == null ? '' : element.cliente.persona.segundoNombre)
            +', ' +(element.cliente.persona.primerApellido == null ? '' : element.cliente.persona.primerApellido) + ' ' +(element.cliente.persona.segundoApellido == null ? '' : element.cliente.persona.segundoApellido)}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="montoSolicitado">
              <mat-header-cell *matHeaderCellDef> MONTO SOLICITADO </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="monto solicitado">
                {{element.montoSolicitado | number}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sucursal.nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> SUCURSAL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="sucursal">
                {{element.sucursal.nombre}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado.nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="estado">
                <div *ngIf="element.estado.id == 4">
                  <span class="label label-danger">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 5">
                  <span class="label label-warning">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 1 || element.estado.id == 2">
                  <span class="label label-info">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 3 || element.estado.id == 6">
                  <span class="label label-success">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
                <div *ngIf="element.estado.id == 7">
                  <span class="label label-danger">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{element.estado.nombre}}</font>
                    </font>
                  </span>
                </div>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a mat-icon-button routerLink="/service-web/credits-solicitude/{{element.id}}" *appCanAccess="['credits-solicitude', 'viewCredits']"><mat-icon>visibility</mat-icon></a>
                  <ng-container *ngIf="element.estado.id == 1 || element.estado.id == 5">
                    <a  mat-icon-button routerLink="/service-web/credits-solicitude/{{element.id}}/edit" *appCanAccess="['credits-solicitude', 'editCredits']"> <mat-icon>edit</mat-icon></a>
                  </ng-container>
                  <ng-container *ngIf="element.estado.id == 1">
                    <button  mat-icon-button (click)="delete(element)" *appCanAccess="['credits-solicitude', 'deleteCredits']"> <mat-icon>delete</mat-icon></button>
                  </ng-container>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="paginator.pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
