<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/calculation-types"> Periodos Capitales </a> &gt; <span class="current">Lista de Periodos Capitales</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <button  type="button" class="btn btn-secondary" routerLink="/service-web/capital-period/new" *appCanAccess="['capital-period', 'addCapitalPeriod']">
    <span class="font-bold">Agregar</span>
  </button>
</div>
<div>
  <mat-card>
    <mat-card-content>
    <!-- <mat-card-subtitle> </mat-card-subtitle> -->
      <!-- <p> -->
      <mat-form-field appearance="fill" class="search-form">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput #filter placeholder="Buscar" type="search">
        <!-- <mat-icon matSuffix class="cursor-pointer" role="img" aria-hidden="true" (click)="toggleAdvanceFilter()">filter_list</mat-icon> -->
      </mat-form-field>
      <!-- </p> -->
        <mat-table [dataSource]="dataSource" class="mat-table"
         matSort  matSortActive="cantidadDias" matSortDirection="asc" matSortDisableClear [class.isMobile]="isMobile">

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PERIODO </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="periodo"> {{element.nombre}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cantidadDias">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CANT. DIAS </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="cant. dias"> {{element.cantidadDias}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button routerLink="/service-web/capital-period/{{element.id}}" *appCanAccess="['capital-period', 'viewCapitalPeriod']"><mat-icon>visibility</mat-icon></button>
                  <button mat-icon-button routerLink="/service-web/capital-period/{{element.id}}/edit" *appCanAccess="['capital-period', 'editCapitalPeriod']"> <mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="delete(element)" *appCanAccess="['capital-period', 'deleteCapitalPeriod']"> <mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="ng-tns-c39-77"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="length"
                      [showFirstLastButtons]="true"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
