<div>
  <div class="loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <mat-card class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-9 col-lg-10">
          <h2>Tipos Calculos</h2>
        </div>
        <div class="col-md-3 col-lg-2">
          <button routerLink="/service-web/calculation-types/new" mat-raised-button color="accent" *appCanAccess="['reference-types', 'addReferenceTypes']">Agregar</button>
        </div>
      </div>
    </div>
    <mat-card-content>
      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter placeholder="Buscar">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="scroll table table-bordered table-striped table-hover js-basic-example dataTable" matSort  matSortActive="nombre" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Calculo </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element">
              <mat-menu #appMenu="matMenu">
                  <a mat-menu-item  class="nav-link" routerLink="/service-web/calculation-types/{{element.id}}/edit" *appCanAccess="['reference-types', 'editReferenceTypes']">
                    <i class="fa fa-edit"></i>&nbsp;Editar</a>
                  <a mat-menu-item class="nav-link" href="/product-types/{{element.id}}">
                    <i class="fa fa-trash-o"></i>&nbsp;Remover</a>
                </mat-menu>
                <mat-button-toggle-group class="btn-group-vertical">
                  <mat-button-toggle class="btn-default" routerLink="/service-web/calculation-types/{{element.id}}" *appCanAccess="['reference-types', 'viewReferenceTypes']">
                     Mostrar
                  </mat-button-toggle>

                  <mat-button-toggle [matMenuTriggerFor]="appMenu">
                    <mat-icon>arrow_drop_down</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="getList($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
