<h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/payments-types"> Tipos Pagos </a> &gt; <span class="current">Editar</span></h2>
<mat-card class="form-card">
<!-- <mat-card-header>
  <mat-card-title>
    <a class="nav-link" mat-mini-fab color="primary" routerLink="/service-web/calculation-types/{{model.id}}">
      <mat-icon>reply</mat-icon>
    </a>
    Agregar Tipo Refrencia
  </mat-card-title>
</mat-card-header> -->
<mat-card-content>
  <form  class="mat-dialog-content" (ngSubmit)="formControl.form.valid && onSubmit()" #formControl="ngForm">
    <div class="row" fxLayout="row wrap">
      <div class="col-md-12">
         <h4  class="m-0"><mat-icon class="gray-text">description</mat-icon>Tipo Pago</h4>
         <br>
      </div>
      <div class="col-md-6">
        <mat-form-field   class="col-sm-12" appearance="legacy">
      		<input matInput #input  placeholder="Pago" [(ngModel)]="model.nombre" name="nombre" required>
      		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      	</mat-form-field>
      </div>
    </div>
    <mat-card-actions>
      <button mat-button [type]="onSubmit"  mat-raised-button >Guardar</button>
    </mat-card-actions>
  </form>
</mat-card-content>
</mat-card>
