// Estilos personalizados

.breadcrumb2 {
	text-transform: uppercase !important;
	font-size: 1em;
	padding-left: 1rem;
	overflow-x: hidden;
	margin: 0.5em 0;

	.previous {
		color: rgba(0,0,0,0.5) !important;
		&:hover {
			color: $megna !important;
		}
	}

	.current {
		color: #555 !important;
	}

	@media screen and (max-width: 960px) {
		white-space: normal;
		line-height: 1.5em;
		font-size: 0.7em;

		.previous,
		.current {
			display: inline-block;
		}
	}
}

.mat-button-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
		height: 30px;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.agm-map-container-inner {
	margin-bottom: 20px;
}

.mat-raised-button{
	@media(max-width:480px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center !important;
	}
}

.mat-dialog-container {
    max-width: none !important;
}

.mat-line {
	span.font-bold {
		display: block;
		font-size: 0.85em;
    opacity: 0.9;
		margin-top: 0.7em;
	}
}

.mat-dialog-app-viewer {
	.mat-dialog-container,
	.mat-dialog-content {
		padding: 0 !important;
	}

	.mat-card,
	.mat-dialog-content,
	.image-gallery-2 {
		margin: 0 !important;
	}

	.inline-icon {
		margin-top: 0;
	}
}

.search-form {
	&.mat-form-field-appearance-fill {
		.mat-form-field-flex {
			background: #f1f3f4 !important;
			border: 1px solid transparent !important;
			border-radius: 8px !important;
		}

		.mat-form-field-infix {
			border-top: none;
		}

		.mat-form-field-underline {
			display: none;
		}

		.mat-input-element {
			height: 30px;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.mat-expansion-panel {
	&.advance-search-form {
	    margin-top: -30px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	    margin-left: 1px;
	    margin-right: 1px;
			margin-bottom: 20px;

			&.opened {
		    padding: 20px 0;
			}

			.advance-filter-buttons {
				.mat-button {
			    float: right;
			    width: auto;
			    display: inline-block !important;
			    min-width: 50px !important;
					margin: 0 5px;
					padding-left: 15px !important;
					padding-right: 15px !important;

					&.mat-raised-button {
						background: #000000 !important;
					}

					&.mat-flat-button {
						background: #ffffff !important;
						color: #000000 !important;
					}
				}
			}
	}
}
