  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/people"> Personas </a> &gt; <span class="current">Agregar</span></h2>
  <mat-card class="form-card">
    <mat-card-content>
          <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <h4  class="m-0"><mat-icon class="gray-text">directions</mat-icon>Datos Personales</h4>
                      <br>
                    </div>
                    <div class="col-md-2 center">
                       <app-dropify-image [pathImage]="model.imagePath" [accept]="accept" (valueAvatar)="getAvatar($event)"></app-dropify-image>
                    </div>
                     <div class="col-md-10">
                       <div class="row">
                           <div class="col-md-3">
                             <mat-form-field class="col-sm-12" appearance="legacy">
                                <mat-label>Tipo Persona</mat-label>
                                <mat-select formControlName="tipoPersona" name="tipoPersona" required>
                                  <mat-option selected="true" value="FISICA">Fisica</mat-option>
                                  <mat-option value="JURIDICA">Juridica</mat-option>
                                </mat-select>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Documento" formControlName="documento"  name="documento" required>
                               <mat-error *ngIf="((myForm.get('documento').touched ||
                               myForm.get('documento').dirty) &&
                               myForm.get('documento').errors)">
                                 <span *ngIf="myForm.get('documento').errors.required">
                                  Campo requerido
                                 </span>
                               </mat-error>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Ruc" formControlName="ruc" name="ruc">
                               <mat-error *ngIf="((myForm.get('ruc').touched ||
                               myForm.get('ruc').dirty) &&
                               myForm.get('ruc').errors)">
                                 <span *ngIf="myForm.get('ruc').errors.required">
                                  Campo requerido
                                 </span>
                               </mat-error>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field class="col-sm-12" appearance="legacy">
                              <input matInput #input [matDatepicker]="picker" formControlName="fechaNacimiento" name="fechaNacimiento" placeholder="Fecha Nacimiento" required>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              <mat-error *ngIf="((myForm.get('fechaNacimiento').touched ||
                              myForm.get('fechaNacimiento').dirty) &&
                              myForm.get('fechaNacimiento').errors)">
                                <span *ngIf="myForm.get('fechaNacimiento').errors.required">
                                 Campo requerido
                                </span>
                              </mat-error>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field class="col-sm-12" appearance="legacy">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="sexo" name="sexo"  required>
                                  <mat-option  value="MASCULINO">Masculino</mat-option>
                                  <mat-option value="FEMENINO">Femenino</mat-option>
                                </mat-select>
                                <mat-error *ngIf="((myForm.get('sexo').touched ||
                                myForm.get('sexo').dirty) &&
                                myForm.get('sexo').errors)">
                                  <span *ngIf="myForm.get('sexo').errors.required">
                                   Campo requerido
                                  </span>
                                </mat-error>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field class="col-sm-12" appearance="legacy">
                                <mat-label>Estado Civil</mat-label>
                                <mat-select formControlName="estadoCivil" name="estadoCivil" required>
                                  <mat-option (click)="isSeparacionBienes = true" value="SOLTERO/A">Soltero/a</mat-option>
                                  <mat-option (click)="isSeparacionBienes = false" value="CASADO/A">Casado/a</mat-option>
                                  <mat-option (click)="isSeparacionBienes = true" value="VIUDO/A">Viudo/a</mat-option>
                                </mat-select>
                                <mat-error *ngIf="((myForm.get('estadoCivil').touched ||
                                myForm.get('estadoCivil').dirty) &&
                                myForm.get('estadoCivil').errors)">
                                  <span *ngIf="myForm.get('estadoCivil').errors.required">
                                   Campo requerido
                                  </span>
                                </mat-error>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <section class="example-section">
                                  <mat-checkbox (click)="onClickSepaBienes($event)"  [disabled]="isSeparacionBienes" class="example-margin" formControlName="separacionBienes" name="separacionBienes" required>Separacion Bienes</mat-checkbox>
                             </section>
                           </div>
                           <div class="col-md-3">

                                <app-select-filter (value)="getValue($event, myForm.get('nacionalidad'))" placeholder="Nacionalidad" urlFilter="nacionalidades" [columnsFilter]="['codigo', 'nombre']"></app-select-filter>
                                <!-- <mat-select formControlName="nacionalidad" name="nacionalidad" placeholder="Nacionalidad"  required>
                                   <mat-form-field appearance="legacy">
                                       <input matInput #filterInputNationaliti placeholder="Buscar.....">
                                       <mat-icon matSuffix>search</mat-icon>
                                   </mat-form-field>
                                    <mat-option *ngFor="let nac of nationalities"  [value]="nac">{{nac.nombre}}</mat-option>
                                </mat-select> -->

                           </div>
                       </div>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                        <input matInput #input  placeholder="Primer Nombre" formControlName="primerNombre" name="primerNombre" required>
                        <mat-error *ngIf="((myForm.get('primerNombre').touched ||
                        myForm.get('primerNombre').dirty) &&
                        myForm.get('primerNombre').errors)">
                          <span *ngIf="myForm.get('primerNombre').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                        <input matInput #input  placeholder="Segundo Nombre" formControlName="segundoNombre" name="segundoNombre">
                        <mat-error *ngIf="((myForm.get('segundoNombre').touched ||
                        myForm.get('segundoNombre').dirty) &&
                        myForm.get('segundoNombre').errors)">
                          <span *ngIf="myForm.get('segundoNombre').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                        <input matInput #input  placeholder="Primer Apellido" formControlName="primerApellido" name="primerApellido" required>
                        <mat-error *ngIf="((myForm.get('primerApellido').touched ||
                        myForm.get('primerApellido').dirty) &&
                        myForm.get('primerApellido').errors)">
                          <span *ngIf="myForm.get('primerApellido').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                        <input matInput #input  placeholder="Segundo Apellido" formControlName="segundoApellido" name="segundoApellido">
                        <mat-error *ngIf="((myForm.get('segundoApellido').touched ||
                        myForm.get('segundoApellido').dirty) &&
                        myForm.get('segundoApellido').errors)">
                          <span *ngIf="myForm.get('segundoApellido').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                       <input matInput #input  placeholder="Email" formControlName="email" name="email" required>
                       <mat-error *ngIf="((myForm.get('email').touched ||
                       myForm.get('email').dirty) &&
                       myForm.get('email').errors)">
                         <span *ngIf="myForm.get('email').errors.required">
                          Campo requerido
                         </span>
                       </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                    	<mat-form-field   class="col-sm-12" appearance="legacy">
                    		<input matInput #input  placeholder="Telefono Particular" formControlName="telefonoParticular" name="telefonoParticular" required>
                        <mat-error *ngIf="((myForm.get('telefonoParticular').touched ||
                        myForm.get('telefonoParticular').dirty) &&
                        myForm.get('telefonoParticular').errors)">
                          <span *ngIf="myForm.get('telefonoParticular').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                    	</mat-form-field>
                    </div>
                    <div class="col-md-4">
                    	<mat-form-field   class="col-sm-12" appearance="legacy">
                    		<input matInput #input  placeholder="Telefono Secundario" formControlName="telefonoSecundario" name="telefonoSecundario">
                        <mat-error *ngIf="((myForm.get('telefonoSecundario').touched ||
                        myForm.get('telefonoSecundario').dirty) &&
                        myForm.get('telefonoSecundario').errors)">
                          <span *ngIf="myForm.get('telefonoSecundario').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                    	</mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                         <input matInput #input type="number" min="0"  placeholder="Numero Hijos" formControlName="numeroHijos" name="numeroHijos">
                         <mat-error *ngIf="((myForm.get('numeroHijos').touched ||
                         myForm.get('numeroHijos').dirty) &&
                         myForm.get('numeroHijos').errors)">
                           <span *ngIf="myForm.get('numeroHijos').errors.required">
                            Campo requerido
                           </span>
                         </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                         <input matInput #input type="number" min="0"  placeholder="Numero Dependientes" formControlName="numeroDependientes" name="numeroDependientes">
                         <mat-error *ngIf="((myForm.get('numeroDependientes').touched ||
                         myForm.get('numeroDependientes').dirty) &&
                         myForm.get('numeroDependientes').errors)">
                           <span *ngIf="myForm.get('numeroDependientes').errors.required">
                            Campo requerido
                           </span>
                         </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                    	<mat-form-field   class="col-sm-12" appearance="legacy">
                    		<input matInput #input  placeholder="Observacion" formControlName="observacion" name="observacion">
                        <mat-error *ngIf="((myForm.get('observacion').touched ||
                        myForm.get('observacion').dirty) &&
                        myForm.get('observacion').errors)">
                          <span *ngIf="myForm.get('observacion').errors.required">
                           Campo requerido
                          </span>
                        </mat-error>
                    	</mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <h4  class="m-0"><mat-icon class="gray-text">directions</mat-icon>Direccion</h4>
                      <br>
                    </div>
                    <div class="col-md-12">
                      <app-map (valueLocationChange)="getAddress($event)"></app-map>
                    </div>
                    <div class="col-md-3">
                      <app-select-filter (value)="getValue($event, myForm.get('pais'))" placeholder="Pais" urlFilter="paises" [columnsFilter]="['nombre']"></app-select-filter>
                      <!-- <mat-form-field class="col-sm-12" appearance="legacy">
                         <mat-label>Pais</mat-label>
                         <mat-select (openedChange)="myInput.focus()" formControlName="pais" (ngModelChange)="filterDepartmentsCountri()"  name="pais" placeholder="Pais"  required>
                              <mat-form-field appearance="legacy">
                                <input class="myInput" #myInput matInput (keyup)="filterCountries($event.target.value)" focused="'true'" autocomplete="off" placeholder="Buscar.....">
                                <mat-icon matSuffix>search</mat-icon>
                              </mat-form-field>
                             <mat-option *ngFor="let coun of countries"  [value]="coun">{{coun.nombre}}</mat-option>
                         </mat-select>
                      </mat-form-field> -->
                    </div>
                    <div class="col-md-3">
                      <app-select-filter (value)="getValue($event, myForm.get('departamento'))" [disabled]="true" placeholder="Departamento"
                       urlFilter="departamentos" [columnsFilter]="['nombre']" [fkFilterModel]="myForm.get('pais').value"></app-select-filter>
                    </div>
                    <div class="col-md-3">
                      <app-select-filter (value)="getValue($event, myForm.get('ciudad'))" [disabled]="true" placeholder="Ciudad"
                       urlFilter="ciudades" [columnsFilter]="['nombre']" [fkFilterModel]="myForm.get('departamento').value"></app-select-filter>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="col-sm-12" appearance="legacy">
                         <mat-label>Barrio</mat-label>
                         <mat-select formControlName="barrio"  name="barrio" placeholder="Barrio"  required>
                            <mat-form-field appearance="legacy">
                                <input matInput #filterInputCities placeholder="Buscar.....">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                             <mat-option *ngFor="let citi of cities"  [value]="citi">{{citi.nombre}}</mat-option>
                         </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                        <input matInput #input  placeholder="Direccion" formControlName="direccionParticular" name="direccionParticular" required>
                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field   class="col-sm-12" appearance="legacy">
                        <input matInput #input  placeholder="Direccion Detallada" formControlName="direccionDetallada" name="direccionDetallada">
                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <h4  class="m-0"><mat-icon class="gray-text">contacts</mat-icon>Referencias</h4>
                          <br>
                        </div>
                        <div class="col-md-6">
                          <!-- <a mat-stroked-button  class="nav-link m-t-10 float-right" routerLink="/service-web/people/new">
                            Agregar
                          </a> -->
                          <a mat-mini-fab (click)="addButtonReferencias()" class="nav-link m-t-10 float-right" color="primary"><mat-icon>add_circle_outline</mat-icon></a>
                        </div>
                      </div>
                    </div>
                    <div formArrayName="referencias"  *ngFor="let referencias of myForm.get('referencias').controls; let i = index" class="form-group col-md-12">
                      <div [formGroupName]="i">
                        <div class="form-group" class="row">
                           <div class="col-sm-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Nombre"  formControlName="nombreContacto" name="nombreContacto" required>

                             </mat-form-field>
                           </div>
                           <div class="col-sm-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Celular"  formControlName="telefonoCelular" name="telefonoCelular" required>

                             </mat-form-field>
                           </div>
                           <div class="col-md-2">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Telefono" formControlName="telefono"  name="telefono">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                               <app-select-filter (value)="getValue($event,referencias.controls['tipoReferencia'])" placeholder="Tipo Referencia" urlFilter="tipos-referencias" [columnsFilter]="['nombre']"></app-select-filter>
                           </div>
                           <div class="col-md-1">
                             <section class="example-section">
                                  <a mat-icon-button (click)="deleteReferencias(referencias.value)"> <mat-icon>delete</mat-icon></a>
                             </section>
                           </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <h4  class="m-0"><mat-icon class="gray-text">store</mat-icon>Inmuebles</h4>
                          <br>
                        </div>
                        <div class="col-md-6">
                          <!-- <a mat-stroked-button  class="nav-link m-t-10 float-right" routerLink="/service-web/people/new">
                            Agregar
                          </a> -->
                          <a mat-mini-fab (click)="addButtonInmueble()" class="nav-link m-t-10 float-right" color="primary"><mat-icon>add_circle_outline</mat-icon></a>
                        </div>
                      </div>
                    </div>
                    <div formArrayName="bienesInmuebles"  *ngFor="let bienesInmuebles of myForm.get('bienesInmuebles').controls; let i = index" class="form-group col-md-12">
                      <div [formGroupName]="i">
                        <div class="form-group" class="row">
                           <div class="col-sm-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Direccion"  formControlName="direccion" name="direccion" required>

                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <app-select-filter (value)="getValue($event, bienesInmuebles.controls['pais'])" placeholder="Pais" urlFilter="paises" [columnsFilter]="['nombre']"></app-select-filter>
                           </div>
                           <div class="col-md-3">
                             <app-select-filter (value)="getValue($event, bienesInmuebles.controls['departamento'])" [disabled]="true" placeholder="Departamento"
                              urlFilter="departamentos" [columnsFilter]="['nombre']" [fkFilterModel]="bienesInmuebles.controls['pais'].value"></app-select-filter>
                           </div>
                           <div class="col-md-3">
                             <app-select-filter (value)="getValue($event, bienesInmuebles.controls['ciudad'])" [disabled]="true" placeholder="Ciudad"
                              urlFilter="ciudades" [columnsFilter]="['nombre']" [fkFilterModel]="bienesInmuebles.controls['departamento'].value"></app-select-filter>
                           </div>
                           <div class="col-md-3">
                             <section class="example-section">
                                  <mat-checkbox (click)="onClickSepaBienes($event)"   class="example-margin" formControlName="edificado" name="edificado" required>Edificado</mat-checkbox>
                             </section>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Nº de Finca" formControlName="numeroFinca"  name="numeroFinca">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Nº de Matricula" formControlName="numeroMatricula"  name="numeroMatricula">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Cuenta Catastral" formControlName="cuentaCatastral"  name="cuentaCatastral">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <section class="example-section">
                                  <mat-checkbox (click)="onClickSepaBienes($event)"   class="example-margin" formControlName="escriturado" name="escriturado" required>Escriturado</mat-checkbox>
                             </section>
                           </div>
                           <div class="col-md-3">
                             <section class="example-section">
                                  <mat-checkbox (click)="onClickSepaBienes($event)"   class="example-margin" formControlName="hipotecado" name="hipotecado" required>Hipotecado</mat-checkbox>
                             </section>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Lugar Hipoteca" formControlName="lugarHipoteca"  name="lugarHipoteca">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field class="col-sm-12" appearance="legacy">
                              <input matInput #input [matDatepicker]="pickerTo" formControlName="fechaHipoteca" name="fechaHipoteca" placeholder="Fecha Hipoteca">
                              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Valor Actual" formControlName="valorActual"  name="valorActual">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Saldo a Pagar" formControlName="saldo"  name="saldo">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Cuota Mensual" formControlName="cuotaMensual"  name="cuotaMensual">
                             </mat-form-field>
                           </div>
                           <div class="col-md-1">
                             <section class="example-section">
                                  <a mat-icon-button (click)="deleteReferencias(referencias.value)"> <mat-icon>delete</mat-icon></a>
                             </section>
                           </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <h4  class="m-0"><mat-icon class="gray-text">local_taxi</mat-icon>Vehiculos</h4>
                          <br>
                        </div>
                        <div class="col-md-6">
                          <!-- <a mat-stroked-button  class="nav-link m-t-10 float-right" routerLink="/service-web/people/new">
                            Agregar
                          </a> -->
                          <a mat-mini-fab (click)="addButtonInmueble()" class="nav-link m-t-10 float-right" color="primary"><mat-icon>add_circle_outline</mat-icon></a>
                        </div>
                      </div>
                    </div>
                    <div formArrayName="bienesVehiculo"  *ngFor="let bienesVehiculo of myForm.get('bienesInmuebles').controls; let i = index" class="form-group col-md-12">
                      <div [formGroupName]="i">
                        <div class="form-group" class="row">
                           <div class="col-sm-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Marca"  formControlName="marca" name="marca" required>

                             </mat-form-field>
                           </div>
                           <div class="col-sm-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Modelo"  formControlName="modeloAnio" name="modeloAnio" required>

                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Valor Actual" formControlName="valorActual"  name="valorActual">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Saldo a Pagar" formControlName="saldo"  name="saldo">
                             </mat-form-field>
                           </div>
                           <div class="col-md-3">
                             <mat-form-field   class="col-sm-12" appearance="legacy">
                               <input matInput #input  placeholder="Cuota Mensual" formControlName="cuotaMensual"  name="cuotaMensual">
                             </mat-form-field>
                           </div>
                           <div class="col-md-1">
                             <section class="example-section">
                                  <a mat-icon-button (click)="deleteReferencias(referencias.value)"> <mat-icon>delete</mat-icon></a>
                             </section>
                           </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-6">
                              <h4  class="m-0"><mat-icon class="gray-text">monetization_on</mat-icon>Ingresos</h4>
                              <br>
                            </div>
                            <div class="col-md-6">
                              <a mat-mini-fab (click)="addButtonInmueble()" class="nav-link m-t-10 float-right" color="primary"><mat-icon>add_circle_outline</mat-icon></a>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                                <app-select-filter (value)="getValue($event,referencias.controls['tipoReferencia'])" placeholder="Tipo Referencia" urlFilter="tipos-referencias" [columnsFilter]="['nombre']"></app-select-filter>
                            </div>
                            <div class="col-md-5">
                              <mat-form-field   class="col-sm-12" appearance="legacy">
                                <input matInput #input  placeholder="Monto" formControlName="monto"  name="monto">
                              </mat-form-field>
                            </div>
                            <div class="col-md-2">
                              <section class="example-section">
                                   <a mat-icon-button (click)="deleteReferencias(referencias.value)"> <mat-icon>delete</mat-icon></a>
                              </section>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-6">
                              <h4  class="m-0"><mat-icon class="gray-text">monetization_on</mat-icon>Egresos</h4>
                              <br>
                            </div>
                            <div class="col-md-6">
                              <a mat-mini-fab (click)="addButtonInmueble()" class="nav-link m-t-10 float-right" color="primary"><mat-icon>add_circle_outline</mat-icon></a>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                                <app-select-filter (value)="getValue($event,referencias.controls['tipoReferencia'])" placeholder="Tipo Referencia" urlFilter="tipos-referencias" [columnsFilter]="['nombre']"></app-select-filter>
                            </div>
                            <div class="col-md-5">
                              <mat-form-field   class="col-sm-12" appearance="legacy">
                                <input matInput #input  placeholder="Monto" formControlName="monto"  name="monto">
                              </mat-form-field>
                            </div>
                            <div class="col-md-2">
                              <section class="example-section">
                                   <a mat-icon-button (click)="deleteReferencias(referencias.value)"> <mat-icon>delete</mat-icon></a>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div formGroupName="conyuge" class="row" *ngIf="myForm.get('separacionBienes').value" >
                    <h4  class="m-0"><mat-icon class="gray-text">assignment_ind</mat-icon>Datos del Conyuge</h4>
                    <div class="col-md-12" style="background-color: #f8f8f9">
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="col-sm-12" appearance="legacy">
                             <mat-label>Sexo</mat-label>
                             <mat-select formControlName="sexo" name="conyuge.sexo"  required>
                               <mat-option  value="MASCULINO">Masculino</mat-option>
                               <mat-option value="FEMENINO">Femenino</mat-option>
                             </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Documento" formControlName="documento" name="conyuge.documento" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Ruc" formControlName="ruc" name="conyuge.ruc">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="col-sm-12" appearance="legacy">
                           <input matInput #input [matDatepicker]="pickerTo" formControlName="fechaNacimiento" name="conyuge.fechaNacimiento" placeholder="Fecha Nacimiento" required>
                           <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                           <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('nacionalidad'))" formControlName="pais" placeholder="Nacionalidad" urlFilter="nacionalidades" [columnsFilter]="['codigo', 'nombre']"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Primer Nombre" formControlName="primerNombre" name="conyuge.primerNombre" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Segundo Nombre" formControlName="segundoNombre" name="conyuge.segundoNombre">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Primer Apellido" formControlName="primerApellido" name="conyuge.primerApellido" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Segundo Apellido" formControlName="segundoApellido" name="conyuge.segundoApellido">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                           <input matInput #input  placeholder="Email" formControlName="email" name="conyuge.email" required>
                           <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        	<mat-form-field   class="col-sm-12" appearance="legacy">
                        		<input matInput #input  placeholder="Telefono Particular" formControlName="telefonoParticular" name="conyuge.telefonoParticular" required>
                        		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-md-3">
                        	<mat-form-field   class="col-sm-12" appearance="legacy">
                        		<input matInput #input  placeholder="Telefono Secundario" formControlName="telefonoSecundario" name="conyuge.telefonoSecundario">
                        		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                             <input matInput #input type="number" min="0"  placeholder="Numero Hijos" formControlName="numeroHijos" name="conyuge.numeroHijos">
                             <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                             <input matInput #input type="number" min="0"  placeholder="Numero Dependientes" formControlName="numeroDependientes" name="numeroDependientes">
                             <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        	<mat-form-field   class="col-sm-12" appearance="legacy">
                        		<input matInput #input  placeholder="Observacion" formControlName="observacion" name="observacion">
                        		<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <h4  class="m-0"><mat-icon class="gray-text">directions</mat-icon>Direccion</h4>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('pais'))" placeholder="Pais" urlFilter="paises" [columnsFilter]="['nombre']"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('departamento'))" [disabled]="true" placeholder="Departamento"
                           urlFilter="departamentos" [columnsFilter]="['nombre']" [fkFilterModel]="myForm.get('pais').value"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <app-select-filter (value)="getValue($event, conyuge.get('ciudad'))" [disabled]="true" placeholder="Ciudad"
                           urlFilter="ciudades" [columnsFilter]="['nombre']" [fkFilterModel]="myForm.get('departamento').value"></app-select-filter>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="col-sm-12" appearance="legacy">
                             <mat-label>Barrio</mat-label>
                             <mat-select formControlName="barrio"  name="conyuge.barrio" placeholder="Barrio"  required>
                                <mat-form-field appearance="legacy">
                                    <input matInput  placeholder="Buscar.....">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                                 <mat-option *ngFor="let citi of cities"  [value]="citi">{{citi.nombre}}</mat-option>
                             </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Direccion" formControlName="direccionParticular" name="conyuge.direccionParticular" required>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field   class="col-sm-12" appearance="legacy">
                            <input matInput #input  placeholder="Direccion Detallada" formControlName="direccionDetallada" name="conyuge.direccionDetallada">
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-card-actions>
                <button mat-button [type]="submit"  mat-raised-button>Guardar</button>
              </mat-card-actions>
          </form>
    </mat-card-content>
  </mat-card>
