<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/credits-solicitude"> Solicitud Creditos </a> &gt; <span class="current">Visualizar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <ng-container *ngIf="myForm.get('id').value && myForm.get('estado')?.value.id == 1">
    <a mat-raised-button class="m-l-10" routerLink="/service-web/credits-solicitude/{{myForm.get('id').value}}/edit">
      <i class="fa fa-pencil-square-o"></i>
      Editar
    </a>
    <a mat-raised-button class="m-l-10" (click)="delete(myForm.value)" *appCanAccess="['credits-solicitude', 'deleteCredits']">
      <i  class="fa fa-times" aria-hidden="true"></i>
      Borrar
    </a>
  </ng-container>
</div>
<mat-card class="form-card">
  <mat-card-content *ngIf="myForm.get('id').value">
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-md-12 m-b-10">
          <div class="row">
            <div class="col-lg-7 col-xl-8 m-b-10">
              <legend><mat-icon class="gray-text">event_note</mat-icon>Propuesta Credito</legend>
            </div>
            <div class="col-lg-5 col-xl-4">
              <div class="d-flex justify-content-end">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group" *ngIf="myForm.get('estado')?.value?.id == 1 || myForm.get('estado')?.value?.id == 5">
                    <button  type="button" class="btn btn-secondary" (click)="transferirPropuesta(myForm.get('id').value)" *appCanAccess="['credits-solicitude', 'editCredits']"><span class="font-bold">Transferir Propuesta</span></button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group" *ngIf="myForm.get('estado')?.value?.id != 4 && myForm.get('estado')?.value?.id != 6 && myForm.get('estado')?.value?.id != 7">
                    <button  type="button" class="btn btn-danger" (click)="abandonarPropuesta(myForm.get('id').value)" *appCanAccess="['credits-solicitude', 'abandonCredits']"><span class="font-bold">Abandonar</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <fieldset class="border-0">
              <div class="row">
                <div class="col-lg-3 order-lg-2 offset-lg-1 d-flex align-items-center justify-content-center m-b-30" *ngIf="myForm.get('id').value">
                  <div class="text-center">
                    <mat-icon class="gray-text big-icon m-t-20">assignment</mat-icon>
                    <div class="ng-star-inserted">
                      <div class="comment-text w-100">
                        <div class="comment-footer my-3">
                          <span class="label label-info"><span class="font-bold">Nº SOLICITUD: </span> {{myForm.get('id').value}}</span>
                        </div>
                        <div class="comment-footer">
                          <span class="text-muted"><span class="font-bold">Fecha Alta: </span>{{myForm.get('fechaPresentacion').value | date:'dd/MM/yyyy'}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="ng-star-inserted m-t-10">
                      <div class="comment-text w-100">
                        <div class="comment-footer">
                          <span class="text-muted"><span class="font-bold">Asesor: </span>{{
                            (myForm.controls['funcionario']?.value?.persona.primerNombre == null ? '' : myForm.controls['funcionario']?.value?.persona.primerNombre)
                            + ' ' +
                            (myForm.controls['funcionario']?.value?.persona.segundoNombre == null ? '' : myForm.controls['funcionario']?.value?.persona.segundoNombre)
                            + ' ' +
                            (myForm.controls['funcionario']?.value?.persona.primerApellido == null ? '' : myForm.controls['funcionario']?.value?.persona.primerApellido)
                            + ' ' +
                            (myForm.controls['funcionario']?.value?.persona.segundoApellido == null ? '' : myForm.controls['funcionario']?.value?.persona.segundoApellido)
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 order-lg-1 m-b-30">
                  <mat-card class="border">
                    <mat-card-content>
                      <div class="row">
                        <div class="col-lg-4 col-xl-3 order-lg-2 d-flex align-items-center justify-content-center">
                          <div class="avatar-detail">
                            <img *ngIf="myForm.controls['cliente'].get('persona').value.imagePath === null"  src="assets/images/users/1.jpg" alt="user" class="avatar-lg rounded-circle">
                            <img *ngIf="myForm.controls['cliente'].get('persona').value.imagePath !== null"  [src]="urlImage + '/DisplayImage?url=' + myForm.controls['cliente'].get('persona').value.imagePath"  alt="user" class="avatar-lg rounded-circle">
                          </div>
                        </div>
                        <div class="col-lg-8 col-xl-9 order-lg-1">
                          <h3>
                            {{
                              (myForm.controls['cliente'].get('persona').get('primerNombre')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('primerNombre')?.value)
                              + ' ' +
                              (myForm.controls['cliente'].get('persona').get('segundoNombre')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('segundoNombre')?.value)
                              + ' ' +
                              (myForm.controls['cliente'].get('persona').get('primerApellido')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('primerApellido')?.value)
                              + ' ' +
                              (myForm.controls['cliente'].get('persona').get('segundoApellido')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('segundoApellido')?.value)
                            }}
                          </h3>
                          <ul class="list-unstyled">
                            <li class="font-14 p-t-10">
                              <mat-icon class="gray-text">assignment_ind</mat-icon>
                              {{(myForm.controls['cliente'].get('persona').get('documento')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('documento')?.value)
                              + (myForm.controls['cliente'].get('persona').get('ruc')?.value == null ? '' : '/' + myForm.controls['cliente'].get('persona').get('ruc')?.value)}}
                            </li>
                            <li *ngIf="myForm.controls['cliente'].get('persona')['controls'].profesion.value" class="font-14 p-t-10">
                              <mat-icon class="gray-text">work</mat-icon>
                              {{myForm.controls['cliente'].get('persona')['controls'].profesion.value?.nombre}}
                            </li>
                            <li *ngIf="myForm.controls['cliente'].get('persona').get('email')?.value" class="font-14 p-t-10">
                              <mat-icon class="gray-text">email</mat-icon>
                              {{myForm.controls['cliente'].get('persona').get('email')?.value }}
                            </li>
                            <li class="font-14 p-t-10">
                              <mat-icon class="gray-text">phone</mat-icon>
                              {{
                                (myForm.controls['cliente'].get('persona').get('telefonoParticular')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('telefonoParticular')?.value)
                                + ' ' +
                                (myForm.controls['cliente'].get('persona').get('telefonoSecundario')?.value == null ? '' : myForm.controls['cliente'].get('persona').get('telefonoSecundario')?.value)
                              }}
                            </li>
                            <!--<li class="font-14 p-t-10">
                              <mat-list>
                                <mat-list-item>
                                  <p><span class="font-bold">Asesor Alias: </span> {{myForm.get('funcionario')?.value?.alias}}</p>
                                </mat-list-item>
                              </mat-list>
                            </li>
                            <li class="font-14 p-t-10">
                              <mat-list>
                                <mat-list-item>
                                  <p><span class="font-bold">Asesor Legajo: </span> {{myForm.get('funcionario')?.value?.nroLegajo}}</p>
                                </mat-list-item>
                              </mat-list>
                            </li> -->
                          </ul>
                          <button type="button" class="btn btn-outline-secondary waves-effect px-3 btn-sm m-r-5 m-t-5" (click)="viewPeople(myForm.get('id').value, myForm.get('cliente').get('persona').get('id').value,'DEUDOR')" color="primary">
                            Detalle
                          </button>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="col-sm-4">
                    <p mat-line><span class="font-bold">Modalidad: </span> {{myForm.get('modalidad')?.value.nombre}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p mat-line><span class="font-bold">Tipo Calculo: </span> {{myForm.get('tipoCalculoImporte')?.value.nombre}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p mat-line><span class="font-bold">Monto: </span> {{myForm.get('montoSolicitado')?.value | number}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p mat-line><span class="font-bold">Destino: </span> {{myForm.get('tipoDestino')?.value.nombre}}</p>
                  </div>
                  <div class="col-sm-8">
                    <p mat-line><span class="font-bold">Aclaracion Destino: </span> {{myForm.get('detalleDestino')?.value}}</p>
                  </div>
                  <div [class]="(myForm.get('tipoDesembolso').value == null || myForm.get('tipoDesembolso').value.id != 2) ?  'col-md-4' : 'col-md-3'">
                    <p mat-line><span class="font-bold">Tipo Garantia: </span> {{myForm.get('tipoGarantia')?.value.nombre}}</p>
                  </div>
                  <div [class]="(myForm.get('tipoDesembolso').value == null || myForm.get('tipoDesembolso').value.id != 2) ?  'col-md-4' : 'col-md-3'">
                    <p mat-line><span class="font-bold">Forma Pago: </span> {{myForm.get('tipoPago')?.value.nombre}}</p>
                  </div>
                  <div [class]="(myForm.get('tipoDesembolso').value == null || myForm.get('tipoDesembolso').value.id != 2) ?  'col-md-4' : 'col-md-3'">
                    <p mat-line><span class="font-bold">Forma Desembolso: </span> {{myForm.get('tipoDesembolso')?.value.nombre}}</p>
                  </div>
                  <div class="col-md-3" *ngIf="(myForm.get('tipoDesembolso').value != null && myForm.get('tipoDesembolso').value.id == 2)">
                    <p mat-line><span class="font-bold">Beneficiario Cheque: </span> {{myForm.get('beneficiarioCheque')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Periodo Capital: </span> {{myForm.get('periodoCapital')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Plazo: </span> {{myForm.get('plazo')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Cant. Amortiz.: </span> </p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Vto. Interes: </span> {{myForm.get('vencimientoInteres')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Periodo Gracia: </span> {{myForm.get('periodoGracia')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Periodo Interés: </span> {{myForm.get('periodoInteres')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Tasa Interés Anual(%): </span> {{myForm.get('tasaInteres')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Gastos Administrativos(%): </span> {{myForm.get('gastosAdministrativos')?.value}}</p>
                  </div>
                  <div class="col-md-4">
                    <p mat-line><span class="font-bold">Estado: </span> {{myForm.get('estado')?.value.nombre}}</p>
                  </div>
                  <div class="col-md-12">
                    <p mat-line><span class="font-bold">Observacion: </span> {{myForm.get('observacionesDepartamento')?.value}}</p>
                  </div>
                  <div class="col-md-4" *ngIf="myForm.get('fechaAprobacion')?.value">
                    <p mat-line><span class="font-bold">Fecha Aprobación: </span> {{myForm.get('fechaAprobacion')?.value | date:'MM/dd/yyyy'}}</p>
                  </div>
                  <div class="col-md-4" *ngIf="myForm.get('fechaRechazo')?.value">
                    <p mat-line><span class="font-bold">Fecha Rechazo: </span> {{myForm.get('fechaRechazo')?.value | date:'MM/dd/yyyy'}}</p>
                  </div>
                </div>
          </div>
      </fieldset>
    </div>
<div class="col-md-12">
  <fieldset class="m-t-20">
    <legend><mat-icon class="gray-text">event_note</mat-icon>Descuentos</legend>
    <div class="row">
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Impuestos: </span> {{myForm.get('impuestos')?.value}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Comision: </span> {{myForm.get('comision')?.value}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Gastos Varios: </span> {{myForm.get('gastosVarios')?.value}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Seguros: </span> {{myForm.get('seguros')?.value}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Tipo Descuento: </span> {{myForm.get('tipoDescuento')?.value === 'I-D' ? 'IMPORTE DISPONER' : 'IMPORTE SOLICITAR'}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Monto Original: </span> {{myForm.get('montoSolicitadoOriginal').value | number}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Monto Entregar: </span> {{myForm.get('importeEntregar').value | number}}</p>
      </div>
      <div class="col-md-3">
        <p mat-line><span class="font-bold">Cuota: </span> {{myForm.get('importeCuota').value | number}}</p>
      </div>
    </div>
  </fieldset>
</div>
<div class="col-md-12" *ngIf="myForm.get('codeudor')?.value?.id">
  <fieldset class="m-t-20">
    <legend><mat-icon class="gray-text">people_outline</mat-icon>Codeudores</legend>
    <div class="row">
      <div class="col-md-4">
        <!-- <fieldset class="m-t-10" > -->
        <div class="row">
          <div class="col-md-12 w3-container w3-border w3-round-xlarge p-20">
            <div class="d-flex align-items-center m-b-30">
              <div class="avatar-detail">
                <img *ngIf="myForm.controls['codeudor'].value.imagePath === null"  src="assets/images/users/1.jpg" alt="user" class="avatar-lg rounded-circle">
                <img *ngIf="myForm.controls['codeudor'].value.imagePath !== null"  [src]="urlImage + '/DisplayImage?url=' + myForm.controls['codeudor'].value.imagePath"  alt="user" class="avatar-lg rounded-circle">
              </div>
              <div class="p-l-20 m-t-10">
                <div class="font-medium">{{
                  (myForm.controls['codeudor']?.value?.primerNombre == null ? '' : myForm.controls['codeudor']?.value?.primerNombre)
                  + ' ' +
                  (myForm.controls['codeudor']?.value?.segundoNombre == null ? '' : myForm.controls['codeudor']?.value?.segundoNombre)
                  + ' ' +
                  (myForm.controls['codeudor']?.value?.primerApellido == null ? '' : myForm.controls['codeudor']?.value?.primerApellido)
                  + ' ' +
                  (myForm.controls['codeudor']?.value?.segundoApellido == null ? '' : myForm.controls['codeudor']?.value?.segundoApellido)
                }} </div>
                <span class="font-14">Doc.: {{(myForm.controls['codeudor']?.value?.documento == null ? '' : myForm.controls['codeudor']?.value?.documento)
                  + (myForm.controls['codeudor']?.value?.ruc == null ? '' : '/' + myForm.controls['codeudor']?.value?.ruc)}}</span>
                  <br>
                  <span class="font-16" *ngIf="myForm.controls['codeudor']?.value?.profesion">{{myForm.controls['codeudor']?.value?.profesion?.nombre}}</span>
                  <br>
                  <span class="font-16" *ngIf="myForm.controls['codeudor']?.value?.email">{{myForm.controls['codeudor']?.value?.email }}</span>
                  <br>
                  <span class="font-14">Telf. {{
                    (myForm.controls['codeudor']?.value?.telefonoParticular == null ? '' : myForm.controls['codeudor']?.value?.telefonoParticular)
                    + ' ' +
                    (myForm.controls['codeudor']?.value?.telefonoSecundario == null ? '' : myForm.controls['codeudor']?.value?.telefonoSecundario)
                  }}</span>
                  <br>
                  <button type="button" class="btn btn-outline-secondary waves-effect px-3 btn-sm m-r-5" (click)="viewPeople(myForm.get('id').value, myForm.controls['codeudor']?.value?.id,'CODEUDOR')" color="primary">Detalle</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-12" *ngIf="myForm.get('evaluacion').value && myForm.get('estado')?.value?.codigo !== 'ABA' ">
    <fieldset class="m-t-20">
      <legend><mat-icon class="gray-text">filter</mat-icon>Analisis Solicitud</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-row comment-row ng-star-inserted">
            <div class="comment-text w-100">
              <div class="comment-footer">
                <span class="text-muted pull-right"><span class="font-bold">Fecha Inicio: </span>{{myForm.get('evaluacion')?.value.fechaInicioAnalisis | date:'MM/dd/yyyy'}}</span>
                <span class="label label-info"><span class="font-bold">Nº ANALISIS: </span> {{myForm.get('evaluacion')?.value.id}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p mat-line><span class="font-bold">Estado: </span> {{myForm.get('evaluacion')?.value?.estado.nombre}}</p>
        </div>
        <div class="col-md-4" *ngIf="myForm.get('evaluacion')?.value.montoAprobado">
          <p mat-line><span class="font-bold">Monto Aprobado: </span> {{myForm.get('evaluacion')?.value?.montoAprobado}}</p>
        </div>
        <div class="col-md-4">
          <p mat-line><span class="font-bold">Funcionario Analisis: </span> {{myForm.get('evaluacion')?.value?.funcionarioAnalisis?.alias}}</p>
        </div>
        <div class="col-md-4" *ngIf="myForm.get('evaluacion')?.value.funcionarioAprobacion?.alias">
          <p mat-line><span class="font-bold">Funcionario Aprobación: </span> {{myForm.get('evaluacion')?.value?.funcionarioAprobacion?.alias}}</p>
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <textarea matInput placeholder="Recomendación" [value]="myForm.get('evaluacion')?.value?.observacionRecomendacion"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <textarea matInput placeholder="Observación Desembolso" [value]="myForm.get('evaluacion')?.value?.observacion"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12 m-t-10" *ngIf="myForm.get('evaluacion')?.value?.estado?.id == 6">
          <fieldset>
            <legend>Resolución Aprobación</legend>
            <div class="row">
              <div class="col-md-4">
                <p mat-line><span class="font-bold">Monto Aprobado: </span> {{myForm.get('evaluacion')?.value?.montoAprobado | number}}</p>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <textarea matInput placeholder="Observación Aprobación" [value]="myForm.get('evaluacion')?.value?.obsApro"></textarea>
                </mat-form-field>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-12 m-t-10" *ngIf="myForm.get('evaluacion')?.value?.estado?.id == 5">
          <fieldset>
            <legend>Observación Retransferencia</legend>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <textarea matInput placeholder="Observación" [value]="myForm.get('evaluacion')?.value?.observacionRetransferencia"></textarea>
                </mat-form-field>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-12  m-t-10" *ngIf="myForm.get('id').value && myForm.get('entidad').value">
    <app-view-upload [entidad]="myForm.get('entidad').value" [idEntidad]="myForm.get('id').value"></app-view-upload>
  </div>
</div>
</form>
</mat-card-content>
</mat-card>
