
<div class="mat-button-single-row">
  <h2 class="breadcrumb2 m-l-2"><a class="previous" routerLink="/service-web/client"> Clientes </a> &gt; <span class="current">Visualizar</span></h2>
  <span  style="flex: 1 1 0%; box-sizing: border-box;"></span>
  <a mat-raised-button class="m-l-10" routerLink="/service-web/client/{{myForm.get('id').value}}/edit">
    <i _ngcontent-ugv-c42="" class="fa fa-pencil-square-o"></i>
     Editar
  </a>
  <a mat-raised-button class="m-l-10" (click)="delete(myForm.value)" *appCanAccess="['client', 'deleteClient']">
    <i  class="fa fa-times" aria-hidden="true"></i>
     Borrar Cliente
  </a>
</div>
<mat-card class="form-card">
  <mat-card-content>
        <form [formGroup]="myForm">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12" *ngIf="myForm.value.sucursal">
                    <div mat-stroked-button class="nav-link" class="m-t-10 float-right">
                      {{myForm.value.sucursal.nombre}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <app-view-people></app-view-people>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <app-view-reference [fkFilterModel]="myForm.value.persona.id"></app-view-reference>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <app-view-occupation [fkFilterModel]="myForm.value.persona.id"></app-view-occupation>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <app-view-estate [fkFilterModel]="myForm.value.persona.id"></app-view-estate>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <app-view-vehicle [fkFilterModel]="myForm.value.persona.id"></app-view-vehicle>
                  </div>
                  <div class="col-md-12 m-t-20">
                    <div class="row">
                      <div class="col-md-6">
                        <app-view-ingress [fkFilterModel]="myForm.value.persona.id"></app-view-ingress>
                      </div>
                      <div class="col-md-6">
                        <app-view-egresss [fkFilterModel]="myForm.value.persona.id"></app-view-egresss>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
  </mat-card-content>
</mat-card>
