.gray-text {
  color: #777;
  vertical-align: text-bottom;
  margin-right: 5px;
}
fieldset{
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2;
}
.mat-list-base {
    padding-top: 1px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
}
